@model CCIA.Models.AdminVarietyDetailsViewModel


<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>Variety Details</h2> 
        </div>            
    </div>
    @if(this.User.IsInRole("EditVarieties"))
    {             
        <div class="row">
        <div class="col-sm-12">                   
            <a asp-action="Edit" asp-route-id="@Model.variety.Id" class="btn btn-primary">Edit</a>
        </div>            
    </div>   
    } 
    <div class="row"> 
        <div class="col-md-6 col-xl-4"> @* First column *@
            <div class="form-group row">
                <label asp-for="variety.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.variety.Id)
                </div>
            </div>    
            <div class="form-group row">
                <label asp-for="variety.Crop.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.variety.Crop.Name)
                </div>
            </div>  
            @if(Model.variety.Type != "official")
            {
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarOffId" class="col-sm-3 col-form-label">Parent ID</label>
                    <div class="col-sm-9 form-control-plaintext">
                        <a asp-action="Details" asp-route-id="@Model.variety.ParentId">@Model.variety.ParentId</a>
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.OECD" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.OECD" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PrivateCode" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.PrivateCode" class="col-sm-3 form-control">
                </div>
            } else
            {
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarCategory" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.VarCategory)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.OECD" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.OECD" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.CCIACertified" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.CCIACertified" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PendingCertification" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.PendingCertification" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.GermplasmEntity" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.GermplasmEntity" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PlantPatent" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.PlantPatent" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Pvp" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.Pvp" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PvpExpDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.PvpExpDate.HasValue)
                        {
                            @Model.variety.VarietyOfficial.PvpExpDate.Value.ToShortDateString()
                        }                        
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarReviewBoard" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.VarReviewBoard" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.RiceQa" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.RiceQa" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.HistoricalName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.HistoricalName)
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6 col-xl-4"> @* Second column *@ 
            <div class="form-group row">
                <label asp-for="variety.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.variety.Name)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="variety.Crop.Genus" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.variety.Crop.Genus)
                </div>
            </div> 
            @if(Model.variety.Type != "official")
            { 
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarOffName" class="col-sm-3 col-form-label">Parent Name</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.VarOffName)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Experimental" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.Experimental" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Confidential" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.Confidential" class="col-sm-3 form-control">
                </div>                
            }  else
            {
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PrivateCode" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.PrivateCode" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Confidential" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.Confidential" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.CCIACertifiedDate" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.CCIACertifiedDate.HasValue){                            
                            @Model.variety.VarietyOfficial.CCIACertifiedDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Active" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.Active" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.CtcApproved" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.CtcApproved" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PlantPatentNum" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.PlantPatentNum)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PvpDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.PvpDate.HasValue)
                        {
                            @Model.variety.VarietyOfficial.PvpDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PvpYears" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.PvpYears)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarReviewBoardDate" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.VarReviewBoardDate.HasValue)
                        {
                            @Model.variety.VarietyOfficial.VarReviewBoardDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.RiceQaColor" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.RiceQaColor)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.DescriptionOnFile" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.DescriptionOnFile" class="col-sm-3 form-control">
                </div>
            }
        </div>
        <div class="col-md-6 col-xl-4"> @* Third Col *@ 
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Type</label>
                <div class="col-sm-9 form-control-plaintext">
                    @if(Model.variety.Type != "official")
                    {
                        <span>Family</span>
                    } else
                    {
                        <span>Official</span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="variety.Crop.Species" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.variety.Crop.Species)
                </div>
            </div>
            @if(Model.variety.Type != "official") 
            {
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.InUse" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.InUse" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.Alias" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyFamily.Alias" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.VarietyType" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyFamily.VarietyType)
                    </div>
                </div>  
            } else
            {
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Experimental" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.Experimental" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.VarStatus" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.VarStatus)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.CCIACertifier" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.CCIACertifier)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.ReasonForInactive" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.ReasonForInactive)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.CtcDateApproved" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.CtcDateApproved.HasValue)
                        {
                            @Model.variety.VarietyOfficial.CtcDateApproved.Value.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PlantPatentDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @if(Model.variety.VarietyOfficial.PlantPatentDate.HasValue)
                        {
                            @Model.variety.VarietyOfficial.PlantPatentDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.PvpNumber" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.PvpNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.TitleV" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.TitleV" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.OtherStateCert" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.OtherStateCert)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Turfgrass" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="variety.VarietyOfficial.Turfgrass" class="col-sm-3 form-control">
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Owner</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.OwnerOrganization.NameAndId)
                    </div>
                </div>
            }
        </div>
    </div>
    @if(Model.variety.Countries.Any())
    { 
    <div class="col-sm-12"><hr></div>
    <div><h4>Countries for Export</h4></div>
    <div class="row col-sm-2">
        <table class="table">
            <tr>
                <th>Countries</th>
            </tr>
            @foreach (var item in Model.variety.Countries)
            {
                <tr>
                    <td>@item.Country.Name</td>                    
                </tr>                                
            }
        </table>        
    </div>    
    }    
    <div class="col-sm-12"><hr></div>
    @if(@Model.variety.Type != "official")
    {
        <div class="row">
            <div class="col-sm-12">               
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.DescHyperlink" class="col-sm-2 col-form-label"></label>
                    <a href="@Model.variety.VarietyFamily.DescHyperlink" target="_blank" class="col-sm-10 form-control-plaintext">@Model.variety.VarietyFamily.DescHyperlink</a>                    
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.VarComments" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyFamily.VarComments)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="variety.VarietyFamily.UpdateComments" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyFamily.UpdateComments)
                    </div>
                </div>
            </div>
        </div>  
    } else
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">PVG G0 collection</label>
                    <div class="col-sm-9 form-control-plaintext">
                        EPA Ecoregion: @Model.variety.VarietyOfficial.Ecoregion @(Model.variety.VarietyOfficial.EcoRegionTranslate != null ? Model.variety.VarietyOfficial.EcoRegionTranslate.Name : "") 
                        Elevation: @Model.variety.VarietyOfficial.Elevation 
                        County: @(Model.variety.VarietyOfficial.HarvestCounty != null ? @Model.variety.VarietyOfficial.HarvestCounty.Name  : "")
                        State: @(Model.variety.VarietyOfficial.StateHarvested != null ?  @Model.variety.VarietyOfficial.StateHarvested.Name : "")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.DescHyperlink" class="col-sm-2 col-form-label"></label>
                    <a href="@Model.variety.VarietyOfficial.DescHyperlink" target="_blank" class="col-sm-10 form-control-plaintext">@Model.variety.VarietyOfficial.DescHyperlink</a>                    
                </div>
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.BriefDescription" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.BriefDescription)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="variety.VarietyOfficial.Comments" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.variety.VarietyOfficial.Comments)
                    </div>
                </div>
            </div>
        </div>  
    }
    <div class="row">
        <div class="col-sm-12"><hr></div>
        <div class="col-sm-6" >
            <h4>Variety Family info</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Type</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var var in Model.familyInfo)
                    {
                        <tr>
                            <td>@var.Id</td>
                            <td>@var.Name</td>
                            <td>@var.Type</td>
                            <td><a asp-action="Details" asp-route-id="@var.Id" class="btn btn-info">Details</a></td>
                        </tr>                        
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            @if(Model.BlendComponents.Any())
            {
                 <h4>Blend Component Info</h4>
                  @if(this.User.IsInRole("EditVarieties")){
                                    <a asp-action="AddComponent" asp-route-id="@Model.variety.Id" class="btn btn-info">add component</a>
                                }
                 <table class="table">
                    <thead>
                        <tr>
                            <th>VarId</th>
                            <th>Variety</th>
                            <th>%</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comp in Model.BlendComponents)
                        {
                            <tr>
                                <td>@comp.ComponentVarietyId</td>
                                <td>@comp.ComponentVariety?.Name</td>
                                <td>@comp.ComponentPercent</td>
                                @if(this.User.IsInRole("EditVarieties")){
                                    <td><a asp-action="EditComponent" asp-route-id="@comp.Id">Edit</a></td>
                                }
                            </tr>                            
                        }
                    </tbody>
                 </table>
            } else if(!Model.BlendComponents.Any() && Model.variety.Type == "official" && this.User.IsInRole("EditVarieties")) {
                <span>This variety is not currently listed as a blend. If it should be, <a asp-action="AddComponent" asp-route-id="@Model.variety.Id" class="btn btn-info">add component</a>.</span>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(":checkbox").on("click", false);
    </script>
   
}
