<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/cupertino/jquery-ui.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CCIA Web App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://ccia.ucdavis.edu/">CCIA Homepage</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://ccia.ucdavis.edu/">CCIA Home</a></li>                    
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div class="navbar-header">
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a asp-controller="Applications" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Field Applications<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Application Home</a></li>
                            <li role="separator" class="divider"></li>
                            @{
                                var sdParams = new Dictionary<string, string>
                                {
                                    { "appTypeId", "1" }
                                };
                                var poParams = new Dictionary<string, string>
                                {
                                    { "appTypeId", "2" }
                                };
                            }
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="GrowerLookup" asp-all-route-data="sdParams">Grow Certified Seed</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="GrowerLookup" asp-all-route-data="poParams">Grow Certified Potatoes</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Heritage Grain QA</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Pre-Variety Germplasm</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Rice QA</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Hemp</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">FIR Summary</a></li>
                            <li><a class="dropdown-item" asp-controller="Application" asp-action="Index">Application Renewals</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a asp-controller="Seeds" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seeds<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Seeds" asp-action="Index">Seeds Home</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="Seeds" asp-action="Index">New Certified Seed Lot</a></li>
                            <li><a class="dropdown-item" asp-controller="Seeds" asp-action="Index">New QA/PVG Lot</a></li>                                                       
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a asp-controller="Tag" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Tag" asp-action="Index">Tags Home</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="Tag" asp-action="Index">Request New Tag</a></li>
                            <li><a class="dropdown-item" asp-controller="Tag" asp-action="Index">Bulk Tag Request</a></li>
                            <li><a class="dropdown-item" asp-controller="Tag" asp-action="Index">OECD-Gray Tag/Not Finally Certified</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="OECD" asp-action="Index">OECD</a></li>
                    <li class="dropdown">
                        <a asp-controller="Blend" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blends<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Blend" asp-action="Index">Blends Home</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="Blend" asp-action="Index">New Lot Blend</a></li>
                            <li><a class="dropdown-item" asp-controller="Blend" asp-action="Index">New Varietal Blend</a></li>
                            <li><a class="dropdown-item" asp-controller="Blend" asp-action="Index">New In Dirt Blend</a></li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a asp-controller="BulkSalesCertificates" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bulk Sales/Transfers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="BulkSalesCertificates" asp-action="Index">New Bulk Sales Certificates</a></li>
                            <li><a class="dropdown-item" asp-controller="BulkSalesCertificates" asp-action="Index">Completed Bulk Sales Certificates</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="SeedTransfer" asp-action="Index">New Seed Transfer Certificates</a></li>
                            <li><a class="dropdown-item" asp-controller="SeedTransfer" asp-action="Index">Completed Seed Transfer Certificates</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-controller="Blend" asp-action="Index">My Customers</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="TurfgrassCertificate" asp-action="Index">Turfgrass Harvest Certificates</a></li>
                </ul>               
            </div>
        </div>
    </nav>
<div class="container body-content">
    @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["ErrorMessage"]
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
    {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["Message"]
        </div>
    }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 
        </div>
    </footer>

    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
