@model MasterApplicationViewModel

<section class="rounded-section light-grey">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="ps1-variety">Variety<em class="required">•</em></label>
            @Html.TextBox("PlantingStocks[0].PsEnteredVariety", "", new { @class="form-control", id="ps1-variety", placeholder="Variety" })
            @Html.ValidationMessage("PlantingStocks[0].PsEnteredVariety", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            <label for="cert-lot-num">Certification and Lot Number<em class="required">•</em></label>
            @Html.TextBox("PlantingStocks[0].PsCertNum", "", new { @class="form-control", id="cert-lot-num", placeholder="Certification and Lot Number" })
            @Html.ValidationMessage("PlantingStocks[0].PsCertNum", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            <label for="pounds-planted">Pounds Planted<em class="required">•</em></label>
            @Html.TextBox("PlantingStocks[0].PoundsPlanted", "", new { @class="form-control", id="pounds-planted", placeholder="Pounds Planted" })
            @Html.ValidationMessage("PlantingStocks[0].PoundsPlanted", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @{ ViewBag.name = "PlantingStocks[0].PsClass"; }
        <label>Class Planted</label><em class="required">•</em>
        @await Html.PartialAsync("Shared/_ClassRadioButtons", Model.AppViewModel)
        @Html.ValidationMessage("PlantingStocks[0].PsClass", "", new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label>State/Country where Planting Stock Tag was issued</label>
            @{ViewBag.name = "PlantingStocks[0].StateCountryTagIssued";}
            @await Html.PartialAsync("Shared/_StateCountryDropdown")
        </div>
        <div class="form-group col-md-6">
            <label>State/Country where Planting Stock was Grown</label>
            @{ViewBag.name = "PlantingStocks[0].StateCountryGrown";}
            @await Html.PartialAsync("Shared/_StateCountryDropdown")
        </div>
    </div>

    <div class="form-group">
        <label for="seed-purchased-from">Seed purchased/acquired from</label>
        @Html.TextBox("PlantingStocks[0].SeedPurchasedFrom", "", new { @class="form-control", id="seed-purchased-from", placeholder="Seed purchased/acquired from" })
        @Html.ValidationMessage("PlantingStocks[0].SeedPurchasedFrom", "", new { @class = "text-danger"})
    </div>
</section>