@model MasterApplicationViewModel

<section class="rounded-section light-blue pos-rel">
    <button type="button" id="remove-ps2" onclick="removeSecondPSEntry();" class="btn circular top-right-btn" data-toggle="tooltip" data-placement="top" title="Remove this planting stock record">
        <i id="remove-ps2" class="fas fa-times"></i>
    </button>    
    <div class="row" id="second-ps-first-row">
        <div class="form-group col">
            @{ ViewData["varietyName"] = "AppSpecificPlantingStocks[1].PsEnteredVariety"; } 
            @await Html.PartialAsync("Shared/_VarietySelect")
        </div>
        @Html.ValidationMessage("AppSpecificPlantingStocks[1].PsEnteredVariety", "", new { @class = "text-danger" })
        <div class="form-group col">
            <label for="cert-lot-num">Certification and Lot Number<em class="required">•</em></label>
            @Html.TextBox("AppSpecificPlantingStocks[1].PsCertNum", "", new { @class="form-control", id="cert-lot-num", placeholder="Certification and Lot Number" })
            @Html.ValidationMessage("AppSpecificPlantingStocks[1].PoundsPlanted", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                @{ ViewBag.name = "AppSpecificPlantingStocks[1].PsClass"; }
                <label>Class Planted</label><em class="required">•</em>
                @await Html.PartialAsync("Shared/_ClassDropdown")
                @Html.ValidationMessage("AppSpecificPlantingStocks[1].PsClass", "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- Potato app doesn't have pounds planted field -->
        @if(Model.AppViewModel.AppTypeId != 2)
        {
            <div class="form-group col">
                <label for="pounds-planted">Pounds Planted
                    <!-- Special PVG Label -->
                    @if(Model.AppViewModel.AppTypeId == 4) {
                        <text>(1 for G0)</text>
                    }
                    <em class="required">•</em>
                </label>
                @Html.TextBox("AppSpecificPlantingStocks[1].PoundsPlanted", "", new { @class="form-control", id="pounds-planted", placeholder="Pounds Planted" })
                @Html.ValidationMessage("AppSpecificPlantingStocks[1].PoundsPlanted", "", new { @class = "text-danger" })
            </div>
        }
    </div>
    <div class="row">
        <!-- PVG and Heritage Apps don't have Tag Issued field -->
        @if(Model.AppViewModel.AppTypeId == 1 || Model.AppViewModel.AppTypeId == 2 || Model.AppViewModel.AppTypeId == 7)
        {
            <div class="form-group col">
                <label>State/Country Where PS Tag 
                    @if(Model.AppViewModel.AppTypeId == 7)
                    {
                        <text>or Breeder Letter</text>
                    }    
                    Was Issued</label>
                @{ViewBag.name = "AppSpecificPlantingStocks[1].StateCountryTagIssued";}
                @await Html.PartialAsync("Shared/_StateCountryDropdown")
        </div>
        }
        <div class="form-group col">
            <label>State/Country Where PS Was Grown</label>
            @{ViewBag.name = "AppSpecificPlantingStocks[1].StateCountryGrown";}
            @await Html.PartialAsync("Shared/_StateCountryDropdown")
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="seed-purchased-from">Seed purchased/acquired from</label>
            @Html.TextBox("AppSpecificPlantingStocks[1].SeedPurchasedFrom", "", new { @class="form-control", id="seed-purchased-from", placeholder="Seed purchased/acquired from" })
            @Html.ValidationMessage("AppSpecificPlantingStocks[1].SeedPurchasedFrom", "", new { @class = "text-danger"})
        </div>
        <!-- Hemp -->
        @if(Model.AppViewModel.AppTypeId == ApplicationViewModel.HempCropId)
        {
            <div class="form-group col">
                <label for="thc-percent">THC Percent</label>
                @Html.TextBox("AppSpecificPlantingStocks[0].ThcPercent", "", new { @class="form-control", id="thc-percent", placeholder="THC Percent" })
                @Html.ValidationMessage("AppSpecificPlantingStocks[0].ThcPercent", "", new { @class = "text-danger"})
            </div>
        }
    </div>
    @Html.TextBox("AppSpecificPlantingStocks[1].OfficialVarietyId", "", new { type="hidden", id="ps2-variety-id", name="SelectedVarietyId" })
</section>