<section class="planting-stock second-planting-stock">
    <button id="remove-ps2" class="btn"><i id="remove-ps2" class="fas fa-times"></i></button>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="cert-lot-num">Certification and Lot #<em class="required">•</em></label>
            @Html.TextBox("PlantingStocks[1].PsCertNum", "", new { @class="form-control", id="cert-lot-num", placeholder="Certification and Lot #" })
            @Html.ValidationMessage("PlantingStocks[1].PoundsPlanted", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <label for="pounds-planted">Pounds Planted<em class="required">•</em></label>
            @Html.TextBox("PlantingStocks[1].PoundsPlanted", "", new { @class="form-control", id="pounds-planted", placeholder="Pounds Planted" })
            @Html.ValidationMessage("PlantingStocks[1].PoundsPlanted", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @{ ViewBag.name = "PlantingStocks[1].PsClass"; }
        <label>Class Planted</label><em class="required">•</em>
        @await Html.PartialAsync("Shared/_ClassRadioButtons")
        @Html.ValidationMessage("PlantingStocks[1].PsClass", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>State/Country where Planting Stock Tag was issued</label>
        @{ViewBag.name = "PlantingStocks[1].StateCountryTagIssued";}
        @await Html.PartialAsync("Shared/_StateCountryDropdown")
    </div>

    <div class="form-group">
        <label>State/Country where Planting Stock was Grown</label>
        @{ViewBag.name = "PlantingStocks[1].StateCountryGrown";}
        @await Html.PartialAsync("Shared/_StateCountryDropdown")
    </div>

    <div class="form-group">
        <label for="seed-purchased-from">Seed purchased/acquired from</label>
        @Html.TextBox("PlantingStocks[1].SeedPurchasedFrom", "", new { @class="form-control", id="seed-purchased-from", placeholder="Seed purchased/acquired from" })
        @Html.ValidationMessage("PlantingStocks[1].SeedPurchasedFrom", "", new { @class = "text-danger"})
    </div>
</section>