@model CCIA.Models.SeedApp

@{
    ViewData["Title"] = "Seed Application";
}

<section class="app-header">
    <h2>Application to Produce Certified Seed</h2>
    <h5>@Model.AppViewModel.Organization.OrgName</h5>
</section>

<div id="errors" class="text-danger">
    @Html.ValidationSummary()
</div>

<partial name="Shared/_GrowerInfoTable"></partial>

<!-- Alert dialog modals -->
@{
    var cropAlert = new AlertViewModel("cropAlert", "Error: A crop must be selected.", "Please select a crop before searching for a variety.", "Close", "Ok");
    var varietyAlert = new AlertViewModel("varAlert", "Warning: No variety found", "No variety with the entered name was found in our system. A new variety will be used.", "Close", "Ok");
    var emptyVarietyAlert = new AlertViewModel("emptyVarAlert", "Variety cannot be blank", "Please enter a variety name before searching for a variety.", "Close", "Ok");
}
@await Html.PartialAsync("~/Views/Shared/_AlertModal.cshtml", cropAlert)
@await Html.PartialAsync("~/Views/Shared/_AlertModal.cshtml", varietyAlert)
@await Html.PartialAsync("~/Views/Shared/_AlertModal.cshtml", emptyVarietyAlert)

<form action="/Application/CreateSeedApplication" method="post" id="seedApplication">

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-group col-lg-4 col-sm-4 col-xs-4">
            @{ViewBag.name = "CropId";}
            <partial name="Shared/_CropDropdown"></partial>
            @Html.ValidationMessage("CropId", "", new { @class = "text-danger" })
        </div>
    
        <div class="form-group col-lg-4 col-sm-4 col-xs-4">
            @{
                ViewBag.name = "CertYear";
                ViewBag.startYearOffset = 1;
                ViewBag.endYearOffset = 1;
            }
            <partial name="Shared/_CropYearDropdown"></partial>
            @Html.ValidationMessage("CropYear", "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">  
            <label for="variety">Variety<em class="required">•</em></label>
            <div>
                <div class="btn-group">
                    @Html.TextBoxFor(m => m.EnteredVariety, "", new { @class="form-control", id="variety", placeholder="Variety" })
                    <button class="btn btn-primary dropdown-toggle" id="variety-search" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search"></i>
                    </button>     
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" id="variety-dropdown">
                        <div class="text-center">
                            <div class="spinner-border text-center" role="status"><span class="sr-only">Loading...</span></div>
                        </div>
                    </div> 
                </div>
            </div>     
            @Html.ValidationMessage("Variety", "", new { @class = "text-danger" })
            <input type="hidden" readonly="readonly" class="form-control" id="app-type-id" name="AppType" value="SD">
        </div>
    </div>

    <div id="form-remainder">
        @if (@Model.AppViewModel.RenderFormRemainder)
        {
            <partial name="Seed/SeedAppPartial"></partial>
        }
    </div>

    <!-- Hidden fields -->
    @Html.TextBox("SelectedVarietyId", "", new { type="hidden", id="variety-id", name="SelectedVarietyId" })
    @Html.TextBox("PlantingStocks[0].OfficialVarietyId", "", new { type="hidden", id="ps1-variety-id", name="SelectedVarietyId" })
</form>

@section Scripts {
    <script type="text/javascript">
        var orgId = @Model.AppViewModel.Organization.OrgId;
        var growerId = @Model.AppViewModel.Organization.OrgId;
        var renderFormRemainder = "@Model.AppViewModel.RenderFormRemainder".toLocaleLowerCase();
    </script>
    <script src="~/js/seedapp.js" asp-append-version="true"></script>
}