@model CCIA.Models.ApplicationViewModel

@{
    ViewData["Title"] = "Seed Application";
}

<h2>Application to Produce Certified Seed: @Model.Organization.OrgName</h2>

@Html.Partial("Shared/_GrowerInfoTable")

<form action="/Application/CreateSeedApplication" method="post" id="seedApplication">

    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            @{ViewBag.name = "crop";}
            @Html.Partial("/_CropDropdown")
            @Html.ValidationMessage("Crop", "", new { @class = "text-danger" })
        </div>
        
        <div class="col-lg-4 col-sm-4 col-xs-4">
            @{
                ViewBag.name = "cropYear";
                ViewBag.startYearOffset = 1;
                ViewBag.endYearOffset = 1;
            }
            @Html.Partial("/CropYearDropdown")
            @Html.ValidationMessage("CropYear", "", new { @class = "text-danger" })
        </div>
        
        <div class="col-lg-4 col-sm-4 col-xs-4">  
            <label for="variety">Variety<em class="required">*</em></label>
            <div class="dropdown" id="variety-dropdown">
                <div class="input-group col">
                    <input type="text" class="form-control" id="variety" name="variety" placeholder="Variety">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="variety-search"><i class="fas fa-search"></i></button>                    
                    </span>
                </div>
                <ul class="dropdown-menu scrollable-menu" id="variety-select">
                </ul>
            </div>
            @Html.ValidationMessage("Variety", "", new { @class = "text-danger" })
            <input type="hidden" readonly="readonly" class="form-control" id="variety-id" name="varietyId">
        </div>
    </div>

    <div id="form-remainder">
        @if (@Model.RenderFormRemainder)
        {
            @Html.Partial("/SeedAppPartial");
        }
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        var state_country_dropdowns = document.getElementsByClassName("state-country");
        for (let i=0; i<state_country_dropdowns.length; i++) {
            state_country_dropdowns[i].innerHTML = "@Model.OrgState" + ' <span class="caret"></span>';
        }

        var form = document.getElementById("seedApplication")
        $('#seedApplication').submit (function(e) {
            var growerId = @Model.Organization.OrgId;

            insertHiddenInput("growerId", growerId);
            return true;
        });

        function insertHiddenInput(name, insertVal) {
            var inputInsert = $("<input>")
                .attr("type", "hidden")
                .attr("name", name).val(insertVal);
            $("#seedApplication").append(inputInsert); 
        }

        $('#variety-search').on('click', function(e) {
            e.preventDefault();

            // Display error if user tries to search for variety before selecting crop
            let crop = document.getElementsByName("crop")[0];
            let cropText = crop.options[crop.selectedIndex].text;
            let cropId = crop.options[crop.selectedIndex].value;
            let varietyName = document.getElementById("variety").value;
            if (cropText == "") { 
                window.alert("Please select a crop before searching for a variety."); 
                return;
            }

            let data = { 
                name: varietyName,
                cropId: cropId
            };
            let vs = document.getElementById("variety-select");
            vs.innerHTML = "";
            // Take text in input box and autofill input with the variety name that most closely matches it
            $.ajax({
                type: "GET",
                url: "/Application/FindVariety",
                data: data,
                success: function(res) {
                    let dd = document.getElementById("variety-dropdown");
                    if (res.length === 0) {
                        alert("No variety with name "+varietyName+" was found in our system. A new variety will be used.");
                        loadFormRemainder();
                    } else {
                        dd.className += " " + "open";               
                    }
                    res.forEach(function(el) {
                        vs.innerHTML += "<li role='presentation' onclick='selectVariety(this)'><a role='menuitem' id="+el.varOffId
                                     + " tabindex='-1' href='#/' value="+el.varOffId+">"
                                     + el.varOffName
                                     + "</a></li>";
                    })
                },
                error: function(res) {
                    alert("There was an error processing the request");
                }
            });
        });

        function selectVariety(e) {
            /* Collapse dropdown */
            let dd = document.getElementById("variety-dropdown");
            dd.className = "dropdown";
            document.getElementById("variety-id").value = e.firstElementChild.attributes.value.value;
            document.getElementById("variety").value = e.firstElementChild.innerText

            loadFormRemainder();
        }

        /* Load the rest of the form after selecting (or entering) a variety*/
        function loadFormRemainder() {
            let orgId = @Model.Organization.OrgId;
            let appTypeId = 1;
            /* If something is inside form-remainder div, clear it out */
            $("#form-remainder").empty();
            $("#form-remainder")
                .load("/Application/GetPartial?partialName=SeedAppPartial&orgId="+orgId+"&appTypeId="+appTypeId, () => {
                    /* Set functionality for date time picker after loading form remainder*/
                    $('#datetimepicker1').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                });
        }

        /* Click handler to collapse variety dropdown on click outside */
        $(document).click( function(event) { 
            if( $(event.target).closest('#variety-select').length == 0 ) { 
                let dd = document.getElementById("variety-dropdown");
                dd.className = "dropdown";
            } 
        });

    </script>
}