@model CCIA.Models.SeedApp

<style>
    .form-check-label {
        margin-right: 30px;
    }
</style>
<div class="form-group">
    <label>Class to be Produced</label><em class="required">•</em>
    @{ ViewBag.name = "ClassProducedId"; }
    @await Html.PartialAsync("Shared/_HorizClassRadioButtons", Model.AppViewModel)
    @Html.ValidationMessage("ClassProduced", "", new { @class = "text-danger" })
</div>

<section id="planting-stock" class="rounded-section off-white">
    <h4>Planting Stock</h4>

    <!-- First Planting Stock form --> 
    <partial name="Seed/_PlantingStock"></partial>
    <!-- Second Planting Stock form -->
    <div id="second-ps">
        @if (@Model.AppViewModel.RenderSecondPlantingStock)
        {
            <partial name="Seed/_SecondPlantingStock"></partial>
        }
        else
        {
            <p><em>Enter both parent lines for hybrid production.</em></p>
        }
    </div>
    <button id="add-second-ps" class="btn btn-warning">Add a second planting stocks record</button>

</section>

<section id="field-info" class="rounded-section off-white">
    <h4>Field Information</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name-num">Name/No.</label><em class="required">•</em>
            @Html.TextBoxFor(m => m.FieldName, "", new { @class="form-control", id="name-num" })
            @Html.ValidationMessageFor(m => m.FieldName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <label for="date-planted">Date Planted</label><em class="required">•</em>
            <div class='input-group date' id='datetimepicker1'>
                @Html.TextBoxFor(m => m.DatePlanted, "", new { @class="form-control", id="date-planted", placeholder="MM/DD/YYYY" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessage("DatePlanted", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>County</label><em class="required">•</em>
            <select class="form-control" name=FarmCounty>
                <option></option>
                @foreach (var county in Model.AppViewModel.Counties)
                {
                    <option value=@county.CountyId>
                        @county.CountyName
                    </option>
                }
            </select>
            @Html.ValidationMessage("FarmCounty", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <label for="acres-applied">Acres Applied</label><em class="required">•</em>
            @Html.TextBoxFor(m => m.AcresApplied, "", new { @class="form-control", id="acres-applied", placeholder="Acres Applied" })
            @Html.ValidationMessage("AcresApplied", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="comments">Additional Information/Comments</label>
        @Html.TextAreaFor(m => m.ApplicantComments, new { @class = "form-control", placeholder="Additional Information/Comments", rows="5" }) 
    </div>

    <partial name="Shared/_FieldHistory"></partial>
</section>

<div class="text-right">
    <button type="submit" class="btn btn-primary">Continue with Application</button>
</div>