@model CCIA.Models.SampleLabResultsViewModel.SampleLabResultsViewModel

<div class="row">
                <div class="col-sm-12">
                    <h2>Lab Results</h2>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LabResults.PurityPercent" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 form-control-plaintext col-form">
                    @Html.DisplayFor(x => x.LabResults.PurityPercent)
                </div>
                <div class="col-sm-6 col-form">
                    @Html.DisplayFor(x => x.LabResults.PurityComments)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.PurityPercent" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 form-control-plaintext col-form">
                    <input asp-for="LabResults.PurityPercent" >
                </div>
                <div class="col-sm-6 col-form">
                    @Html.DisplayFor(x => x.LabResults.PurityComments)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.InertPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.InertPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.OtherVarietyPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.OtherVarietyPercent) <br>
                    @Html.DisplayFor(x => x.LabResults.OtherVarietyCount) Seed Count
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.OtherCropPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.OtherCropPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.WeedSeedPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.WeedSeedPercent)
                </div>
            </div> 
            @if(Model.StandardsList.ShowBeans)
            {
                <div class="form-group row">
                    <label asp-for="LabResults.ForeignMaterialPercent" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7 form-control-plaintext">
                        @Html.DisplayFor(x => x.LabResults.ForeignMaterialPercent)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="LabResults.SplitsAndCracksPercent" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7 form-control-plaintext">
                        @Html.DisplayFor(x => x.LabResults.SplitsAndCracksPercent)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="LabResults.BadlyDiscoloredPercent" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7 form-control-plaintext">
                        @Html.DisplayFor(x => x.LabResults.BadlyDiscoloredPercent)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="LabResults.ChewingInsectDamagePercent" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7 form-control-plaintext">
                        @Html.DisplayFor(x => x.LabResults.ChewingInsectDamagePercent)
                    </div>
                </div> 
            }
            <div class="form-group row">
                <label asp-for="LabResults.PurityGrams" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.PurityGrams)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.NoxiousPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.NoxiousPercent) <br>
                    @Html.DisplayFor(x => x.LabResults.NoxiousCount) Seed Count
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="LabResults.NoxiousGrams" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.NoxiousGrams)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.BushelWeight" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.BushelWeight)
                </div>
            </div>  
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>   
            <div class="form-group row">
                <label asp-for="LabResults.GermPercent" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.GermPercent)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LabResults.GermHardSeed" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.GermHardSeed)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.PrivateLabDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.PrivateLabDate)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.LabOrganization.OrgName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.LabOrganization.OrgName)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LabResults.PrivateLabId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.PrivateLabNumber)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="LabResults.Comments" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7 form-control-plaintext">
                    @Html.DisplayFor(x => x.LabResults.Comments)
                </div>
            </div> 