@model CCIA.Models.ClientTagRequestViewModel

@await Html.PartialAsync("_tagGuidelines")

<h4>Create New OECD-Gray Tag/NFC Request from California Grown Seed</h4>


<hr>
<div class="row">
    <div class="col-md-9">
        <form asp-action="SubmitInState" method="post">            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Application.ApplicantOrganization.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-6 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.ApplicantOrganization.Name)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Application.ApplicantOrganization.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-6 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.ApplicantOrganization.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Application.Variety.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-6 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.Variety.Name)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Seed.Class" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-6 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.ClassProduced.ClassProducedTrans)
                </div>

            </div>
            <div class="form-group row required">
                <label asp-for="Seed.LotNumber" class="col-sm-3 col-form-label"></label>
                <input asp-for="Seed.LotNumber" class="col-sm-6 form-control"></input>
                <span asp-validation-for="Seed.LotNumber" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.PoundsLot" class="col-sm-3 col-form-label"></label>
                <input asp-for="Seed.PoundsLot" class="col-sm-6 form-control"></input>
                <span asp-validation-for="Seed.PoundsLot" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.Type" class="col-sm-3 col-form-label"></label>                
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" asp-for="Seed.Type" value="Original Run" />Original Run
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" asp-for="Seed.Type" value="Remill" />Remill
                    </label>
                </div>   
                <span asp-validation-for="Seed.Type" class="text-danger"></span>   
            </div>

            <div class="form-group row">
                <label asp-for="request.Alias" class="col-sm-3 col-form-label"></label>
                <input asp-for="request.Alias" class="form-control col-sm-2">        
                <span class="field-validation-valid text-danger" asp-validation-for="request.Alias" data-valmsg-replace="true"></span>
                (leave blank for listed variety name)
            </div>
            <div class="form-group row required">
                <label asp-for="request.CountRequested" class="col-sm-3 col-form-label"></label>
                <input asp-for="request.CountRequested" class="form-control col-sm-2" onchange="WeightChange()">
                <span class="field-validation-valid text-danger" asp-validation-for="request.CountRequested" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row required">
                <label asp-for="request.BagSize" class="col-sm-3 col-form-label"></label>
                <input asp-for="request.BagSize" class="form-control col-sm-2" onchange="WeightChange()">
                <span class="field-validation-valid text-danger" asp-validation-for="request.BagSize" data-valmsg-replace="true"></span>
                <div class="col-sm-1"></div>
                <select asp-for="request.WeightUnit" onchange="WeightChange()">
                    <option value="L">Pounds</option> 
                    <option value="K">Kilograms</option>
                </select>
            </div> 
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="weightOfRequest">Weight of this request</label>
                <div id="weightOfRequest" class="form-control-plaintext col-sm-2"></div>
            </div>
            <div class="form-group required row">
                <label asp-for="request.CoatingPercent" class="col-form-label col-sm-3"></label> 
                <div class="col-sm-9">      
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.CoatingPercent" onclick="WeightChange()" value="0" data-val="true" data-val-required="Please coating percentage" >
                        <label class="form-check-label" for="0">No coating</label>                    
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.CoatingPercent" onclick="WeightChange()" value="0.34" data-val="true" data-val-required="Please coating percentage" >
                        <label class="form-check-label" for="0.34">34%</label>                    
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.CoatingPercent" onclick="WeightChange()" value="0.5" data-val="true" data-val-required="Please coating percentage" >
                        <label class="form-check-label" for="0.5">50%</label>                    
                    </div>  
                    <span class="field-validation-valid text-danger" asp-validation-for="request.CoatingPercent" data-valmsg-replace="true"></span>       
                </div>         
            </div>                       
            <div class="form-group row">
                <label asp-for="request.PlantingStockLotNumber" class="col-sm-4 col-form-label"></label>
                <input asp-for="request.PlantingStockLotNumber" class="form-control col-sm-2">                    
                <span class="field-validation-valid text-danger" asp-validation-for="request.PlantingStockLotNumber" data-valmsg-replace="true"></span>
            </div>                
            <div class="form-group row required">
                <label asp-for="request.DateSealed" class="col-sm-3 col-form-label"></label>
                <input asp-for="request.DateSealed" class="form-control col-sm-2 datepicker" type="text">        
                <span class="field-validation-valid text-danger" asp-validation-for="request.DateSealed" data-valmsg-replace="true"></span>
            </div>         
            <div class="form-group row required">
                <label asp-for="request.OECDCountryId" class="col-sm-3 col-form-label">Country</label>
                <select asp-for="request.OECDCountryId" class="form-control col-sm-3" asp-items="@(new SelectList(Model.Countries, "Id", "Name"))"></select>
                <span class="field-validation-valid text-danger" asp-validation-for="request.OECDCountryId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row required">
                <label asp-for="request.DateNeeded" class="col-sm-3 col-form-label"></label>
                <input asp-for="request.DateNeeded" class="form-control col-sm-2 datepicker" type="text">        
                <span class="field-validation-valid text-danger" asp-validation-for="request.DateNeeded" data-valmsg-replace="true"></span>
                <span>(please allow 24-48 hours)</span>
            </div> 
            <div class="form-group row required">
                <label asp-for="request.HowDeliver" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.HowDeliver" onclick="DeliveryChange()" value="UPS Ground" data-val="true" data-val-required="Please select delivery method">
                        <label class="form-check-label" for="UPS Ground">UPS Ground</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.HowDeliver" onclick="DeliveryChange()" value="UPS Overnight" data-val="true" data-val-required="Please select delivery method">
                        <label class="form-check-label" for="UPS Overnight">UPS Overnight</label>
                    </div> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.HowDeliver" onclick="DeliveryChange()" value="Pick-up at Parsons Building" data-val="true" data-val-required="Please select delivery method">
                        <label class="form-check-label" for="Pick-up at Parsons Building">Pick-up at Parsons Building</label>
                    </div> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input lgRadio" type="radio" asp-for="request.HowDeliver" onclick="DeliveryChange()" value="Other" data-val="true" data-val-required="Please select delivery method">
                        <label class="form-check-label" for="Other">Other</label>
                    </div> 
                    <span class="field-validation-valid text-danger" asp-validation-for="request.HowDeliver" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="request.Comments" class="col-sm-3 col-form-label"></label>
                <textarea asp-for="request.Comments" class="form-control col-sm-7" rows="3"></textarea>        
                <span class="field-validation-valid text-danger" asp-validation-for="request.Comments" data-valmsg-replace="true"></span>       
            </div> 
            <div class="form-group row">
                <input type="submit" value="Create Tag Request" class="btn btn-primary">
            </div> 
            <div>                
                @for(int i = 0; i < Model.Seed.AppId.Length; i++)
                {
                    <input type="hidden" asp-for="Seed.AppId" value="@Model.Seed.AppId[i]" />
                }
                <input type="hidden" asp-for="Seed.CertYear" value="@Model.Seed.CertYear" />
                <input type="hidden" asp-for="Seed.SampleFormCertNumber" value="@Model.Seed.SampleFormCertNumber" />
                <input type="hidden" asp-for="Seed.SampleFormRad" value="@Model.Seed.SampleFormRad" />
                <input type="hidden" asp-for="Seed.Class" value="@Model.Seed.Class" />
                <input type="hidden" asp-for="Seed.SamplerName" value="NFC" />
            <div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script> 
     <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker();            
        });
        
        function WeightChange(){
            var count = $("#request_CountRequested").val();            
            var weight = $("#request_BagSize").val();                                  
            var coating = $("[id*=request_CoatingPercent]:checked").val();           
            var balance = "";            
            if (!isNaN(count) && count.length != 0 && count != 0 && !isNaN(weight) && weight.length != 0 && weight != 0) {
                balance = (($("[id*=request_WeightUnit").val() == "L") ? count * weight * (1- coating) : count * weight * 2.20462262 * (1- coating));
                $("[id*=weightOfRequest").text(Math.round(balance));                
            } 
        };        

        function DeliveryChange() {
            var method = $("[id*=request_HowDeliver]:checked").val();
            if (method == 'UPS Overnight') {
                alert('Please provide your UPS account number in comment box. Failure to do so will delay your tags.');
            }
            if (method == 'Other') {
                alert('Enter information in comment box. Failure to do so will delay your tags.');
            }            
        };


    </script>  
} 