@model CCIA.Models.IndexViewModels.TagIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-12">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>Tag Id</th>
        <th>Id</th>
        <th>Id Type</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Cert#</th>
        <th>Lot#</th>
        <th>SID Class</th>
        <th>Tag Class</th>
        <th>LbsReq</th>
        <th>Count</th>
        <th>Bag Size</th>
        <th>OECD Date Seald</th>
        <th>OECD Cert</th>
        <th>Type</th>
        <th>Date</th>
        <th>Alias</th>
        <th>Stage</th>
        <th>Tracking</th>
        </thead>
        <tbody>
        
            @foreach (var tag in Model.tags)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="tag" asp-route-id="@tag.Id" class="btn btn-info">Details</a></td>
                <td>@tag.Id</td>
                <td>@tag.LinkId</td>
                <td>@tag.IdType</td>
                <td>@tag.CropName</td>               
                <td>@tag.VarietyName</td>
                <td>@tag.CertNumber</td>
                <td>@tag.LotNumber</td>
                <td>@tag.SIDClass</td>
                <td>@tag.TaggedClass</td>
                <td>@(tag.LotWeightRequested.HasValue ? Math.Truncate(tag.LotWeightRequested.Value) : "")</td>
                <td>@tag.CountRequested</td>
                <td>@(tag.BagSizePounds.HasValue ? Math.Truncate(tag.BagSizePounds.Value) : "")</td>
                <td>
                    @if(@tag.DateSealed.HasValue)
                    {
                        @tag.DateSealed.Value.ToShortDateString()
                    }
                </td>
                <td>Link to OECD Cert</td>
                <td>@tag.AbbrevTagType.TagTypeTrans</td>
                <td>@tag.DateRequested.Value.ToShortDateString()
                </td>
                <td>@tag.Alias</td>
                <td>@tag.Stage</td>
                <td><a href="@tag.TrackingLink" target="_blank">@tag.TrackingNumber</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                order: [[ 1, "asc"]],
                columnDefs: [{ targets: 0, orderable: false}],
                pageLength: 50,
            });
            
        } );
       
    </script>
}
