@model CCIA.Models.IndexViewModels.TagIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-12">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>Tag Id</th>
        <th>Id</th>
        <th>Id Type</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Cert#</th>
        <th>Lot#</th>
        <th>SID Class</th>
        <th>Tag Class</th>
        <th>#Requested</th>
        <th>#</th>
        <th>Bag Size</th>
        <th>OECD Date Seald</th>
        <th>OECD Cert</th>
        <th>Type</th>
        <th>Date</th>
        <th>Alias</th>
        <th>Stage</th>
        <th>Tracking</th>
        </thead>
        <tbody>
        
            @foreach (var tag in Model.tags)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="tag" asp-route-id="@tag.Id">Details</a></td>
                <td>@tag.Id</td>
                <td>@tag.LinkId</td>
                <td>@tag.IdType</td>
                <td>@tag.CropName</td>               
                <td>@tag.VarietyName</td>
                <td>@tag.CertNumber</td>
                <td>@tag.LotNumber</td>
                <td>@tag.SIDClass</td>
                <td>@tag.TaggedCass</td>
                <td>@tag.LotWeightRequested</td>
                <td>@tag.CountRequested</td>
                <td>@tag.BagSizePounds</td>
                <td>
                    @if(@tag.DateSealed.HasValue)
                    {
                        @tag.DateSealed.Value.ToShortDateString()
                    }
                </td>
                <td>Link to OECD Cert</td>
                <td>@tag.AbbrevTagType.TagTypeTrans</td>
                <td>@tag.DateRequested.Value.ToShortDateString()
                </td>
                <td>@tag.Alias</td>
                <td>@tag.Stage</td>
                <td><a href="@tag.TrackingLink" target="_blank">@tag.TrackingNumber</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
