@model List<CCIA.Models.Seeds>


<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">


    <table id="table" class="table datatable">
        <thead> 
            <th></th>          
            <th>SeedsID</th>
            <th>Program</th>
            <th>Cert#</th>
            <th>Date Recd.</th>
            <th>Applicant</th>
            <th>Conditioner</th> 
            <th>Pounds</th>           
            <th>Crop</th>
            <th>Variety</th>
            <th>Lot#</th>            
        </thead>
        <tbody>
            @foreach (var seed in Model)
            {
            <tr>
                <td><a class="btn btn-info" asp-action="Details" asp-area="admin" asp-controller="Seeds" asp-route-id="@seed.Id">Details</a></td>                
                <td>@seed.Id</td>
                <td>@seed.CertProgram</td>
                <td>@seed.CertNumber</td>
                <td data-sort="@(seed.SampleFormDate.HasValue ? seed.SampleFormDate.Value.ToFileTimeUtc() : "")">@(seed.SampleFormDate.HasValue ? seed.SampleFormDate.Value.ToShortDateString() : "")</td>
                <td>@if(seed.ApplicantOrganization != null)
                    {
                         @seed.ApplicantOrganization.Name
                    }
                </td>               
                <td>@seed.ConditionerOrganization.Name</td>
                <td>@seed.PoundsLot</td>
                <td>@seed.GetCropName()</td>
                <td>@seed.GetVarietyName()</td>
                <td>@seed.LotNumber</td>                 
            </tr>
            }
        </tbody>
    </table>
</div>

