@model List<CCIA.Models.Certs>

<h2>Certs</h2> 
<form asp-action="Certs" method="Post">
<div class="container">
    <div class="row">
         <div class="col-sm-8">
            <div asp-validation-summary="All" class="text-danger"></div>            
        </div>  
    </div>
    <div class="form-group row required">
        <label for="Id" class="col-sm-3 col-form-label">Cert Number:</label>
        <input type="text" id="Id" class="col-sm-9 form-control" name="Id" data-val="true" data-val-required="Seeds ID is required" data-val-number="Seeds ID must be a number.">
        <span class="field-validation-valid text-danger" for="Id"  data-valmsg-replace="true"></span>
    </div>
    <div class="form-group row">
        <label for="Search How" class="col-sm-3 col-form-label">Type</label>
        <select id="searchHow" name="searchHow" class="col-sm-9 form-control">
            <option value="Exact">Exact Match</option>
            <option value="Begin">Begins With</option>
            <option value="End">Ends With</option>
            <option value="Contain">Match anywhere</option>
        </select>
    </div>
    <div class="row">
         <input type="submit" value="Get Certs" id="submit" class="btn btn-primary"></input>
    </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#submit').click(function(e) {
           // e.preventDefault();
            
        });
</script>
}

@if(Model != null)
{
<div class="container">
    <table class="table">
        <tr>
            <th>Cert</th>
            <th>Variety ID</th>
            <th>Variety</th>
            <th>Org Id</th>
            <th>Org</th>
            <th>Class</th>
            <th>Crop</th>
            <th>Kind</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CertNum</td>
                <td>@item.OfficialVarietyId</td>
                <td>@item.Variety.Name</td>
                <td>@item.OrgId</td>
                <td>@item.ApplicantOrganization.Name</td>
                <td>@item.Class.ClassProducedTrans</td>
                <td>@item.Variety.Crop.Crop</td>
                <td>@item.Variety.Crop.CropKind</td>
            </tr>            
        }
    </table>
</div>
}