@using CCIA.Helpers;
@model  CCIA.Models.ViewModels.AdminSeedsViewModel

<div class="container col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h2>Seed Lot Details</h2> 
            <a asp-action="Previous" asp-route-id="@Model.seed.Id" class="btn btn-light">Previous</a> |  <a asp-action="Next" asp-route-id="@Model.seed.Id"  class="btn btn-light">Next</a><hr>
        </div>            
    </div>
    <div class="row col-sm-12">
         <a asp-action="Edit" asp-route-id="@Model.seed.Id" class="btn btn-primary">Edit SID</a>
    </div>
    @if(Model.seed.Status == SeedsStatus.PendingAcceptance.GetDisplayName() && Model.LabsAndStandards.Labs.CciaConfirmed)
    {
        <div class="row col-sm-12">
            <form asp-action="AcceptSeed">
                @Html.HiddenFor(x => x.seed.Id)
                <input type="submit" class="btn btn-success" value="Accept Seed">
            </form>       
        </div>
    }
    <div class="row">
        <div class="col-sm-6"> @* First column *@
            <div class="form-group row">
                <label asp-for="seed.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.Id)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="seed.CertProgram" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.CertProgram)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.CertYear)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Conditioner</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ConditionerOrganization.NameAndId)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Applicant</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ApplicantOrganization.NameAndId)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Variety</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.seed.GetVarietyName()
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ClassProduced.CertClass" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ClassProduced.CertClass)
                </div>
            </div>                  
            <div class="form-group row">
                <label asp-for="seed.SampleDrawnBy" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.SampleDrawnBy)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.UserEntered" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ContactEntered.Name)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Seed Origin</label>
                <div class="col-sm-9 form-control-plaintext">
                    Country: @Html.DisplayFor(x => x.seed.CountryOfOrigin.Name) <br>
                    State: @Html.DisplayFor(x => x.seed.StateOfOrigin.Name)
                </div>
            </div>
        </div>
        <div class="col-sm-6"> @* Second column *@
            <div class="form-group row">
                <label asp-for="seed.SampleFormDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.SampleFormDate)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.CertNumber"  class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.seed.CertNumber
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.LotNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.LotNumber)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.PoundsLot" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.PoundsLot)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Crop</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.seed.GetCropName()
                </div>
            </div>            
            <div class="form-group row">
                <label asp-for="seed.NotFinallyCertified" class="col-sm-3 col-form-label"></label>
                <input type="checkbox" asp-for="seed.NotFinallyCertified" class="col-sm-3 form-control">                   
            </div>                    
            <div class="form-group row">
                <label asp-for="seed.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.Status)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="seed.CountyDrawn" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.CountySampleDrawn.Name)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lot Type</label>
                <div class="col-sm-9 form-control-plaintext">
                    <div class="form-group row">                
                        <label asp-for="seed.OriginalRun" class="col-sm-4 col-form-label"></label>
                        <input type="checkbox" asp-for="seed.OriginalRun" class="col-sm-3 form-control">
                    </div>
                    <div class="form-group row">                
                        <label asp-for="seed.Remill" class="col-sm-4 col-form-label"></label>
                        <input type="checkbox" asp-for="seed.Remill" class="col-sm-3 form-control">
                    </div>
                    <div class="form-group row">                
                        <label asp-for="seed.OECDLot" class="col-sm-4 col-form-label"></label>
                        <input type="checkbox" asp-for="seed.OECDLot" class="col-sm-3 form-control">
                    </div>
                </div>
            </div>                      
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group row">
            <label asp-for="seed.Remarks" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.DisplayFor(x => x.seed.Remarks)
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        @if(Model.seed.SeedsApplications.Count > 0)
        {
            @:Apps in this lot:
            <table class="table">
                <tr>
                    <th>AppID</th>
                    <th>Applicant</th>
                    <th>Grower</th>
                    <th>Cert Year</th>
                    <th>Crop</th>
                    <th>Variety</th>
                    <th>Class</th>
                    <th>Status</th>
                    <th>Warning</th>
                </tr>
                @foreach(var app in Model.seed.SeedsApplications)
                {
                    <tr>
                        <td>@app.AppId</td>
                        <td>@app.Application.ApplicantOrganization.NameAndId</td>
                        <td>@app.Application.GrowerOrganization.NameAndId</td>
                        <td>@app.Application.CertYear</td>
                        <td>@app.Application.CropName</td>
                        <td>@app.Application.VarietyName</td>
                        <td>@app.Application.ClassProducedName</td>
                        <td>@app.Application.Status</td>
                        <td>
                            @if(app.Application.Status != "Field Inspection Report Ready")
                            {
                                <a class="btn btn-danger" href="#">FIR not ready</a>
                            }
                           
                            @if(app.Application.FieldInspectionReport != null)
                            {
                                @if(app.Application.FieldInspectionReport.AcresApproved == 0)
                                {
                                    <a class="btn btn-danger" href="#">Acres Approved =0</a>
                                }
                                @if(app.Application.FieldInspectionReport.AcresGrowout > 0)
                                {
                                    <a class="btn btn-danger" href="#">Acres Growout > 0</a>
                                }
                                @if(app.Application.FieldInspectionReport.AcresRejected > 0)
                                {
                                    <a class="btn btn-danger" href="#">Acres Rejected > 0</a>
                                }
                                 @if(!app.Application.FieldInspectionReport.Complete)
                                {
                                    <a class="btn btn-danger" href="#">FIR not marked complete</a>
                                }                                
                            } else
                            {
                                <a class="btn btn-danger" href="#">Field Inspection Report Not Found</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </div> 
    <div class="col-sm-12">
        @if(Model.seed.Changes.Count > 0)
        {
            <h2>Changes To this SID</h2>
            <table class="table">
                <tr>
                    <th>Column</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Date</th>
                    <th>Person</th>
                </tr>
                @foreach(var change in Model.seed.Changes)
                {
                    <tr>
                        <td>@change.ColumnChange</td>
                        <td>@change.OldValue</td>
                        <td>@change.NewValue</td>
                        <td>@change.DateChanged</td>
                        <td>@change.Employee.Name</td>
                    </tr>
                }
            </table>
        }
    </div>           
    <div class="col-sm-12 row">
        <div class="col-sm-8">
            <a asp-action="Edit" asp-controller="SampleLabResults" asp-route-id="@Model.seed.Id" class="btn btn-primary">Edit Lab Results</a>   
    
    
            @await Html.PartialAsync("_SampleLabResultsAdminDetails.cshtml", Model.LabsAndStandards)
            <a asp-action="Edit" asp-controller="SampleLabResults" asp-route-id="@Model.seed.Id" class="btn btn-primary">Edit Lab Results</a>
        </div>
        <div class="col-sm-4">
            <table>
                <tr>
                    <td class="align-middle"> 
                        @if(Model.Documents.Any())
                        {
                            <h3>Supporting Documents</h3>
                            <table class="table">
                                <tr>
                                    <th>File</th>
                                    <th>Type</th>
                                </tr>
                                @foreach (var document in Model.Documents)
                                {
                                    <tr>
                                        <td><a asp-action="GetSeedFile" asp-route-id="@document.Id">@document.Link</a></td>
                                        <td>@document.DocumentType.Name</td>
                                    </tr>                                
                                }
                            </table>
                        }
                    </td>
                </tr>
                <tr><td><br><br><hr><br></td></tr>
                <tr>
                    <td>
                        <form enctype="multipart/form-data" method="post" asp-action="UploadSeedDocument">
                        <h3>Upload new Document</h3>
                            <input type="hidden" name="id" id="id" value="@Model.seed.Id">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Certificate Name</label>
                                <input id="certName" name="certName" class="col-form">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Document Type</label>
                                <select name="doctype" id="docType" class="form-control" asp-items="@(new SelectList(Model.documentTypes, "Id","Name"))"></select>
                            </div>
                            <input id="file" name="file" type="file">            
                            <input class="btn btn-primary" type="submit" value="Upload" disabled />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
     <div class="col-sm-12">
        @if(Model.seed.LabResults.Changes.Count > 0)
        {
            <h2>Changes To Lab Results</h2>
            <table class="table">
                <tr>
                    <th>Column</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Date</th>
                    <th>Person</th>
                </tr>
                @foreach(var change in Model.seed.LabResults.Changes)
                {
                    <tr>
                        <td>@change.ColumnChange</td>
                        <td>@change.OldValue</td>
                        <td>@change.NewValue</td>
                        <td>@change.DateChanged</td>
                        <td>
                            @if(change.Employee != null)
                            {
                                @change.Employee.Name
                            } 
                        </td>
                    </tr>
                }
            </table>
        }
    </div>   
</div>

@section Scripts {
    <script>        
        $(document).ready(
            function(){
                $('input:file').change(
                    function(){
                        if ($(this).val()) {
                            $('input:submit').removeAttr('disabled'); 
                        } 
                    }
                );
            $(":checkbox").on("click", false);
        });
    </script>
   
}

