@model GrowerInfo

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
        @if (Model.Orgs.Count == 0)
        {
            <p class="text-danger">No records matched your search</p>
        }
        @foreach (var org in Model.Orgs)
        {
            <tr>
                <td>
                    @if(Model.AppTypeId != 10)
                    {
                        <a class="btn btn-primary" href="/Client/Application/CreateApplication/?growerId=@org.Id&appTypeId=@Model.AppTypeId">Select</a>
                    } else
                    {
                        <a class="btn btn-primary" href="/Client/Application/HempInfo/?growerId=@org.Id&appTypeId=@Model.AppTypeId">Select</a>
                    }
                    
                <td>@org.Id</td>
                <td>@org.Name</td>
                @if(org.Addresses.Any())
                {
                    <td>@org.Addresses.First().Address.Address1</td>
                    <td>@org.Addresses.First().Address.City</td>
                    <td>@org.Addresses.First().Address.StateProvince?.Name</td>                    
                }
            </tr>
        }
    </tbody>
</table>