@model GrowerInfo

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
        @if (Model.Orgs.Count == 0)
        {
            <p class="text-danger">No records matched your search</p>
        }
        @foreach (var org in Model.Orgs)
        {
            <tr>
                <td>
                    @if(Model.AppTypeId != 10)
                    {
                        <a class="btn btn-primary" href="/Client/Application/CreateApplication/?growerId=@org.Id&appTypeId=@Model.AppTypeId">Select</a>
                    } else
                    {
                        <a class="btn btn-primary" href="/Client/Application/HempInfo/?growerId=@org.Id&appTypeId=@Model.AppTypeId">Select</a>
                    }
                    
                <td>@org.Id</td>
                <td>@org.Name</td>
                @if (org.Address != null)
                {
                    <td>@org.Address.Address1</td>
                    <td>@org.Address.City</td>
                    @if (org.Address.StateProvince != null)
                    {
                        <td>@org.Address.StateProvince.Name</td>
                    }                
                } else if(org.Addresses.Any())
                {
                    if(org.Addresses.Where(a => a.Active).Any())
                    {
                        var displayAddress = org.Addresses.Where(a => a.Active).First();
                        <td>@displayAddress.Address.Address1</td>
                        <td>@displayAddress.Address.City</td>
                        @if (displayAddress.Address.StateProvince != null)
                        {
                            <td>@displayAddress.Address.StateProvince.Name</td>
                        }                
                    } else {
                        var anyAddress = org.Addresses.First();
                        <td>@anyAddress.Address.Address1</td>
                        <td>@anyAddress.Address.City</td>
                        @if (anyAddress.Address.StateProvince != null)
                        {
                            <td>@anyAddress.Address.StateProvince.Name</td>
                        }   
                    }
                }
            </tr>
        }
    </tbody>
</table>