<table class="table">
    <thead>
        <tr>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
        <tr>
            <td>@Model.AppViewModel.Organization.Id</td>
            <td>@Model.AppViewModel.Organization.Name</td>
            @if (@Model.AppViewModel.Organization.Address != null)
            {
                <td>@Model.AppViewModel.Organization.Address.Address1</td>
                <td>@Model.AppViewModel.Organization.Address.City</td>
                @if (@Model.AppViewModel.Organization.Address.StateProvince != null)
                {
                    <td>@Model.AppViewModel.Organization.Address.StateProvince.Name</td>
                }                
            }
        </tr>
    </tbody>
</table>