@model CCIA.Models.IndexViewModels.OECDIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<form method="get" class="form-inline">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>OECD</h2>
        </div>
        <div class="panel-body">            
            <div class="form-group">
                <label for="CertYear">Display OECD Forms for Data Entry Year:</label>
                <select asp-for="CertYear" class="form-control" asp-items="@(new SelectList(Model.certYears, Model.CertYear))"></select>
            </div>
            <div class="form-group">               
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <input type="submit" value="Update Table" class="btn btn-primary" />                
            </div>            
        </div>
    </div>
</form>

<div class="col-lg-1">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>File#</th>
        <th>SID</th>
        <th>TagID</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Lot Ref#</th>
        <th>Close Date</th>
        <th>Lbs</th>
        <th>Class</th>
        <th>Country</th>
        <th>Link</th>        
        </thead>
        <tbody>
        
            @foreach (var oecd in Model.oecd)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="oecd" asp-route-id="@oecd.Id">Details</a></td>
                <td>@oecd.Id</td>
                <td>@oecd.SeedsId</td>
                <td>@oecd.TagId</td>
                <td>@oecd.Seeds.Variety.Crop.Name</td>               
                <td>@oecd.Seeds.Variety.Name</td>
                <td>@oecd.LotReferenceNumber</td>
                <td>@oecd.CloseDate.Value.ToShortDateString()</td>
                <td>@oecd.Pounds</td>
                <td>@oecd.Class.Class</td>
                <td>@oecd.Country.Name</td>
                <td></td>                
            </tr>
            }
        </tbody>
    </table>
</div>
