@model CCIA.Models.SeedsCreateViewModel.SeedsCreateViewModel

@{
    ViewData["Title"] = "Create New Seed Lot";
}

<h1>Create</h1>

<h4>Certified Seed Lot</h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <form asp-action="SubmitInState" method="post">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Application.ApplicantOrganization.OrgName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.ApplicantOrganization.OrgName)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Application.ApplicantOrganization.OrgId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.ApplicantOrganization.OrgId)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Application.Variety.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Application.Variety.Name)
                </div>
            </div> 
            <div class="form-group row required">
                <label asp-for="Seed.Class" class="col-sm-3 col-form-label"></label>                
                <select asp-for="Seed.Class" class="col-sm-9 form-control" asp-items="@(new SelectList(Model.ClassProducable, "ClassProducedId","ClassProducedTrans"))"></select>
                <span asp-validation-for="Seed.Class" class="text-danger"></span>               
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.LotNumber" class="col-sm-3 col-form-label"></label>
                <input asp-for="Seed.LotNumber" class="col-sm-9 form-control"></input>
                <span asp-validation-for="Seed.LotNumber" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.PoundsLot" class="col-sm-3 col-form-label"></label>
                <input asp-for="Seed.PoundsLot" class="col-sm-9 form-control"></input>
                <span asp-validation-for="Seed.PoundsLot" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.Type" class="col-sm-3 col-form-label"></label>                
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" asp-for="Seed.Type" value="Original Run" />Original Run
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" asp-for="Seed.Type" value="Remill" />Remill
                    </label>
                </div>   
                <span asp-validation-for="Seed.Type" class="text-danger"></span>   
            </div>
            <div class="form-group row">
                <label asp-for="Seed.OECDLot" class="col-sm-3 col-form-label"></label>
                <div class="form-check col-sm-9">
                    <input asp-for="Seed.OECDLot" class="form-check-input" />
                </div>
                <span asp-validation-for="Seed.OECDLot" class="text-danger"></span>               
            </div>
            <div class="form-group row">
                <label asp-for="Seed.Remarks" class="col-sm-3 col-form-label"></label>
                <textarea class="col-sm-9 form-control" asp-for="Seed.Remarks" rows="5"></textarea>
                <span asp-validation-for="Seed.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Seed.SampleDrawnBy" class="col-sm-3 col-form-label">Sample Drawn By</label>
                <select asp-for="Seed.SampleDrawnBy" class="col-sm-9 form-control">
                    <option value="Seed Conditioner">Seed Conditioner</option>
                    <option value="Ag. Commissioner">Ag. Commissioner</option>
                </select>
                <span asp-validation-for="Seed.SampleDrawnBy" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.SamplerName" class="col-sm-3 col-form-label"></label>
                <input asp-for="Seed.SamplerName" type="text" class="col-sm-9 form-control"></input>
                <span asp-validation-for="Seed.SamplerName" class="text-danger"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="Seed.CountyDrawn" class="col-sm-3 col-form-label"></label>                
                <select asp-for="Seed.CountyDrawn" class="col-sm-9 form-control" asp-items="@(new SelectList(Model.Counties, "CountyId","CountyName"))">
                    <option>Select county....</option>
                </select>
                <span asp-validation-for="Seed.CountyDrawn" class="text-danger"></span>               
            </div>
            <div class="form-group">                
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>                
                @for(int i = 0; i < Model.Seed.AppId.Length; i++)
                {
                    <input type="hidden" asp-for="Seed.AppId" value="@Model.Seed.AppId[i]" />
                }
                <input type="hidden" asp-for="Seed.CertYear" value="@Model.Seed.CertYear" />
                <input type="hidden" asp-for="Seed.SampleFormCertNumber" value="@Model.Seed.SampleFormCertNumber" />
                <input type="hidden" asp-for="Seed.SampleFormRad" value="@Model.Seed.SampleFormRad" />
            <div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}