@model  CCIA.Models.SeedsViewModels.ClientSeedsViewModel


<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Seed Lot Details</h2>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.CertProgram" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.AppTypeTrans.AppTypeTrans)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.CertYear)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.OrgName" class="col-sm-3 col-form-label">Conditioner</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.ConditionerOrganization.OrgName)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.OrgName" class="col-sm-3 col-form-label">Applicant</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.ApplicantOrganization.OrgName)
                </div>
            </div>   
            <div class="form-group row">
                <label asp-for="seed.Variety.Crop.Name" class="col-sm-3 col-form-label">Crop</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.Variety.Crop.Name)
                </div>
            </div>   
            <div class="form-group row">
                <label asp-for="seed.Variety.Name" class="col-sm-3 col-form-label">Variety</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.Variety.Name)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ClassProduced.CertClass" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.ClassProduced.CertClass)
                </div>
            </div>  
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cert #</label>
                <div class="col-sm-9">
                    @Model.seed.CertNumber()
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.LotNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.LotNumber)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="seed.PoundsLot" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.PoundsLot)
                </div>
            </div> 
                <div class="form-group row">
                <label asp-for="seed.Remarks" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.Remarks)
                </div>
            </div> 
                <div class="form-group row">
                <label asp-for="seed.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    @Html.DisplayFor(x => x.seed.Status)
                </div>
            </div>                
        </div> 
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Lab Results</h2>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="labResults.PurityPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.PurityPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.InertPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.InertPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.OtherVarietyPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.OtherVarietyPercent) <br>
                    @Html.DisplayFor(x => x.labResults.OtherVarietyCount) Seed Count
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.OtherCropPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.OtherCropPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.WeedSeedPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.WeedSeedPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.ForeignMaterialPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.ForeignMaterialPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.SplitsAndCracksPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.SplitsAndCracksPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.BadlyDiscoloredPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.BadlyDiscoloredPercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.ChewingInsectDamagePercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.ChewingInsectDamagePercent)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.PurityGrams" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.PurityGrams)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.NoxiousPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.NoxiousPercent) <br>
                    @Html.DisplayFor(x => x.labResults.NoxiousCount) Seed Count
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="labResults.NoxiousGrams" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.NoxiousGrams)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.BushelWeight" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.BushelWeight)
                </div>
            </div>  
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>   
            <div class="form-group row">
                <label asp-for="labResults.GermPercent" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.GermPercent)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="labResults.GermHardSeed" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.GermHardSeed)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.PrivateLabDate" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.PrivateLabDate)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.LabOrganization.OrgName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.LabOrganization.OrgName)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="labResults.PrivateLabId" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.PrivateLabNumber)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="labResults.SampleComments" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.labResults.SampleComments)
                </div>
            </div>  
                   
        </div>       
    </div>
</div>

