@model CCIA.Models.Organizations

<form asp-action="Create">
<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>New Organization</h2> 
        </div>            
    </div>
     <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-dark" asp-action="Index" asp-controller="Organizations" asp-area="Admin">Cancel</a> <br><br>
        </div>            
    </div>     
    <div class="row">
        <div class="col-md-6 col-xl-4"> @* First column *@
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Id)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <input asp-for="Email" class="col-sm-6 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Member" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Member)
                </div>
            </div>    
            <div class="form-group row">
                <label asp-for="MemberType" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.MemberType)
                </div>
            </div>             
            <div class="form-group row">
                <label asp-for="GermLab" class="col-sm-3 col-form-label"></label>
                <input asp-for="GermLab" class="col-sm-6 form-control">
            </div>                                 
        </div>
        <div class="col-md-6 col-xl-4"> @* Second column *@  
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <input asp-for="Name" class="col-sm-6 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="col-sm-3 col-form-label"></label>
                <input asp-for="Phone" class="col-sm-6 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
            </div>             
            <div class="form-group row">
                <label asp-for="Active" class="col-sm-3 col-form-label"></label>
                <input asp-for="Active" class="col-sm-6 form-control">
            </div>                                 
            <div class="form-group row">
                <label asp-for="RepresentativeContactId" class="col-sm-3 col-form-label">Member Representative</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.RepresentativeContact.Name)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DiagnosticLab" class="col-sm-3 col-form-label"></label>
                <input asp-for="DiagnosticLab" class="col-sm-6 form-control">
            </div>                                                                 
        </div>
        <div class="col-md-6 col-xl-4"> @* Third Col *@ 
            <div class="form-group row">
                <label asp-for="Fax" class="col-sm-3 col-form-label"></label>
                <input asp-for="Fax" class="col-sm-6 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="Fax" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="Website" class="col-sm-3 col-form-label"></label>
                <input asp-for="Website" class="col-sm-6 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="Website" data-valmsg-replace="true"></span>
            </div> 
                      
            <div class="form-group row">
                <label asp-for="MemberYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.MemberYear)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="MemberSince" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.MemberSince)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AgCommissioner" class="col-sm-3 col-form-label"></label>
                <input asp-for="AgCommissioner" class="col-sm-6 form-control">
            </div>                                                                
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12">
            <input class="btn btn-primary" type="submit" value="Update"> | 
            <a class="btn btn-dark" asp-action="Index" asp-controller="Organizations" asp-area="Admin">Cancel</a> <br><br>
        </div>            
    </div>     
</div>
</form>