@model CCIA.Models.AdminContactAddressEditCreateViewModel

<form asp-action="EditEmployeeAddress">
@Html.HiddenFor(x => x.address.Id)
<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit Address for @Model.ContactName</h2> 
        </div>            
    </div>
    <div class="row">
         <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>  
    </div>  
    <div class="col-sm-6">
        <div class="form-group row">                
            <label asp-for="address.Mailing" class="col-sm-3 col-form-label"></label>
            <input type="checkbox" asp-for="address.Mailing" class="col-sm-1 form-control">
        </div>
        <div class="form-group row">                
            <label asp-for="address.Billing" class="col-sm-3 col-form-label"></label>
            <input type="checkbox" asp-for="address.Billing" class="col-sm-1 form-control">
        </div>
        <div class="form-group row">                
            <label asp-for="address.Delivery" class="col-sm-3 col-form-label"></label>
            <input type="checkbox" asp-for="address.Delivery" class="col-sm-1 form-control">
        </div> 
        <div class="form-group row">                
            <label asp-for="address.PhysicalLoc" class="col-sm-3 col-form-label"></label>
            <input type="checkbox" asp-for="address.PhysicalLoc" class="col-sm-1 form-control">
        </div>   
        <div class="form-group row">
            <label asp-for="address.Address.Address1" class="col-sm-3 col-form-label"></label>
            <input asp-for="address.Address.Address1" class="col-sm-3 form-control">
            <span class="field-validation-valid text-danger" data-valmsg-for="address.Address.Address1" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group row">
            <label asp-for="address.Address.Address2" class="col-sm-3 col-form-label"></label>
            <input asp-for="address.Address.Address2" class="col-sm-3 form-control">
            <span class="field-validation-valid text-danger" data-valmsg-for="address.Address.Address2" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group row">
            <label asp-for="address.Address.Address3" class="col-sm-3 col-form-label"></label>
            <input asp-for="address.Address.Address3" class="col-sm-3 form-control">
            <span class="field-validation-valid text-danger" data-valmsg-for="address.Address.Address3" data-valmsg-replace="true"></span>
        </div> 
        <div class="form-group row">
            <label asp-for="address.Address.City" class="col-sm-3 col-form-label"></label>
            <input asp-for="address.Address.City" class="col-sm-3 form-control">
            <span class="field-validation-valid text-danger" data-valmsg-for="address.Address.City" data-valmsg-replace="true"></span>
        </div>  
        <div class="form-group row">
            <label asp-for="address.Address.CountyId" class="col-sm-3 col-form-label">County</label>
            <select required asp-for="address.Address.CountyId" class="col-sm-5 form-control" asp-items="@(new SelectList(Model.counties, "CountyId", "Name"))"></select>
        </div>
       <div class="form-group row">
            <label asp-for="address.Address.StateProvinceId" class="col-sm-3 col-form-label">State</label>
            <select required asp-for="address.Address.StateProvinceId" class="col-sm-5 form-control" asp-items="@(new SelectList(Model.states, "StateProvinceId", "Name"))"></select>
        </div>   
        <div class="form-group row">
            <label asp-for="address.Address.CountryId" class="col-sm-3 col-form-label">Country</label>
            <select required asp-for="address.Address.CountryId" class="col-sm-5 form-control" asp-items="@(new SelectList(Model.countries, "Id", "Name"))"></select>
        </div> 
        <div class="form-group row">
            <label asp-for="address.Address.PostalCode" class="col-sm-3 col-form-label"></label>
            <input asp-for="address.Address.PostalCode" class="col-sm-3 form-control">
            <span class="field-validation-valid text-danger" data-valmsg-for="address.Address.PostalCode" data-valmsg-replace="true"></span>
        </div>
        <div class="row">
         <div class="col-sm-12">             
            <input type="submit" value="Update" class="btn btn-primary"></input>   
            <a class="btn btn-dark" asp-action="EmployeeDetails" asp-controller="Organizations" asp-area="Admin" asp-route-id="@Model.address.ContactId">Cancel</a>
        </div>
    </div>
</div>
</form>

@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
    
}