@model CCIA.Models.MyCustomers

@{
    ViewData["Title"] = "Edit";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
                <div class="form-group required">
                    <label class="control-label" asp-for="Name"></label>
                    <input required class="form-control" type="text" asp-for="Name" placeholder="Enter a name">
                </div>                

                <div class="form-group required">
                    <label class="control-label" asp-for="Address1"></label>
                    <input required class="form-control" type="text" asp-for="Address1" placeholder="Enter an address"/>
                </div>               

                <div class="form-group">
                    <label class="control-label" asp-for="Address2"></label>
                    <input class="form-control" type="text" asp-for="Address2" placeholder="Apt/Suite #"/>
                </div>

                <div class="form-group required">
                    <label class="control-label" asp-for="City"></label>
                    <input required class="form-control" type="text" asp-for="City" placeholder="Enter a city"/>
                </div>

                <div class="form-group required">
                    <label class="control-label" asp-for="County.CountyName">County <span style="font-weight:normal">(Select "Select a county" if outside California)</span></label>
                    <select required asp-for="County.CountyName" class="form-control" asp-items="@(new SelectList(Model.CountyNames, "CountyName", "CountyName"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="State.StateProvinceName">State <span style="font-weight:normal">(Select "Outside US" as appropriate)</span></label>
                    <select required asp-for="State.StateProvinceName" class="form-control" asp-items="@(new SelectList(Model.StateProvinceNames, "StateProvinceName", "StateProvinceName"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="Country.Name">Country</label>
                    <select required asp-for="Country.Name" class="form-control" asp-items="@(new SelectList(Model.CountryNames, "Name", "Name"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="Zip">Zip</label>
                    <input required asp-for="Zip" type="text" class="form-control" placeholder="Enter a zip code"/>
                </div>

                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Enter a phone number"/>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter an email address"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" asp-action="Edit" asp-route-id="@Model.Id">Save</button>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
                </div>
        </form>
    </div>
</div>