@model CCIA.Models.MyCustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.MyCustomer.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
                <div class="form-group required">
                    <label class="control-label" asp-for="MyCustomer.Name"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.Name" placeholder="Enter a name">
                </div>                

                <div class="form-group required">
                    <label class="control-label" asp-for="MyCustomer.Address1"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.Address1" placeholder="Enter an address"/>
                </div>               

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.Address2"></label>
                    <input class="form-control" type="text" asp-for="MyCustomer.Address2" placeholder="Apt/Suite #"/>
                </div>

                <div class="form-group required">
                    <label class="control-label" asp-for="MyCustomer.City"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.City" placeholder="Enter a city"/>
                </div>

                <div class="form-group required">
                    <label class="control-label" asp-for="MyCustomer.CountyId">County <span style="font-weight:normal">(Select "Select a county" if outside California)</span></label>
                    <select required asp-for="MyCustomer.CountyId" class="form-control" asp-items="@(new SelectList(Model.Counties, "CountyId", "CountyName"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="MyCustomer.StateId">State <span style="font-weight:normal">(Select "Outside US" as appropriate)</span></label>
                    <select required asp-for="MyCustomer.StateId" class="form-control" asp-items="@(new SelectList(Model.StateProvinces, "StateProvinceId", "StateProvinceName"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="MyCustomer.CountryId">Country</label>
                    <select required asp-for="MyCustomer.CountryId" class="form-control" asp-items="@(new SelectList(Model.Countries, "Id", "Name"))"></select>
                </div>

                <div class="form-group required">
                    <label asp-for="MyCustomer.Zip">Zip</label>
                    <input required asp-for="MyCustomer.Zip" type="text" class="form-control" placeholder="Enter a zip code"/>
                </div>

                <div class="form-group">
                    <label asp-for="MyCustomer.Phone"></label>
                    <input asp-for="MyCustomer.Phone" type="text" class="form-control" placeholder="Enter a phone number"/>
                </div>

                <div class="form-group">
                    <label asp-for="MyCustomer.Email"></label>
                    <input asp-for="MyCustomer.Email" type="email" class="form-control" placeholder="Enter an email address"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" asp-action="Edit" asp-route-id="@Model.MyCustomer.Id">Save</button>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.MyCustomer.Id">Cancel</a>
                </div>
        </form>
    </div>
</div>