@model CCIA.Models.IndexViewModels.BlendIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-1">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>BID</th>
        <th>Type</th>       
        <th>Crop</th>
        <th>Variety</th>
        <th>Requested</th>
        <th>Status</th>
        <th>Blend Cert#</th>       
        </thead>
        <tbody>
        
            @foreach (var blend in Model.blends)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="Blend" asp-route-id="@blend.BlendId">Details</a></td>
                <th>@blend.BlendId</th>
                <th>@blend.BlendType</th>       
                <th>@blend.Crop</th>
                <th>@blend.VarietyName</th>
                <th>@blend.RequestStarted.ToShortDateString()</th>
                <th>@blend.Status</th>
                <th>@blend.CertNumber</th>   
            </tr>
            }
        </tbody>
    </table>
</div>
