@model List<CCIA.Models.OECD>

@{
    Layout = null;
}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>OECD Certificate</title>
    <meta http-equiv="content-style-type" content="text/css" />
    <link rel="stylesheet" href="/css/printStyle.css" type="text/css" />
</head>
<body>    
    @foreach(var file in Model)
    {
        <div style="page-break-after: always;">
          

            <div>
                <a asp-action="Details" asp-controller="OECD" asp-route-id="@file.Id" class="noprint">Return to OECD</a>
            </div>
            <div>
                <table width="100%" border="0">
                    <tr>
                        <td align="center" width="100%">
                            <div align="center" class="title">
                                @if (!file.DatePrinted.HasValue)
                                {
                                    <span class="warning">This OECD Certificate has not been printed, and therefore the charges may
                                        not be finalized!</span><br>
                                }
                                OECD Certificate Invoice
                            </div>
                            <div align="center">
                                California Crop Improvement Association<br />Frank G. Parsons Seed Certification
                                Center<br />University of California<br />One Shields Avenue<br />Davis, California
                                95616-8541<br />
                                <br />
                            </div>
                        </td>

                    </tr>
                </table>

                <table border="0" width="100%">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="0">
                                <tr>
                                    <td valign="top">Shipper: </td>
                                    <td class="labelnoline">
                                        @file.ShipperOrganization.Name

                                        &nbsp; &nbsp;&nbsp; (ID# @file.ShipperOrganization.Id)
                                    </td>
                                    <td align="right" valign="top" class="labelnoline">
                                        Close Date: @file.CloseDate.Value.ToShortDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td colspan="2" class="labelnoline">
                                        @if(file.ShipperOrganization.Addresses != null)
                                        {
                                            @Html.Raw(file.ShipperOrganization.Addresses.First().Address.AddressLines)<br>
                                            @file.ShipperOrganization.Addresses.First().Address.City<span>,</span>
                                            @file.ShipperOrganization.Addresses.First().Address.StateProvince.StateProvinceCode
                                            @file.ShipperOrganization.Addresses.First().Address.PostalCode
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conditioner: </td>
                                    <td class="labelnoline">
                                        @file.ConditionerOrganization.Name

                                        &nbsp; &nbsp;&nbsp; (ID# @file.ConditionerOrganization.Id)
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td colspan="2" class="labelnoline">
                                        @if(file.ConditionerOrganization.Addresses != null)
                                        {
                                            @Html.Raw(file.ConditionerOrganization.Addresses.First().Address.AddressLines)<br>
                                            @file.ConditionerOrganization.Addresses.First().Address.City<span>,</span>
                                            @file.ConditionerOrganization.Addresses.First().Address.StateProvince.StateProvinceCode
                                            @file.ConditionerOrganization.Addresses.First().Address.PostalCode
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        An OECD Certificate/Tags was requested on the following lots.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                        OECD File Number:&nbsp;</td>
                                    <td colspan="2" class="doublespace">
                                        <span class="lablenoline">@file.Id</span>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td nowrap="noWrap">
                                        Variety and Crop:&nbsp;</td>
                                    <td colspan="2" class="doublespace">
                                        <span class="labelnoline">@file.Variety.Name &nbsp; @file.Variety.Crop.Name</span>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                        OECD Reference Number:</td>
                                    <td class="labelnoline">
                                        @file.ReferenceNumber
                                    </td>
                                    <td>
                                        Weight of Lot:
                                        <span class="labelnoline">@Html.DisplayFor(x => file.Pounds)</span>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                        OECD Lot Number:</td>
                                    <td class="labelnoline">
                                        @file.LotReferenceNumber
                                    </td>
                                    <td>
                                        Number of Tags:
                                        <span class="labelnoline">@file.TagsRequested</span>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                        Class Produced:
                                    </td>
                                    <td class="labelnoline">
                                        @file.Class.Class
                                    </td>
                                    <td>@file.LinkTitle: <span class="labelnoline">@file.LinkId</span></td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                        Destination Country:
                                    </td>
                                    <td class="labelnoline">
                                        @file.Country.Name
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td colspan="3">
                                        Remarks: <span class="labelnoline">@file.Comments</span>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>&nbsp;
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr class="doublespace">
                                    <td>
                                    </td>
                                    <td align="right">
                                        <table>
                                            <tr align="right">
                                                <td class="labelnoline">
                                                    @if(file.CertificateFee.HasValue)
                                                    {
                                                        <span>Certificate Fee = @string.Format("{0:C}", file.CertificateFee)</span>
                                                    }                                            
                                                </td>
                                            </tr>
                                            <tr align="right">
                                                <td class="labelnoline">
                                                    @if(file.OECDFee.HasValue)
                                                    {
                                                        <span>OECD Fee = @string.Format("{0:C}", file.OECDFee) </span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr align="right">
                                                <td class="labelnoline">
                                                     @if(file.NotFinallyCertifiedFee.HasValue)
                                                    {
                                                        <span>Not Finally Certified Fee = @string.Format("{0:C}", file.NotFinallyCertifiedFee)</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr align="right">
                                                <td class="overline">
                                                     @if(file.NotFinallyCertifiedFee.HasValue)
                                                    {
                                                        <span class="labelnoline">Total Charges = @string.Format("{0:C}", file.TotalFee)</span>
                                                    }                                       
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
    }    
</body>

</html>