@model  CCIA.Models.OECD
@using CCIA.Helpers



<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>OECD Details</h2> 
        </div>            
    </div>
    @* @if(Model.Stage == TagStages.Requested.GetDisplayName())
    {
        <div class="row">
            <div class="col-sm-12">
                    <form asp-action="AcceptTag">
                    @Html.HiddenFor(x => x.Id)
                    <input type="submit" class="btn btn-primary" value="Approve Request">
                </form>                    
            </div>            
        </div>
    }
    @if(Model.Stage == TagStages.Printing.GetDisplayName())
    {
        <div class="row">
            <div class="col-sm-12">
                    <form asp-action="PrintedTag">
                    @Html.HiddenFor(x => x.Id)
                    <input type="submit" class="btn btn-primary" value="Mark as Printed & Shipped">
                </form>                    
            </div>            
        </div>
    }
    @if(Model.Stage == TagStages.PendingFile.GetDisplayName())
    {
        <div class="row">
            <div class="col-sm-12">
                    <form asp-action="FileTag">
                    @Html.HiddenFor(x => x.Id)
                    <input type="submit" class="btn btn-primary" value="Mark as file uploaded and order complete">
                </form>                    
            </div>            
        </div>
    } *@
    <div class="row">
        <div class="col-sm-4"> @* First column *@
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Id)
                </div>
            </div>             
        </div>
        <div class="col-sm-4"> @* Second column *@
            <div class="form-group row">
                <label asp-for="Seeds.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Seeds.Id)
                </div>
            </div>                                                          
        </div>
        <div class="col-sm-4"> @* Third Col *@ 
            <div class="form-group row">
                <label asp-for="Seeds.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Seeds.CertYear)
                </div>
            </div>                     
        </div>
    </div>
    <div class="col-sm-12"> @* full width *@        
        <div>Full width stuff</div>
    </div>     
</div>