@model  CCIA.Models.AdminOECDEditCreateViewModel

<!-- Org Lookup Modal -->
<div class="modal fade" id="lookupOrgModal" tabindex="-1" role="dialog" aria-labelledby="Lookup Orgs" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Look Up Org</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
      <div class="modal-body">
         <label for="account">Name or Account Number:</label>
        <div class="input-group col">
            <input type="text" class="form-control" id="account" placeholder="Enter the organization's name or account number">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="account-lookup-btn"><i id="account-lookup-btn" class="fas fa-search"></i></button>                    
            </span>
        </div>
        <input type="hidden" id="lookupType" value=""/>
        <div id="orgTable"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form asp-action="Edit">
<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit OECD</h2> 
        </div>            
    </div>   
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4"> @* First column *@
            <div class="form-group row">
                <label asp-for="oecd.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="oecd.DateRequested" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.oecd.DateRequested.Value.ToShortDateString()
                </div>
            </div>             
            <div class="form-group row">
                <label asp-for="oecd.ShipperOrganization.NameAndId" class="col-sm-3 col-form-label">Shipper</label>                    
                <input type="text" asp-for="oecd.ShipperOrganization.NameAndId" class="col-sm-8 form-control" readonly>
                <div class="input-group-append"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupOrgModal" data-whatever="Shipper"><i class="fa fa-exchange-alt"></i></button>                            
                </div>  
                @Html.HiddenFor(x => x.oecd.ShipperId)                              
            </div>           
            <div class="form-group row">
                <label asp-for="oecd.ConditionerOrganization.NameAndId" class="col-sm-3 col-form-label">Conditioner</label>                    
                <input type="text" asp-for="oecd.ConditionerOrganization.NameAndId" class="col-sm-8 form-control" readonly>
                <div class="input-group-append"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupOrgModal" data-whatever="Conditioner"><i class="fa fa-exchange-alt"></i></button>                            
                </div>  
                @Html.HiddenFor(x => x.oecd.ConditionerId)  
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.Class.Class" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Class.Class)
                </div>
            </div> 
            <div class="form-group row">                 
                <label asp-for="oecd.ClassId" class="col-sm-3 col-form-label"></label>                                    
                 <select asp-for="oecd.ClassId"  class="col-sm-5 form-control" asp-items="@(new SelectList(Model.classes, "Id", "Class"))"></select>            
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.Seeds.Variety.NameAndId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Seeds.Variety.NameAndId)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.TotalFee" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.TotalFee)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.NotCertified" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.NotCertified)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.DataEntryDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.DataEntryDate)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="oecd.UpdateDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.UpdateDate)
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4"> @* Second column *@
            <div class="form-group row">
                <label asp-for="oecd.SeedsId" class="col-sm-3 col-form-label"></label>
                <input asp-for="oecd.SeedsId" class="col-sm-3 col-form">
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.DatePrinted" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.DatePrinted)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.CertNumber" class="col-sm-3 col-form-label"></label>
                <input asp-for="oecd.CertNumber" class="col-sm-3 col-form">
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.LotReferenceNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.LotReferenceNumber)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.Seeds.ClassProduced.CertClass" class="col-sm-3 col-form-label">Seed Class</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Seeds.ClassProduced.CertClass)
                </div>
            </div>
           <div class="form-group row">
               <label asp-for="oecd.Seeds.Variety.Crop.Name" class="col-sm-3 col-form-label"></label>
               <div class="col-sm-9 form-control-plaintext">
                   @Html.DisplayFor(x => x.oecd.Seeds.Variety.Crop.Name)
               </div>
           </div>
           <div class="form-group row">
               <label asp-for="oecd.Country.Name" class="col-sm-3 col-form-label"></label>
               <div class="col-sm-9 form-control-plaintext">
                   @Html.DisplayFor(x => x.oecd.Country.Name)
               </div>
           </div>
           <div class="form-group row">
               <label asp-for="oecd.Canceled" class="col-sm-3 col-form-label"></label>
               <div class="col-sm-9 form-control-plaintext">
                   @Html.DisplayFor(x => x.oecd.Canceled)
               </div>
           </div>
           <div class="form-group row">
               <label asp-for="oecd.DataEntryUser" class="col-sm-3 col-form-label"></label>
               <div class="col-sm-9 form-control-plaintext">
                   @Html.DisplayFor(x => x.oecd.EntryEmployee.Name)
               </div>
           </div>
           <div class="form-group row">
               <label asp-for="oecd.UpdateUser" class="col-sm-3 col-form-label"></label>
               <div class="col-sm-9 form-control-plaintext">
                   @Html.DisplayFor(x => x.oecd.UpdateEmployee.Name)
               </div>
           </div>                                                          
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4"> @* Third Col *@ 
            <div class="form-group row">
                <label asp-for="oecd.Seeds.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Seeds.CertYear)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.CloseDate" class="col-sm-3 col-form-label"></label>
                <input class="col-sm-3 col-form datepicker" type="text" asp-for="oecd.CloseDate">
            </div>
            <div class="form-group row">
                <label asp-for="oecd.LotNumber" class="col-sm-3 col-form-label"></label>
                <input asp-for="oecd.LotNumber" class="col-sm-3 col-form">
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.TagsRequested" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.TagsRequested)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="oecd.Pounds" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.Pounds)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="oecd.ReferenceNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.ReferenceNumber)
                </div>
            </div>    
            <div class="form-group row">
                <label asp-for="oecd.DomesticOrigin" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.oecd.DomesticOrigin)
                </div>
            </div>                         
        </div>
    </div>
    <div class="col-sm-12"> @* full width *@        
        <div class="form-group row">
            <label asp-for="oecd.Comments" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.DisplayFor(x => x.oecd.Comments)
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="oecd.AdminComments" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.DisplayFor(x => x.oecd.AdminComments)
            </div>
        </div>       
         <div class="row">
            <h3>Changes made to this File:</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>column</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Date</th>
                    <th>Person</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var row in Model.oecd.Changes.OrderBy(c => c.Id))
                {
                    <tr>
                        <td>@row.ColumnChange</td>
                        <td>@row.OldValue</td>
                        <td>@row.NewValue</td>
                        <td>@row.DateChanged</td>
                        <td>@row.Employee.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>     
</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script>   
    
     <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

        $('#lookupOrgModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever')          
            var modal = $(this)
            modal.find('.modal-title').text('Look Up ' + recipient + ' Org');
            modal.find('#lookupType').val(recipient);
            modal.find("#account").val("");
            modal.find("#orgTable").empty();            
        })

        $('#account-lookup-btn').click(function(e){
            e.preventDefault();
            var lookup = $("#account").val();
            if (lookup === "") {
                alert("This field cannot be empty.");
                return;
            }
            $("#orgTable").empty();
            $("#orgTable").load("/admin/Application/LookupOrg?lookup="+lookup, (response, status, xhr) => {
                if ( status == "error" ) {
                    var msg = "Sorry, the following error occurred: ";
                    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
                }
            });
        });

        function useOrg(e,orgId, orgNameAndId)
        {
            e.preventDefault();
            var lookupType = $("#lookupType").val();
            if(lookupType === "Shipper")
            {
                $("#ShipperId").val(orgId);
                $("#ShipperOrganization_NameAndId").val(orgNameAndId);
            }
            if(lookupType === "Conditioner")
            {
                $("#ConditionerId").val(orgId);
                $("#ConditionerOrganization_NameAndId").val(orgNameAndId);
            }
            $("#orgTable").empty();
            $("#lookupOrgModal").modal('hide');                       
        }


    
        
    
    </script>
}