<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCIA</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/cupertino/jquery-ui.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="Admin" asp-controller="AdminHome" asp-action="Index">CCIA Web App - Admin Home</a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbars">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse navbars" id="navbar2">
                <ul class="navbar-nav">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" asp-area="admin" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications</a>
                        <div class="dropdown-menu">                           
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="Pending">Process Pending</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="Renew">Renew</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="Accepted">Accepted</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="LookupFIR">Field Inspection Report</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="Search">Search/Field Pinning</a>  
                            <a class="dropdown-item" asp-area="admin" asp-controller="Application" asp-action="OpenPotatoHealthCertificate">Potato Health Certificate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="Seeds" asp-action="Index" aria-haspopup="true" aria-expanded="false">Seeds</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Pending">Pending</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Seeds">Seed Lots</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Certs">Cert Numbers</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Search">Search</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="WeightLog">Weight log</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="Tag" asp-action="Index" aria-haspopup="true" aria-expanded="false">Tags</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Process">Process</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Lookup">Tags</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Search">Search</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="SearchSeries">Tag Series Search</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="Tag" asp-action="Index" aria-haspopup="true" aria-expanded="false">OECD</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="OECD" asp-action="LookUp">OECD</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="OECD" asp-action="Pending">Pending Print</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="OECD" asp-action="ReportingSheets">Reporting Sheets</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="OECD" asp-action="Search">Search</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="Blends" asp-action="Index" aria-haspopup="true" aria-expanded="false">Blends</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="Blends" asp-action="Process">Process</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Blends" asp-action="Lookup">Blends</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Blends" asp-action="ByStatus">By Status</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Blends" asp-action="Search">Search</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="BulkSalesCertificates" asp-action="Index" aria-haspopup="true" aria-expanded="false">Bulk Sales/Transfers/Turfgrass</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="BulkSalesCertificates" asp-action="Lookup">Bulks Sales Certificate</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="BulkSalesCertificates" asp-action="Search">Search Bulk Sales Certificates</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="SeedTransfers" asp-action="Lookup">Seed Transfer Certificate</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="SeedTransfers" asp-action="Search">Search Seed Transfer Certificate</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Turfgrass" asp-action="Index">Turfgrass Certificate</a>
                        </div>
                    </li>
                    <a class="nav-link" asp-area="admin" asp-controller="Organizations" asp-action="Index">Orgs</a>
                    <a class="nav-link" asp-area="admin" asp-controller="Variety" asp-action="Search">Variety</a>                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="Reports" asp-action="Index" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="Applications">Applications</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="Seeds">Seeds</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="OECD">OECD</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="Assignments">Application Review Assignments</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="BadTags">Bad Tags!</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="Member">Member Report</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Reports" asp-action="PotatoBook">Potato Book</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="admin" asp-controller="CommandCenter" asp-action="Index"  aria-haspopup="true" aria-expanded="false">Command Center</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="admin" asp-controller="CommandCenter" asp-action="Index">Command Center</a>
                            <a class="dropdown-item" href="https://cciaweblibrary.ucdavis.edu" target="_blank">Web Library</a>
                        </div>
                    </li>
                    <a class="nav-link" asp-controller="Account" asp-action="Logout" asp-area="">Logout</a>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container-fluid body-content">
        <partial name="_CookieConsentPartial" />
        @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["ErrorMessage"]
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["Message"]
            </div>
        }        
        @if (!string.IsNullOrWhiteSpace(TempData.Peek("EmulationMessage") as string))
        {
            <div class="alert alert-info">
               Emulation<br/>
                @Html.Raw(TempData.Peek("EmulationMessage"))
            </div>
        }
        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2019 - CCIA </span>
        </div>
    </footer>

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.2/css/all.css" >
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>       
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown()
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
