@model List<CCIA.Models.Applications>

@{
    var i = 0;
}

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

@if(ViewBag.IncludeMapOptions != null){    
    <div class="col-lg-12">
        <div class="row">  
            <form id="MapForm" asp-action="MapFields">
                Map selected Fields:        
                <select id="ddlType" name="ddlType">
                    <option value="Polygon">Fields</option>
                    <option value="Point">Pins</option>
                </select> | 
                <input type="button" id="SelectAllButton" class="btn btn-info" value="Select All"> | 
                <button type="submit" class="btn btn-primary">Map 'em'</button>
            </form>
        </div>
        <div>&nbsp;</div>
    </div>
}
    <table id="table" class="table datatable">
        <thead>
            <th></th>
            @if(ViewBag.IncludeMapOptions != null)
            {
               <th></th>  
            }
           
        <th>AppId</th>
        <th>Type</th>
        <th>Applicant ID</th>
        <th>Applicant Name</th>
        <th>Grower ID</th>
        <th>Grower</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Class</th>
        <th>County</th>
        <th>Field Name</th>
        <th>Acres</th>
        @if(ViewBag.AcresApproved != null)
        {
            <th>Acres Approved</th>
        }        
        <th>Planting Date</th>
        <th>Map</th>
        <th>PO Lot</th>
        @if(ViewBag.HideFI == null)
        {
          <th>#FI</th>  
        }        
        <th>Status</th>
        </thead>
        <tbody>
            @foreach (var app in Model)
            {
            <tr>
                <td><a class="btn btn-info" asp-action="Details" asp-area="admin" asp-controller="Application" asp-route-id="@app.Id">Details</a></td>
                @if(ViewBag.IncludeMapOptions != null)
                {
                <td> 
                    <input name="checkMap" type="checkbox" class="mapCheckbox" value="@app.Id" />
                    @{i =+ 1; }
                </td>
                }
                <td>@app.Id</td>
                <td>@app.AppType</td>
                <td>@app.ApplicantId</td>
                <td>@app.ApplicantName</td>
                <td>@app.GrowerId</td>
                <td>@app.GrowerName</td> 
                <td>@app.Crop.Name</td>
                <td>@app.VarietyName</td>
                <td>@app.ClassProducedName</td> 
                <td>@app.County.Name</td>
                <td>@app.FieldName</td>
                <td>@app.AcresApplied
                    @if(app.IsSquareFeet)
                    {
                        <span>Square feet</span>
                    } 
                </td>
                @if(ViewBag.AcresApproved != null)
                {
                    <td>@if(app.FieldInspectionReport != null)
                        {
                            @app.FieldInspectionReport.AcresApproved
                        }
                    </td>
                }                   
                @if(app.DatePlanted.HasValue)
                {
                    <td data-sort="@string.Format("{0:yyyy/MM/dd}" , app.DatePlanted.Value)">@app.DatePlanted.Value.ToShortDateString()</td>
                } else
                {
                    <td></td>
                }             
                <td>@app.MapVe</td>
                <td>@app.PoLotNum</td> 
                @if(ViewBag.HideFI == null)              
                {
                  <td>@app.FieldInspection.Count()</td>  
                }                                
                <td>@app.Status</td>
            </tr>
            }
        </tbody>
    </table>
</div>

