@model CCIA.Models.DetailsViewModels.DetailsViewModel

@{
    bool showPurchasedFrom = false;
    bool showPounds = false;
    bool showPlantsPerAcre = false;
    bool showTHC = false;
}

<h2>Application Details</h2> 
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="application.Id" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Id)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FullCert" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FullCert)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.Status" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Status)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.Received" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Received)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.DatePlanted" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.DatePlanted)
                    </div>
                </div>  
                <div class="form-group row">
                    <label asp-for="application.WarningFlag" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.WarningFlag)
                        @Html.DisplayFor(x => x.application.ApplicantNotes)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.Renewal" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Renewal)
                    </div>
                </div>            
                <div class="form-group row">
                    <label asp-for="application.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Applicant</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.ApplicantOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.Crop.Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Crop.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.ClassProduced.ClassProducedTrans)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.MapVe" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.CheckBox("MapsVe", Model.application.MapVe ?? false, new {@disabled = true})
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.FieldName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldName)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.County.CountyName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.County.CountyName)
                    </div>
                </div>        
        </div>
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.AppType)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.CertYear" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.CertYear)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.AppTypeTrans.AppTypeTrans)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.Postmark" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Postmark)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.Deadline" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Deadline) 
                    </div>
                </div>                   
                <div class="form-group row">
                    <label asp-for="application.AppLate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.AppLate) Override? @Html.DisplayFor(x => x.application.OverrideLateFee)
                    </div>
                </div> 
                <div class="form-group row">
                    <label asp-for="application.OriginalCertYear" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.OriginalCertYear) Prev App: @Html.DisplayFor(x => x.application.PaperAppNum)
                    </div>
                </div>          
                <div class="form-group row">
                    <label asp-for="application.GrowerOrganization.NameAndId" class="col-sm-3 col-form-label">Grower</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.GrowerOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.EnteredVariety" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.EnteredVariety)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.Variety.Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.Variety.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.AcresApplied" class="col-sm-3 col-form-label">Acres</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.AcresApplied)  (Mapped: @Html.DisplayFor(x => x.application.AreaAcres) )
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.PackageComplete" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.PackageComplete)
                    </div>
                </div>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="application.ApplicantComments" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.application.ApplicantComments)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="application.Comments" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.application.Comments)
        </div>
    </div>
    <div class="row">
        <h3>Historic Overlaps</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>ID</th>
                    <th>Year</th>
                    <th>Renewal Of</th>
                    <th>Crop</th>
                    <th>Variety</th>
                    <th>Status</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.conflicts)
                {
                    <tr>
                        <td>@row.Origin</td>
                        <td>@row.Id</td>
                        <td>@row.CertYear</td>
                        <td>@row.RenewedFrom</td>
                        <td>@row.Crop</td>
                        <td>@row.Variety</td>
                        <td>@row.Status</td>
                        <td><a href="@row.Url">link</a></td>
                    </tr>                    
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8"> For applications, this is a direct link. For isolation mapping, use the "Find pin by #" function.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Certificates/Tags</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.application.Certificates)
                {
                    <tr>
                        <td>
                            Filedownload -
                            @row.Link
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
     <div class="row">
        <hr />
    </div>
    <div class="row">
        <h3>Planting Stock Info</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Cert#</th>
                    <th>Variety</th>
                    @if(Model.application.PlantingStocks.First().PoundsPlanted != null || Model.application.PlantingStocks.Last().PoundsPlanted != null)
                    {
                        showPounds = true;
                        <th>Pounds Planted</th>
                    } 
                    @if(Model.application.PlantingStocks.First().PlantsPerAcre != null || Model.application.PlantingStocks.Last().PlantsPerAcre != null)
                    { 
                        showPlantsPerAcre = true;                       
                        <th>Plants/Acre</th>
                    }                 
                    <th>Class</th>
                    <th>Tag Issued</th>
                    <th>Grown</th>
                    @if(Model.application.PlantingStocks.First().SeedPurchasedFrom != null || Model.application.PlantingStocks.Last().SeedPurchasedFrom != null)
                    {
                        showPurchasedFrom = true;
                        <th>Purchased From</th>
                    } 
                    @if(Model.application.AppType == "PO")
                    {
                        <th>Winter test?</th>
                        <th>PVX test?</th>
                    }
                    @if(Model.application.PlantingStocks.First().ThcPercent != null || Model.application.PlantingStocks.Last().ThcPercent != null)
                    {
                        showTHC = true;
                        <th>THC%</th>
                    } 
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.application.PlantingStocks)
                {
                    <tr>
                        <td>
                            @row.PsCertNum
                        </td>
                        <td>@row.PsEnteredVariety</td>
                        @if(showPounds)
                        {
                            <td>@row.PoundsPlanted</td>
                        }
                        @if(showPlantsPerAcre)
                        {
                            <td>@row.PlantsPerAcre</td>
                        }                        
                        <td>@row.PsClassNavigation.ClassProducedTrans</td>
                        @if(@row.TaggedStateProvince == null)
                        {
                            <td>@row.StateCountryTagIssued</td>
                        } else if(@row.GrownStateProvince.StateProvinceName != null)
                        {
                            <td>@row.TaggedStateProvince.StateProvinceName</td>
                        }  else {
                            <td>&nbsp;</td>
                        }                      
                        <td>@row.GrownStateProvince.StateProvinceName</td>
                        <td>@row.SeedPurchasedFrom</td>
                        @if(Model.application.AppType == "PO")
                        {
                            <td>@Html.DisplayFor(x => row.PvxTest.Value)</td>
                            <td>@Html.DisplayFor(x => row.PvxTest.Value)</td>
                        }
                        @if(showTHC)
                        {
                            <td>@row.ThcPercent</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <hr />
    </div>  
    <div class="row">
        <h3>Field History</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Crop</th>
                <th>Variety</th>
                <th>Application #</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.application.FieldHistories)
            {
                <tr>
                    <td>@row.Year</td>
                    <td>@row.FHCrops.Name</td>
                    <td>@row.Variety</td>
                    <td>@row.AppNumber</td>
                </tr>
            }
            </tbody>
        </table>
    </div> 
    <div class="row">
        <h3>Changes made to this application:</h3>
        <table class="table">
            <thead>
            <tr>
                <th>column</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>Date</th>
                <th>Person</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.application.Changes)
            {
                <tr>
                    <td>@row.ColumnChange</td>
                    <td>@row.OldValue</td>
                    <td>@row.NewValue</td>
                    <td>@row.DateChanged</td>
                    <td>@row.Employee.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>   
</div>
