@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model CCIA.Models.DetailsViewModels.AdminViewModel

@{
    bool showPurchasedFrom = false;
    bool showPounds = false;
    bool showPlantsPerAcre = false;
    bool showTHC = false;
}

<div class="container col-sm-10">
    <div class="row">
        <div class="col-sm-12">
            <h2>Application Details</h2> 
        </div>
    </div>
    <div class="row">        
            <div class="col-sm-6"><a asp-action="Previous" asp-route-id="@Model.application.Id" class="btn btn-light">Previous</a> |  <a asp-action="Next" asp-route-id="@Model.application.Id"  class="btn btn-light">Next</a></div>
            <div class="col-sm-6">
                @if(Model.application.FollowUp)
                {
                    <b>App Flagged for Follow-up</b>
                }
                <a asp-action="ToggleFollowup" asp-route-id="@Model.application.Id" class="btn btn-dark">Toggle Follow-up</a>
            </div>                  
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-primary" asp-action="Edit" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Edit</a>            
        </div>
        <div class="col-sm-10 border">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseReturn" aria-expanded="false" aria-controls="collapseReturn">Begin Return to Client...</button>  
            <form asp-action="ReturnApplication">  
            <input type="hidden" id="id" name="id" value="@Model.application.Id">
            <div class="collapse col-sm-12" id="collapseReturn">
                <div class="form-group row">
                    <label for="reason" class="col-sm-5 col-form-label"> Enter reason for returning app</label>               
                    <textarea id="reason" name="reason" class="form-control col-sm-7"></textarea>
                </div>
                <input class="btn btn-danger" type="submit" value="Return App">
            </div>
            </form>
        </div>        
    </div>
    @if(Model.application.Status == "Pending acceptance")
    {
        <div class="row">
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6">            
                <form asp-action="AcceptApplication">
                    @Html.HiddenFor(x => x.application.Id)
                    <input type="submit" class="btn btn-success" value="Accept Application" onClick="return check_accept();">
                </form>
            </div>
            <div class="col-sm-6">
                <form asp-action="CancelApplication">
                    @Html.HiddenFor(x => x.application.Id)
                    <input type="submit" class="btn btn-warning" value="Cancel Application" onClick="return confirm('Are you sure you wish to Cancel this application?');">
                </form>
            </div>
            <div class="col-sm-12"><hr></div>
        </div>
    }
    @if(Model.application.Status == "Field Inspection in Progress" || Model.application.Status == "Field Inspection Report Ready")
    {
       <div class="row">
           <div class="col-sm-12"><hr></div>
            <div class="col-sm-12">
                <a class="btn btn-info" asp-action="FIR" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">FIR</a> 
                @if(Model.application.Status == "Field Inspection Report Ready" && Model.application.AppType == "PO")
                {
                    <span> | <a class="btn btn-info" asp-action="PotatoHealthCertificateDetails" asp-route-id="@Model.application.Id">Potato Health Certificate</a> </span>
                }

            </div>
            <div class="col-sm-12"><hr></div>
        </div>
    }
    <div class="row">
         <div class="col-md-6 col-xl-4">@*First column *@
            <div class="form-group row">
                <label asp-for="application.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.FullCert" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FullCert)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="application.Received" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Received)
                </div>
            </div>  
             <div class="form-group row">
                <label asp-for="application.DatePlanted" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.DatePlanted)
                </div>
            </div>  
            <div class="form-group row">                
                <label asp-for="application.Renewal" class="col-sm-3 col-form-label"></label>
                <input type="checkbox" asp-for="application.Renewal" class="col-sm-3 form-control">
            </div>              
        </div>
        <div class="col-md-6 col-xl-4">@*Second column *@
            <div class="form-group row">
                <label asp-for="application.AppTypeTrans.AppTypeTrans" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AppTypeTrans.AppTypeTrans)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="application.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.CertYear)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="application.Postmark" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Postmark)
                </div>
            </div>              
            <div class="form-group row">                
                    <label asp-for="application.AppLate" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="application.AppLate" class="col-sm-3 form-control">
            </div>   
            <div class="form-group row">
                <label asp-for="application.OriginalCertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.OriginalCertYear) 
                </div>
            </div>                    
        </div>
        <div class="col-md-6 col-xl-4">@*Third column *@                  
            <div class="form-group row">
                <label asp-for="application.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Status)
                </div>
            </div>
            @if(!string.IsNullOrWhiteSpace(Model.application.returnReason))
            {
                <div class="form-group row">
                    <label asp-for="application.returnReason" class="col-sm-3 col-form-label">Return Reason</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.returnReason)
                    </div>
                </div>
            }   
            <div class="form-group row">
                <label asp-for="application.Deadline" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Deadline) 
                </div>
            </div>             
            <div class="form-group row">                
                    <label asp-for="application.OverrideLateFee" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="application.OverrideLateFee" class="col-sm-3 form-control">
            </div>   
            <div class="form-group row">
                <label asp-for="application.PaperAppNum" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.PaperAppNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">             
            <div class="form-group row">                
                    <label asp-for="application.WarningFlag" class="col-sm-6 col-form-label"></label>
                    <input type="checkbox" asp-for="application.WarningFlag" class="col-sm-3 form-control">
            </div>                 
        </div>
        <div class="col-lg-8">
            <div class="form-group row">
                <label asp-for="application.WarningFlag" class="col-sm-2 col-form-label">Warning:</label>
                <div class="col-sm-10 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ApplicantNotes)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">                                      
            <div class="form-group row">
                <label asp-for="application.ApplicantOrganization.NameAndId" class="col-sm-2 col-form-label">Applicant</label>
                <div class="col-sm-10 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ApplicantOrganization.NameAndId)
                </div>
            </div>
        </div>
        <div class="col-lg-6">             
            <div class="form-group row">
                <label asp-for="application.GrowerOrganization.NameAndId" class="col-sm-3 col-form-label">Grower</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.GrowerOrganization.NameAndId)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-4">@* Column 1*@
            <div class="form-group row">
                <label asp-for="application.Crop.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Crop.Name)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ClassProduced.ClassProducedTrans)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.FieldName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldName)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Entered By</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.application.DataEntryContact?.FullName()
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">@* Column 2*@
            <div class="form-group row">
                <label asp-for="application.EnteredVariety" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.EnteredVariety)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.AcresApplied" class="col-sm-3 col-form-label">Acres</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AcresApplied)
                    @if(Model.application.IsSquareFeet)
                        {
                            <span>Square feet</span>
                        } 
                    (Mapped: @Html.DisplayFor(x => x.application.AreaAcres) )
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.County.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.County.Name)
                </div>
            </div>  
        </div>
        <div class="col-md-6 col-xl-4">@* Column 3*@
            <div class="form-group row">
                <label asp-for="application.Variety.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Variety.Name)
                </div>
            </div>            
            <div class="form-group row">                
                    <label asp-for="application.PackageComplete" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="application.PackageComplete" class="col-sm-3 form-control">
            </div>   
             <div class="form-group row">
               <label asp-for="application.MapVe" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="application.MapVe" class="col-sm-3 form-control">
                @if(Model.application.MapVe)
                {
                    <div>
                        <a class="btn btn-info" asp-action="FieldMap" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">View Map</a>
                    </div>  
                }
                
                
            </div> 
            <div class="form-group row">
                <a class="btn btn-warning" asp-action="NewMap" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Update/Create Map</a>
            </div> 
        </div>
    </div>   
    <div class="form-group row">
        <label asp-for="application.ApplicantComments" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.application.ApplicantComments)
        </div>
    </div>
    <form asp-action="UpdateComments">
        <input type="hidden" name="id" id="id" value="@Model.application.Id">
        <div class="form-group row ">
            <div class="col-sm-11 row">
                <label for="comments" class="col-sm-3 col-form-label">Admin Comments</label>
                <textarea name="comments" id="comments" class="col-sm-9 form-control" rows="3">@Model.application.Comments</textarea>
            </div>
            <div class="col-sm-1"><input type="submit" value="Update" class="btn btn-primary"></div>            
        </div>
    </form> 
    @if(Model.conflicts.Any())
    {
        <div class="row">
            <h3>Historic Overlaps</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Origin</th>
                        <th>ID</th>
                        <th>Year</th>
                        <th>Renewal Of</th>
                        <th>Crop</th>
                        <th>Variety</th>
                        <th>Status</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.conflicts)
                    {
                        <tr>
                            <td>@row.Origin</td>
                            <td>@row.Id</td>
                            <td>@row.CertYear</td>
                            <td>@row.RenewedFrom</td>
                            <td>@row.Crop</td>
                            <td>@row.Variety</td>
                            <td>@row.Status</td>
                            <td>
                                @if(row.Origin == "applications")
                                {
                                    <a class="btn btn-info" asp-action="FieldMap" asp-area="admin" asp-controller="Application" asp-route-id="@row.Id">View Map</a>                                    
                                } else
                                {
                                    <a href="@row.Url" class="btn btn-info">link</a>
                                }                                 
                            </td>
                        </tr>                    
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"> For applications, this is a direct link. For isolation mapping, use the "Find pin by #" function.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    @if(Model.application.TurfgrassCertificates.Any())
    {
        <div class="row">
            <h3>Turfgrass Certificates From this App</h3>
            <table class="table">
                <thead>
                    <tr>                        
                        <th>ID</th>
                        <th>Sprigs</th>
                        <th>Sod</th>
                        <th>Billing Invoice</th>
                        <th>Harvest Date</th>
                        <th>Harvest #</th>
                        <th>Certificates</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.application.TurfgrassCertificates)
                    {
                        <tr>
                            <td>@row.Id</td>
                            <td>@Html.DisplayFor(x => row.Sprigs)</td>
                            <td>@Html.DisplayFor(x => row.Sod)</td>
                            <td>@row.BillingInvoice</td>
                            <td>@row.HarvestDate</td>
                            <td>@row.HarvestNumber</td>
                            <td><a asp-action="Certificate" asp-controller="Turfgrass" class="btn btn-info">Cert</a></td>
                        </tr>                    
                    }
                </tbody>                
            </table>
        </div>
    }
</div>
<div class="container  col-sm-10">
    @if(Model.application.Certificates.Any())
    {    
        <div class="row">
            <h3>Certificates/Tags</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.application.Certificates)
                    {
                        <tr>
                            <td>@row.Name</td>
                            <td>
                               <a asp-action=GetCertificateFile asp-route-id="@Model.application.Id" asp-route-link="@row.Link">@row.Link</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <hr />
        </div>
    }
    <hr>
    <form enctype="multipart/form-data" method="post" asp-action="UploadCertificate">
    <h3>Upload new Certificate</h3>
        <input type="hidden" name="id" id="id" value="@Model.application.Id">
         <div class="form-group row">
                <label class="col-sm-3 col-form-label">Certificate Name</label>
                <input id="certName" name="certName" class="col-form">
            </div>
        
        <input id="file" name="file" type="file">            
        <input class="btn btn-primary" type="submit" value="Upload" disabled />        
        <br>Allowed files: @Configuration["AllowedFiles"]
    </form>
    <hr>
    @if(Model.application.PlantingStocks.Any())
    {    
        <div class="row">
            <h3>Planting Stock Info</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cert#</th>
                        <th>Variety</th>
                        @if(Model.application.PlantingStocks.First().PoundsPlanted != null || Model.application.PlantingStocks.Last().PoundsPlanted != null)
                        {
                            showPounds = true;
                            <th>Pounds Planted</th>
                        } 
                        @if(Model.application.PlantingStocks.First().PlantsPerAcre != null || Model.application.PlantingStocks.Last().PlantsPerAcre != null)
                        { 
                            showPlantsPerAcre = true;                       
                            <th>Plants/Acre</th>
                        }                 
                        <th>Class</th>
                        <th>Tag Issued</th>
                        <th>Grown</th>
                        @if(Model.application.PlantingStocks.First().SeedPurchasedFrom != null || Model.application.PlantingStocks.Last().SeedPurchasedFrom != null)
                        {
                            showPurchasedFrom = true;
                            <th>Purchased From</th>
                        } 
                        @if(Model.application.AppType == "PO")
                        {
                            <th>Winter test?</th>
                            <th>PVX test?</th>
                        }
                        @if(Model.application.PlantingStocks.First().ThcPercent != null || Model.application.PlantingStocks.Last().ThcPercent != null)
                        {
                            showTHC = true;
                            <th>THC%</th>
                        } 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.application.PlantingStocks.OrderBy(p => p.PsId))
                    {
                        <tr>
                            <td>
                                @row.PsCertNum
                            </td>
                            <td>@row.PsEnteredVariety</td>
                            @if(showPounds)
                            {
                                <td>@Html.DisplayFor(x => row.PoundsPlanted)</td>
                            }
                            @if(showPlantsPerAcre)
                            {
                                <td>@row.PlantsPerAcre</td>
                            }                        
                            <td>@if(row.PsClassNavigation != null)
                                {@row.PsClassNavigation.ClassProducedTrans
                                    @if(row.PsAccession != null){
                                        <span>- @row.PsAccession</span>
                                    }
                                }
                            </td>
                            @if(@row.TaggedStateProvince != null)
                            {
                                <td>@row.TaggedStateProvince.Name</td>
                            } else if(@row.TaggedCountry != null){
                                <td>@row.TaggedCountry.Name</td>
                            } else {
                                <td>???</td>
                            }
                            @if(@row.GrownStateProvince != null && @row.GrownStateProvince.Name != null)
                            {
                                <td>@row.GrownStateProvince.Name</td>
                            }  else if(@row.GrownCountry != null) 
                            {
                                <td>@row.GrownCountry.Name</td>
                            } else {
                                <td>???</td>
                            }                                           
                            @if(showPurchasedFrom)
                            {
                                <td>@row.SeedPurchasedFrom</td>
                            }                        
                            @if(Model.application.AppType == "PO")
                            {
                                <td>@Html.DisplayFor(x => row.WinterTest)</td>
                                <td>@Html.DisplayFor(x => row.PvxTest)</td>
                            }
                            @if(showTHC)
                            {
                                <td>@row.ThcPercent</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } else {
         <div class="row">
            <h3>Planting Stock Info</h3> <br>
            None found!
        </div>
    }
    <div class="row">
        <hr />
    </div> 
    @if(Model.application.FieldHistories.Any()) 
    {
        <div class="row">
            <h3>Field History</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Crop</th>
                    <th>Variety</th>
                    <th>Application #</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var row in Model.application.FieldHistories.OrderBy(h => h.Year))
                {
                    <tr>
                        <td>@row.Year</td>
                        <td>@(@row.FHCrops == null ? "" : @row.FHCrops.Name)</td>
                        <td>@row.Variety</td>
                        <td>@row.AppNumber</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>         
    } else {
        <div class="row">
            <h3>Field History</h3><br>
            None found
        </div>
    }
    <div class="row">
        <h3>Changes made to this application:</h3>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>column</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>Date</th>
                <th>Person</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.application.Changes.OrderBy(c => c.Id))
            {
                <tr>
                    <td>@row.ColumnChange</td>
                    <td>@row.OldValue</td>
                    <td>@row.NewValue</td>
                    <td>@row.DateChanged</td>
                    <td>
                        @if(row.Employee != null)
                        {
                            @row.Employee.Name
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Edit" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Edit</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function check_accept () {
           
            var complete = $("#application_PackageComplete").is(':checked');
            var late = $("#application_AppLate").is(':checked');
            var override = $("#application_OverrideLateFee").is(':checked');
            var msg = '';
            var bolCheck = false;
            
            if (!complete) {
                msg = 'Accept application even when incomplete? \n This will add an extra $50 fee.';
                bolCheck = true;
            }
            if (late && !override) {
                    msg += '\n Application is currently late. Please double check postmark date \n This will add an extra $100 fee.';
                    bolCheck = true;
            }
            if (bolCheck) {
                    return confirm(msg);
            }
            return true;
            
        } 
   
        
        $(document).ready(
            function(){
                $('input:file').change(
                    function(){
                        if ($(this).val()) {
                            $('input:submit').removeAttr('disabled'); 
                        } 
                    }
                );
            $(":checkbox").on("click", false);
        });
    </script>
   
}

