@model CCIA.Models.Applications
@{
    bool showPurchasedFrom = false;
    bool showPounds = false;
    bool showPlantsPerAcre = false;
    bool showTHC = false;
}

<h2>Application Details</h2> 
<form asp-action="Edit">
    @Html.HiddenFor(x => x.Id)
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.Id)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Status" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.Status)
                    </div>
                </div>                
                <div class="form-group row">
                    <label asp-for="ApplicantOrganization.NameAndId" class="col-sm-2 col-form-label">Applicant</label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.ApplicantOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Crop.Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.Crop.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ClassProduced.ClassProducedTrans" class="col-sm-2 col-form-label">Class</label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.ClassProduced.ClassProducedTrans)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MapVe" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.CheckBox("MapsVe", Model.MapVe ?? false, new {@disabled = true})
                    </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="CertYear"></label>
                    <input asp-for="CertYear" class="col-sm-2 col-form-label"></input>
                </div>
                <div class="form-group row">
                    <label asp-for="AppType" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.AppTypeTrans.AppTypeTrans)
                    </div>
                </div>               
                <div class="form-group row">
                    <label asp-for="GrowerOrganization.NameAndId" class="col-sm-2 col-form-label">Grower</label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.GrowerOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Variety.Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.Variety.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AcresApplied" class="col-sm-2 col-form-label">Acres</label>
                    <div class="col-sm-10 form-control-plaintext">
                        @Html.DisplayFor(x => x.AcresApplied)
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-1 row">
        <label class="col-form-label">Certificates/Tags</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Certificates)
                {
                    <tr>
                        <td>
                            Filedownload -
                            @row.Link
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
     <div class="row">
        <hr />
    </div>
    <div class="row">
        <label class="col-form-label">Planting Stock Info</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Cert#</th>
                    <th>Variety</th>
                    @if(Model.PlantingStocks.First().PoundsPlanted != null || Model.PlantingStocks.Last().PoundsPlanted != null)
                    {
                        showPounds = true;
                        <th>Pounds Planted</th>
                    } 
                    @if(Model.PlantingStocks.First().PlantsPerAcre != null || Model.PlantingStocks.Last().PlantsPerAcre != null)
                    { 
                        showPlantsPerAcre = true;                       
                        <th>Plants/Acre</th>
                    }                 
                    <th>Class</th>
                    <th>Tag Issued</th>
                    <th>Grown</th>
                    @if(Model.PlantingStocks.First().SeedPurchasedFrom != null || Model.PlantingStocks.Last().SeedPurchasedFrom != null)
                    {
                        showPurchasedFrom = true;
                        <th>Purchased From</th>
                    } 
                    @if(Model.AppType == "PO")
                    {
                        <th>Winter test?</th>
                        <th>PVX test?</th>
                    }
                    @if(Model.PlantingStocks.First().ThcPercent != null || Model.PlantingStocks.Last().ThcPercent != null)
                    {
                        showTHC = true;
                        <th>THC%</th>
                    } 
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.PlantingStocks)
                {
                    <tr>
                        <td>
                            @row.PsCertNum
                        </td>
                        <td>@row.PsEnteredVariety</td>
                        @if(showPounds)
                        {
                            <td>@row.PoundsPlanted</td>
                        }
                        @if(showPlantsPerAcre)
                        {
                            <td>@row.PlantsPerAcre</td>
                        }                        
                        <td>@row.PsClassNavigation.ClassProducedTrans</td>
                        @if(@row.TaggedStateProvince == null)
                        {
                            <td>@row.StateCountryTagIssued</td>
                        } else if(@row.GrownStateProvince.StateProvinceName != null)
                        {
                            <td>@row.TaggedStateProvince.StateProvinceName</td>
                        }  else {
                            <td>&nbsp;</td>
                        }                      
                        <td>@row.GrownStateProvince.StateProvinceName</td>
                        <td>@row.SeedPurchasedFrom</td>
                        @if(Model.AppType == "PO")
                        {
                            <td>@Html.DisplayFor(x => row.PvxTest.Value)</td>
                            <td>@Html.DisplayFor(x => row.PvxTest.Value)</td>
                        }
                        @if(showTHC)
                        {
                            <td>@row.ThcPercent</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <hr />
    </div>  
    <div class="row">
        <label class="col-form-label">Field History</label>
        <table class="table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Crop</th>
                <th>Variety</th>
                <th>Application #</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.FieldHistories)
            {
                <tr>
                    <td>@row.Year</td>
                    <td>@row.FHCrops.Name</td>
                    <td>@row.Variety</td>
                    <td>@row.AppNumber</td>
                </tr>
            }
            </tbody>
        </table>
    </div>  
</div>
</form>