@model CCIA.Models.DetailsViewModels.AdminViewModel
@{
    bool showPurchasedFrom = false;
    bool showPounds = false;
    bool showPlantsPerAcre = false;
    bool showTHC = false;
}

<!-- Org Lookup Modal -->
<div class="modal fade" id="lookupOrgModal" tabindex="-1" role="dialog" aria-labelledby="Lookup Orgs" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Look Up Org</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
      <div class="modal-body">
         <label for="account">Name or Account Number:</label>
        <div class="input-group col">
            <input type="text" class="form-control" id="account" placeholder="Enter the organization's name or account number">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="account-lookup-btn"><i id="account-lookup-btn" class="fas fa-search"></i></button>                    
            </span>
        </div>
        <input type="hidden" id="lookupType" value=""/>
        <div id="orgTable"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Variety Lookup Modal -->
<div class="modal fade" id="lookupVarietyModal" tabindex="-1" role="dialog" aria-labelledby="Lookup Variety" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Look Up Variety</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
      <div class="modal-body">
         <label for="account">Variety Name:</label>
        <div class="input-group col">
            <input type="text" class="form-control" id="variety" placeholder="Enter the varieties name (partial accepted)">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="variety-lookup-btn"><i class="fas fa-search"></i></button>                    
            </span>
        </div>
        <div id="varietyTable"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Class Lookup Modal -->
<div class="modal fade" id="lookupClassModal" tabindex="-1" role="dialog" aria-labelledby="Lookup Class" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Look Up Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
      <div class="modal-body">         
        <div id="classTable"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h2>Edit Application Details</h2> 
<form asp-action="Edit">
    @Html.HiddenFor(x => x.application.Id)
<div class="container col-sm-10">
    <div class="row">
         <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="submit" value="Update" class="btn btn-primary"></input>   
            <a class="btn btn-dark" asp-action="Details" asp-controller="Application" asp-area="Admin" asp-route-id="@Model.application.Id">Cancel</a>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-4">@* First column*@
             <div class="form-group row">
                <label asp-for="application.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.FullCert" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FullCert)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.Received" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Received)
                </div>
            </div> 
            <div class="form-group row required">
                <label asp-for="application.DatePlanted" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 input-group">
                    <input type="text" asp-for="application.DatePlanted" class="datepicker form-control"></input>
                    <div class="input-group-append" onclick="$('.datepicker').focus();">             
                        <i class="fa fa-calendar input-group-text"></i>
                    </div>                        
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="application.DatePlanted" data-valmsg-replace="true"></span>
            </div>             
            <div class="form-group row">                
                    <label asp-for="application.Renewal" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="application.Renewal" class="col-sm-3 form-control" disabled="disabled">
            </div>    
        </div>
        <div class="col-md-6 col-xl-4">@* Second column*@
            <div class="form-group row">
                <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>                    
                <select required asp-for="application.AppType" class="col-sm-9 form-control" asp-items="@(new SelectList(Model.AppTypes))"></select>
            </div> 
            <div class="form-group row required">
                <label class="col-sm-3 col-form-label" asp-for="application.CertYear"></label>
                <input asp-for="application.CertYear" class="col-sm-3 col-form-label"></input>
                <span class="field-validation-valid text-danger" data-valmsg-for="CertYear" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row required">
                <label asp-for="application.Postmark" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 input-group">
                    <input type="text" asp-for="application.Postmark" class="datepicker form-control" data-val="true" data-val-required="The Submitted Date field is required."></input>
                    <div class="input-group-append" onclick="$('.datepicker').focus();">             
                        <i class="fa fa-calendar input-group-text"></i>
                    </div>                        
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="application.Postmark" data-valmsg-replace="true"></span>                    
            </div>              
            <div class="form-group row">
                <label asp-for="application.AppLate" class="col-sm-3 col-form-label"></label>
                <input type="checkbox" asp-for="application.AppLate" class="col-sm-3 form-control" disabled="disabled">                   
            </div>               
        </div>
        <div class="col-md-6 col-xl-4">@* Third column*@
            <div class="form-group row">
                <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AppTypeTrans.AppTypeTrans)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="application.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Status)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="application.Deadline" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Deadline) 
                </div>
            </div>
            <div class="form-group row">
                <div class="form-check form-check-inline col-sm-12">
                    <label asp-for="application.OverrideLateFee" class="col-form-label col-sm-4"> </label> 
                    <input asp-for="application.OverrideLateFee" class="col-sm-3 form-control" >
                </div>         
            </div>              
            <div class="form-group row">
                <label asp-for="application.OriginalCertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.OriginalCertYear) Prev App: @Html.DisplayFor(x => x.application.PaperAppNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">            
            <div class="form-group row">
                <label asp-for="application.WarningFlag" class="col-sm-5 col-form-label"></label>
                <input type="checkbox" asp-for="application.WarningFlag" class="col-sm-3 form-control" disabled="disabled">                   
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group row">
                <label asp-for="application.WarningFlag" class="col-sm-2 col-form-label">Warning:</label>
                <div class="col-sm-10 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ApplicantNotes)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">                                      
            <div class="form-group row">
                <label asp-for="application.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Applicant</label>                    
                <input type="text" asp-for="application.ApplicantOrganization.NameAndId" class="col-sm-8 form-control" readonly>
                <div class="input-group-append"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupOrgModal" data-whatever="Applicant"><i class="fa fa-exchange-alt"></i></button>                            
                </div>  
                @Html.HiddenFor(x => x.application.ApplicantId)                              
            </div>
        </div>
        <div class="col-lg-6">             
            <div class="form-group row">
                <label asp-for="application.GrowerOrganization.NameAndId" class="col-sm-3 col-form-label">Grower</label>                   
                <input type="text" asp-for="application.GrowerOrganization.NameAndId" class="col-sm-8 form-control" readonly>
                <div class="input-group-append"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupOrgModal" data-whatever="Grower"><i class="fa fa-exchange-alt"></i></button>                            
                </div> 
                @Html.HiddenFor(x => x.application.GrowerId)
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-4">@* Column 1*@
            <div class="form-group row">
                <label asp-for="application.Crop.Name" class="col-sm-3 col-form-label"></label>
                <select asp-for="application.CropId" class="col-sm-9 form-control" asp-items="@(new SelectList(Model.Crops, "CropId", "Name"))"></select>                   
            </div>
            <div class="form-group row">
                <label asp-for="application.ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                <input type="text" asp-for="application.ClassProduced.ClassProducedTrans" class="col-sm-8 form-control" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupClassModal"><i class="fa fa-exchange-alt"></i></button></button>
                </div>
                @Html.HiddenFor(x => x.application.ClassProducedId)
            </div>
            <div class="form-group row">
                <label asp-for="application.FieldName" class="col-sm-3 col-form-label"></label>
                <input asp-for="application.FieldName" class="col-sm-9 form-control">
            </div> 
        </div>
        <div class="col-md-6 col-xl-4">@* Column 2*@
            <div class="form-group row">
                <label asp-for="application.EnteredVariety" class="col-sm-3 col-form-label"></label>
                <input type="text" class="col-sm-9 form-control" asp-for="application.EnteredVariety">
            </div>
            <div class="form-group row">
                <label asp-for="application.AcresApplied" class="col-sm-3 col-form-label">Acres</label>
                <input type="text" asp-for="application.AcresApplied" class="col-sm-9 form-control" >
            </div>
            <div class="form-group row">
                <label asp-for="application.FarmCounty" class="col-sm-3 col-form-label"></label>                 
                <select asp-for="application.FarmCounty"  class="col-sm-9 form-control" asp-items="@(new SelectList(Model.Counties, "CountyId", "Name"))"></select> 
            </div>   
        </div>
        <div class="col-md-6 col-xl-4">@* Column 3*@
            <div class="form-group row">
                <label asp-for="application.Variety.Name" class="col-sm-3 col-form-label"></label>
                <input type="text" asp-for="application.Variety.Name" class="col-sm-8 form-control" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookupVarietyModal"><i class="fa fa-exchange-alt"></i></button>
                </div>  
                @Html.HiddenFor(x => x.application.SelectedVarietyId)                  
            </div>
            <div class="form-group row">
                <label asp-for="application.PackageComplete" class="col-sm-3 form-check-label"></label>
                <input type="checkbox" asp-for="application.PackageComplete" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">
                <label asp-for="application.MapVe" class="col-sm-3 col-form-label"></label>
                <input type="checkbox" asp-for="application.MapVe" class="col-sm-3 form-control" disabled="disabled">                   
            </div>
        </div>
    </div>    
    <div class="form-group row">
        <label asp-for="application.ApplicantComments" class="col-sm-3 col-form-label"></label>        
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.application.ApplicantComments)
        </div>
    </div>
        <div class="form-group row">
        <label asp-for="application.Comments" class="col-sm-3 col-form-label"></label>
        <textarea rows="5"  asp-for="application.Comments" class="col-sm-9 form-control"></textarea>
    </div>
</div>
<div class="container col-sm-10">    
     <div class="row">
        <hr />
    </div>
    @if(Model.application.PlantingStocks.Any())
    {  
        <div class="row">
            <label class="col-form-label">Planting Stock Info</label>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cert#</th>
                        <th>Variety</th>
                        @if(Model.application.PlantingStocks.First().PoundsPlanted != null || Model.application.PlantingStocks.Last().PoundsPlanted != null)
                        {
                            showPounds = true;
                            <th>Pounds Planted</th>
                        } 
                        @if(Model.application.PlantingStocks.First().PlantsPerAcre != null || Model.application.PlantingStocks.Last().PlantsPerAcre != null)
                        { 
                            showPlantsPerAcre = true;                       
                            <th>Plants/Acre</th>
                        }                 
                        <th>Class</th>
                        <th>Tag Issued</th>
                        <th>Grown</th>
                        @if(Model.application.PlantingStocks.First().SeedPurchasedFrom != null || Model.application.PlantingStocks.Last().SeedPurchasedFrom != null)
                        {
                            showPurchasedFrom = true;
                            <th>Purchased From</th>
                        } 
                        @if(Model.application.AppType == "PO")
                        {
                            <th>Winter test?</th>
                            <th>PVX test?</th>
                        }
                        @if(Model.application.PlantingStocks.First().ThcPercent != null || Model.application.PlantingStocks.Last().ThcPercent != null)
                        {
                            showTHC = true;
                            <th>THC%</th>
                        } 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.application.PlantingStocks.OrderBy(p => p.PsId))
                    {
                        <tr>
                            <td>
                                <a class="btn btn-primary" asp-action="EditPS" asp-area="admin" asp-controller="Application" asp-route-id="@row.PsId">Edit</a></td>
                            <td>
                                @row.PsCertNum
                            </td>
                            <td>@row.PsEnteredVariety</td>
                            @if(showPounds)
                            {
                                <td>@row.PoundsPlanted</td>
                            }
                            @if(showPlantsPerAcre)
                            {
                                <td>@row.PlantsPerAcre</td>
                            }                        
                            <td>
                                @row.PsClassNavigation.ClassProducedTrans
                                @if(row.PsAccession != null){
                                    <span>- @row.PsAccession</span>
                                }
                            </td>
                            @if(@row.TaggedStateProvince != null)
                            {
                                <td>@row.TaggedStateProvince.Name</td>
                            } else {
                                <td>???</td>
                            }
                            @if(@row.GrownStateProvince.Name != null)
                            {
                                <td>@row.GrownStateProvince.Name</td>
                            }  else {
                                <td>???</td>
                            }                                              
                            @if(showPurchasedFrom)
                            {
                                <td>@row.SeedPurchasedFrom</td>
                            }                        
                            @if(Model.application.AppType == "PO")
                            {
                                <td>@Html.DisplayFor(x => row.WinterTest)</td>
                                <td>@Html.DisplayFor(x => row.PvxTest)</td>
                            }
                            @if(showTHC)
                            {
                                <td>@row.ThcPercent</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } else {
        <div class="row">
            <h3>Planting Stock Info</h3> <br>
            None found!
        </div>
    }
    <div class="row">
        <hr />
    </div>  
    <div class="row">
        <h3>Field History | </h3>
        <div><a class="btn btn-primary" asp-action="NewHistory" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Create new</a></div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Crop</th>
                <th>Variety</th>
                <th>Application #</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.application.FieldHistories.OrderBy(h => h.Year))
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" asp-action="EditHistory" asp-area="admin" asp-controller="Application" asp-route-id="@row.Id">Edit</a>
                    </td>
                    <td>@row.Year</td>
                    <td>@(@row.FHCrops == null ? "" : @row.FHCrops.Name)</td>
                    <td>@row.Variety</td>
                    <td>@row.AppNumber</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @if(Model.application.Changes.Any())
    {
        <div class="row">
            <h3>Changes made to this application:</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>column</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Date</th>
                    <th>Person</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var row in Model.application.Changes.OrderBy(c => c.Id))
                {
                    <tr>
                        <td>@row.ColumnChange</td>
                        <td>@row.OldValue</td>
                        <td>@row.NewValue</td>
                        <td>@row.DateChanged</td>
                        <td>@row.Employee.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>    
    }
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script>   
    
     <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

        $('#lookupOrgModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever')          
            var modal = $(this)
            modal.find('.modal-title').text('Look Up ' + recipient + ' Org');
            modal.find('#lookupType').val(recipient);
            modal.find("#account").val("");
            modal.find("#orgTable").empty();            
        })

        $('#lookupClassModal').on('show.bs.modal', function (event) {              
            var modal = $(this)
            var lookup = $("#application_AppType").val(); 
            modal.find("#classTable").empty(); 
            $("#classTable").load("/admin/Application/LookupClass?appType="+lookup, (response, status, xhr) => {
                if ( status == "error" ) {
                    var msg = "Sorry, the following error occurred: ";
                    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
                }
            });           
        })

        $('#account-lookup-btn').click(function(e){
            e.preventDefault();
            var lookup = $("#account").val();
            if (lookup === "") {
                alert("This field cannot be empty.");
                return;
            }
            $("#orgTable").empty();
            $("#orgTable").load("/admin/Application/LookupOrg?lookup="+lookup, (response, status, xhr) => {
                if ( status == "error" ) {
                    var msg = "Sorry, the following error occurred: ";
                    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
                }
            });
        });

        $("#variety-lookup-btn").click(function(e){
            e.preventDefault();
            var lookup = $("#variety").val();
            if (lookup === "") {
                alert("This field cannot be empty.");
                return;
            }
            var crop = $("#application_CropId").val();            
            $("#varietyTable").empty();
            $("#varietyTable").load("/admin/Application/LookupVariety?lookup="+lookup+"&cropId="+crop, (response, status, xhr) => {
                if ( status == "error" ) {
                    var msg = "Sorry, the following error occurred: ";
                    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
                }
            });
        });

        $("#variety").keyup(function(e){
            if(e.keyCode == 13)
            {
                e.preventDefault();
                $(':focus').blur();
                $("#variety-lookup-btn").click();
            }
        });


        $("#account").keyup(function(e){
            if(e.keyCode == 13)
            {
                e.preventDefault();
                $(':focus').blur();
                $("#account-lookup-btn").click();
            }
        });

        function useOrg(e,orgId, orgNameAndId)
        {
            e.preventDefault();
            var lookupType = $("#lookupType").val();
            if(lookupType === "Applicant")
            {
                $("#application_ApplicantId").val(orgId);
                $("#application_ApplicantOrganization_NameAndId").val(orgNameAndId);
            }
            if(lookupType === "Grower")
            {
                $("#application_GrowerId").val(orgId);
                $("#application_GrowerOrganization_NameAndId").val(orgNameAndId);
            }
            $("#orgTable").empty();
            $("#lookupOrgModal").modal('hide');                       
        }

        function useVariety(e, varId, varName)
        {
            e.preventDefault();
            $("#application_SelectedVarietyId").val(varId);
            $("#application_Variety_Name").val(varName);
            $("#varietyTable").empty();            
            $("#variety").val("");
            $("#lookupVarietyModal").modal('hide');
        }

        function useClass(e, classId, className)
        {
            e.preventDefault();
            $("#application_ClassProducedId").val(classId);
            $("#application_ClassProduced_ClassProducedTrans").val(className);
            $("#classTable").empty(); 
            $("#lookupClassModal").modal('hide');
        }
    </script>
}
