@model CCIA.Models.DetailsViewModels.AdminViewModel


<h2>Field Inspection Report</h2> 
<div class="container col-sm-10">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-info" asp-action="Details" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Full Details</a>            
        </div>
    </div>   
     <div class="row">
         <div class="col-lg-4">@*First column *@
            <div class="form-group row">
                <label asp-for="application.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.FullCert" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FullCert)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="application.DatePlanted" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.DatePlanted)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="application.Renewal" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Renewal)
                </div>
            </div>                 
        </div>
        <div class="col-lg-4">@*Second column *@
            <div class="form-group row">
                <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AppType)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="application.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.CertYear)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.OriginalCertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.OriginalCertYear) 
                </div>
            </div>                    
        </div>
        <div class="col-lg-4">@*Third column *@
            <div class="form-group row">
                <label asp-for="application.AppType" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AppTypeTrans.AppTypeTrans)
                </div>
            </div>             
            <div class="form-group row">
                <label asp-for="application.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Status)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="application.PaperAppNum" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.PaperAppNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"> 
            <div class="form-group row">
                <label asp-for="application.WarningFlag" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.WarningFlag)
                </div>
            </div>   
        </div>
        <div class="col-lg-8">
            <div class="form-group row">
                <label asp-for="application.WarningFlag" class="col-sm-2 col-form-label">Warning:</label>
                <div class="col-sm-10 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ApplicantNotes)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">                                      
            <div class="form-group row">
                <label asp-for="application.ApplicantOrganization.NameAndId" class="col-sm-2 col-form-label">Applicant</label>
                <div class="col-sm-10 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ApplicantOrganization.NameAndId)
                </div>
            </div>
        </div>
        <div class="col-lg-6">             
            <div class="form-group row">
                <label asp-for="application.GrowerOrganization.NameAndId" class="col-sm-3 col-form-label">Grower</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.GrowerOrganization.NameAndId)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">@* Column 1*@
            <div class="form-group row">
                <label asp-for="application.Crop.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Crop.Name)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.ClassProduced.ClassProducedTrans)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.FieldName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldName)
                </div>
            </div>
        </div>
        <div class="col-lg-4">@* Column 2*@
            <div class="form-group row">
                <label asp-for="application.EnteredVariety" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.EnteredVariety)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.AcresApplied" class="col-sm-3 col-form-label">Acres</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.AcresApplied)  (Mapped: @Html.DisplayFor(x => x.application.AreaAcres) )
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="application.County.CountyName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.County.CountyName)
                </div>
            </div>  
        </div>
        <div class="col-lg-4">@* Column 3*@
            <div class="form-group row">
                <label asp-for="application.Variety.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.Variety.Name)
                </div>
            </div>            
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="application.ApplicantComments" class="col-sm-1 col-form-label"></label>
        <div class="col-sm-11 form-control-plaintext">
            @Html.DisplayFor(x => x.application.ApplicantComments)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="application.Comments" class="col-sm-1 col-form-label"></label>
        <div class="col-sm-11 form-control-plaintext">
            @Html.DisplayFor(x => x.application.Comments)
        </div>
    </div>
</div>
<div class="container col-sm-10">
    <div class="row">
        <h3>Field Inspection Report</h3>        
    </div>
    <div class="row">
        <a class="btn btn-primary" asp-action="EditFIR" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">Edit FIR</a>   
    </div>
    @if(Model.application.FieldInspectionReport.Complete)
    {
        <div class="row">
            <div class="col-sm-12"><hr></div>
            <a class="btn btn-info" asp-action="ViewFIR" asp-area="admin" asp-controller="Application" asp-route-id="@Model.application.Id">View FIR</a>
            <div class="col-sm-12"><hr></div>
        </div>
    }
    @if(Model.application.AppType != "PO")
    {
        <div class="row">
            <div class="col-lg-4">@* First column*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresApproved" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresApproved)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresInspectionOnly" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresInspectionOnly)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresNoCrop" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresNoCrop)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">@* Second*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresRejected" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresRejected)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresRefund" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresRefund)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">@* third*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresGrowout" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresGrowout)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresCancelled" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresCancelled)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.AcresTotalEntered" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.AcresTotalEntered)
                    </div>
                </div>
            </div>
        </div>
    } else {
        <div class="row">
            <h5>Pathogen Testing:</h5>
        </div>
        <div class="row">
            <div class="col-lg-4">@* First column*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.PathDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.PathDate)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">@* 2nd column*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.PathNumSamples" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.PathNumSamples)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">@* 3rd column*@
                <div class="form-group row">
                    <label asp-for="application.FieldInspectionReport.PathNumPlants" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.application.FieldInspectionReport.PathNumPlants)
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group row">
                <label asp-for="application.FieldInspectionReport.ReportGenerated" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldInspectionReport.ReportGenerated)
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group row">
                <label asp-for="application.FieldInspectionReport.ReportGenDt" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldInspectionReport.ReportGenDt)
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="form-group row">
            <label asp-for="application.FieldInspectionReport.Comments" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.DisplayFor(x => x.application.FieldInspectionReport.Comments)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group row">
                <label asp-for="application.FieldInspectionReport.Complete" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldInspectionReport.Complete)
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group row">
                <label asp-for="application.FieldInspectionReport.CompleteText" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.application.FieldInspectionReport.CompleteText)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if(Model.application.FieldInspection.Any())
    {
        <div class="row">
            <h3>Field Inspection(s)</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>DateInspected</th>
                        <th>InspectorId</th>
                        <th>ApplicantContacted?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.application.FieldInspection)
                    {
                        <tr>
                            <td>@row.DateInspected</td>
                            <td>@row.InspectorId</td>
                            <td>@row.ApplicantContacted</td>
                        </tr>                    
                    }
                </tbody>               
            </table>
        </div>
    }
</div>

@section Scripts {
   
}
