@model CCIA.Models.DetailsViewModels.AdminViewModel

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <meta http-equiv="content-style-type" content="text/css" />    
     <link rel="stylesheet" href="/css/printStyle.css" type="text/css" />
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/> 
</head>
<body style="font-size: smaller">
@if(ViewBag.Admin != null && ViewBag.Admin)
{
    <div class="noprint">
         @if(ViewBag.Billing != null && ViewBag.Billing)
         {
            <a class="btn btn-info" asp-action="FirCertificate" asp-route-id="@Model.application.Id">Regular  FIR</a>
         } else
         {
            <a class="btn btn-info" asp-action="BillingFirCertificate" asp-route-id="@Model.application.Id">Billing FIR</a>
         }         
    | <a asp-action="LookupFir" class="btn btn-info">Lookup Different FIR</a></div>
}
    <table border="0" width="100%" height="100">
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td align="right" class="titleoecd">
                App @Model.application.Id</td>
        </tr>
        <tr>
            <td align="center" colspan="5" rowspan="2">
                <img src="/images/ccia-tra.GIF" align="left" width="150px"/>
                <span class="titleoecd"> Field Inspection Report <br/>
                @Model.application.AppTypeTrans.CertificateTitle</span><br/>
                California Crop Improvement Association<br />
                Frank G. Parsons Seed Certification Center<br />
                University of California<br />
                One Shields Avenue<br />
                Davis, California 95616-8541
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td valign="top">
                Name:</td>
            <td colspan="3">
                @Model.application.ApplicantOrganization.Name
                <br/>(Acct #
                @Model.application.ApplicantId)</td>
            <td align="right" nowrap="nowrap">
                Date:
                @if(Model.application.FieldInspectionReport.DateComplete.HasValue)
                {
                    @Model.application.FieldInspectionReport.DateComplete.Value.ToShortDateString()
                } else
                {
                    <span>Incomplete!</span>
                }
                </td>
        </tr>
        <tr>
            <td valign="top">
                Address:</td>
            <td colspan="2">
                @if(Model.application.ApplicantOrganization.Addresses != null){
                @if(Model.application.ApplicantOrganization.Addresses.First().Address != null){
                    @Model.application.ApplicantOrganization.Addresses.First().Address.AddressLines<br>
                }
               <span>@Model.application.ApplicantOrganization.Addresses.First().Address.City,&nbsp; @Model.application.ApplicantOrganization.Addresses.First().Address.StateProvince.StateProvinceCode </span>
                @Model.application.ApplicantOrganization.Addresses.First().Address.PostalCode
                }
            </td>
            <td colspan="1">
            </td>
            <td colspan="1">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="4">
                The @Model.application.AppTypeTrans.NumberTitle numbers below, assigned for acres passed, are to be used to identify
                the seed harvested and must be stenciled on all containers of seed from the corresponding
                fields. Field inspection is only a preliminary step in the process of @Model.application.AppTypeTrans.ProcessTitle
                which shall be determined by tests on officially drawn samples of seed. Before harvest,
                the county agricultural commissioner must be notified for supervision of harvesting,
                cleaning, and any intercounty movement of this seed.<br />
                <br />
                Results below are for your
                @Model.application.CertYear                
                <i>@Model.application.Crop.GenusSpecies</i>
                @Model.application.Crop.Name
                field located in
                @Model.application.County.Name.</td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="title_underline">
                Appl Number</td>
            <td class="title_underline">
                Grower</td>
            <td>
            </td>
            <td class="title_underline">
                @Model.application.AppTypeTrans.SpeciesOrCrop
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="title">
                App @Model.application.Id
            </td>
            <td colspan="2" nowrap="nowrap" class="title">
                @Model.application.GrowerOrganization.Name                
                (Acct # @Model.application.GrowerId)
            </td>
            <td class="title">
                 <i>@Model.application.Crop.GenusSpecies</i>
                @Model.application.Crop.Name               
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;</td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        @if(Model.application.AppType != "LT")
        {
        <tr>
            <td>
            </td>
            <td class="title_underline" nowrap>
                @Model.application.AppTypeTrans.ProducedTitle
            </td>
            <td class="title_underline">
                @Model.application.AppTypeTrans.VarietyTitle
            </td>
            <td class="title_underline">
                @if(@Model.application.AppTypeTrans.ShowType.Value)
                {
                    <span>Germplasm Type</span>
                }
            </td>
            <td class="title_underline">
                @if(@Model.application.VarietyStatement)
                {
                    <span>Variety Status</span>
                }
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="title">
                @Model.application.ClassProduced.ClassProducedTrans
            </td>
            <td class="title">
                @Model.application.Variety.Name
            </td>
            <td class="title">
                 @if(@Model.application.AppTypeTrans.ShowType.Value)
                {
                    @Model.application.PvgSource
                }
            </td>
            <td class="title_underline">
                @if(@Model.application.VarietyStatement)
                {
                    @Model.application.Variety.Status
                }
            </td>
        </tr>
        }
        <tr>
            <td>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
            </td>
            <td>
                &nbsp;</td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="4">
                @if(Model.application.FieldInspectionReport.Complete && Model.application.CertNumberError == "")
                {
                    <span>Use @Model.application.AppTypeTrans.NumberTitle number @Model.application.CertNumberSent production.</span>
                } else
                {
                    <span>@Model.application.CertNumberError</span>
                }
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <span style="text-decoration: underline">Field Name</span></td>
            <td>
                <span style="text-decoration: underline">Comments</span></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                @Model.application.FieldName
            </td>
            <td colspan="3">
                @Model.application.FieldInspectionReport.Comments
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="4">
                <table width="100%">
                    <tr>
                        <td>
                            Acres:</td>
                        <td>
                            &nbsp;</td>
                        <td>
                            Approved</td>
                        <td>
                            Rejected</td>
                        <td>
                            FIO</td>
                        <td>
                            Growout</td>
                        <td>
                            No Crop</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            @Model.application.FieldInspectionReport.AcresApproved
                        </td>
                        <td>
                            @Model.application.FieldInspectionReport.AcresRejected
                        </td>
                        <td>
                            @Model.application.FieldInspectionReport.AcresInspectionOnly
                        </td>
                        <td>
                            @Model.application.FieldInspectionReport.AcresGrowout
                        </td>
                        <td>
                            @Model.application.FieldInspectionReport.AcresNoCrop
                        </td>
                    </tr>
                </table>
                <br />
                @if(Model.application.VarietyStatement)
                {
                    <span>This variety has not been approved by the CCIA Board of Directors. Certification tags cannot be issued until variety approval is complete.</span>
                }
                </td>
        </tr>
        @if(ViewBag.Billing != null && ViewBag.Billing)
        {
           <tr>
                     <td>
                        </td>
                        <td>
                        </td>
                        <td align="right" nowrap>
                            Application Fee:
                            <br />
                            Late Fee:<br />
                            Incomplete Fee:<br />
                            <br />
                            Total Fees:</td>
                        <td align="right">
                            @Html.DisplayFor(x => x.application.Fee)<br>
                            @Html.DisplayFor(x => x.application.LateFee)<br>
                            @Html.DisplayFor(x => x.application.IncompleteFee)<br><br>
                            @Html.DisplayFor(x => x.application.TotalFee)</td>
                        <td>
                        </td>
                    </tr>
            
        }
        <tr height="100%">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="3">Approved by:
                @if(Model.application.FieldInspectionReport.CompleteEmployee != null)
                {
                    @Model.application.FieldInspectionReport.CompleteEmployee.Name<span>,<br/> CCIA Certification Representative</span>

                } else {
                    <span>Incomplete!</span>
                }
            </td>    
            <td>
            </td>
            <td colspan="2" align="right">
                @if(Model.application.FieldInspectionReport.Complete)
                {
                    <img width="250px" src="/images/ExecutiveDirector_signature.JPG" alt="Executive Director Signature" />
                }
            </td>
        </tr>
        
    </table>           
</body>
</html>