@model CCIA.Models.IndexViewModels.ApplicationIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-1">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>AppId</th>
        <th>Type</th>
        <th>Applicant ID</th>
        <th>Applicant Name</th>
        <th>Grower ID</th>
        <th>Grower</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Class</th>
        <th>County</th>
        <th>Field Name</th>
        <th>Acres</th>
        <th>Planting Date</th>
        <th>Map</th>
        <th>PO Lot</th>
        <th>#FI</th>
        <th>Status</th>
        </thead>
        <tbody>
        
            @foreach (var app in Model.applications)
            {
            <tr>
                <td><a asp-action="Details" asp-area="admin" asp-controller="Application" asp-route-id="@app.Id">Details</a></td>
                <td>@app.Id</td>
                <td>@app.AppType</td>
                <td>@app.ApplicantId</td>
                <td>@app.ApplicantName</td>
                <td>@app.GrowerId</td>
                <td>@app.GrowerName</td> 
                <td>@app.Crop.Name</td>
                <td>@app.VarietyName</td>
                <td>@app.ClassProducedName</td> 
                <td>@app.County.CountyName</td>
                <td>@app.FieldName</td>
                <td>@app.AcresApplied</td>
                <td>@if(app.DatePlanted.HasValue)
                    {
                        @app.DatePlanted.Value.ToShortDateString()
                    }
                </td>                
                <td>@app.MapVe</td>
                <td>@app.PoLotNum</td>               
                <td>@app.FieldResults.Count()</td>                
                <td>@app.Status</td>
            </tr>
            }
        </tbody>
    </table>
</div>
