@model CCIA.Models.Applications


<h2>Potato Health Certificate</h2> 
<form asp-action="PotatoHealthCertificateDetails">
    <input type="hidden" asp-for="PotatoHealthCertificate.AppId">
<div class="container col-sm-12">
    <div class="row">         
        <div asp-validation-summary="All" class="text-danger"></div>
    </div> 
    <div class="row">
         <div class="col-md-6 col-xl-4">@*First column *@
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="VarietyName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.VarietyName)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.ClassProduced.ClassProducedTrans)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.YearMicroPropagated" class="col-sm-3 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.YearMicroPropagated" class="col-sm-2 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.YearMicroPropagated" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.GoldernNematode" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.GoldernNematode" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PotatoRotNematode" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.PotatoRotNematode" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>   
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PotatoSpindleTuberViroid" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.PotatoSpindleTuberViroid" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>  
            <hr>
            <h3>Post Harvest Readings:</h3> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestLocation" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestLocation" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestLocation" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestLeafroll" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestLeafroll" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestLeafroll" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestMosaic" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestMosaic" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestMosaic" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestOtherVarieties" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestOtherVarieties" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestOtherVarieties" data-valmsg-replace="true"></span>
            </div>               
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestPlantCount" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestPlantCount" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestPlantCount" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PostHarvestSampleNumber" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PostHarvestSampleNumber" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PostHarvestSampleNumber" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">@*Second column *@
            <div class="form-group row">
                <label asp-for="GrowerName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.GrowerName)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcresApplied" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.AcresApplied)
                </div>
            </div> 
            <div class="form-group row">                
                <label asp-for="PotatoHealthCertificate.LotOriginatedFromTissueCulture" class="col-sm-6 col-form-label">Lot originated from tissue culture?</label>
                <input type="checkbox" asp-for="PotatoHealthCertificate.LotOriginatedFromTissueCulture" class="col-sm-1 form-control">
            </div>  
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.MicropropagatedBy" class="col-sm-3 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.MicropropagatedBy" class="col-sm-2 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.MicropropagatedBy" data-valmsg-replace="true"></span>
            </div>  
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.LateBlight" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.LateBlight" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PotatoWart" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.PotatoWart" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>   
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.CorkyRingSpots" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.CorkyRingSpots" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>  
            <hr>
            <h3>ELISA  test results for Latent viruses:</h3>   
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PercentPVY" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PercentPVY" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PercentPVY" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PercentPVX" class="col-sm-4 col-form-label"></label>
                <input asp-for="PotatoHealthCertificate.PercentPVX" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.PercentPVX" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">@*Third column *@
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.GrowerOrganization.Address.City), @Html.DisplayFor(x => x.GrowerOrganization.Address.StateProvince.Name) @Html.DisplayFor(x => x.GrowerOrganization.Address.PostalCode)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="FullCert" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.FullCert)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.NumberOfYearsProduced" class="col-sm-6 col-form-label">Number of years produced in field soil</label>
                <input asp-for="PotatoHealthCertificate.NumberOfYearsProduced" class="col-sm-2 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.NumberOfYearsProduced" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.BacterialRingRot" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.BacterialRingRot" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>    
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.RootKnotNematode" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.RootKnotNematode" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>    
            <div class="form-group row">
                <label asp-for="PotatoHealthCertificate.PowderScap" class="col-sm-4 col-form-label"></label>
                <select asp-for="PotatoHealthCertificate.PowderScap" class="col-sm-4 form-control" asp-items="Html.GetEnumSelectList<PotatoHealthResults>()"></select>            
            </div>                  
        </div>        
    </div>
    <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label asp-for="PotatoHealthCertificate.Notes" class="col-sm-1 col-form-label"></label>
                    <textarea asp-for="PotatoHealthCertificate.Notes" class="col-sm-10 form-control" rows="3"></textarea>
                    <span class="field-validation-valid text-danger" data-valmsg-for="PotatoHealthCertificate.Notes" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Update" class="btn btn-primary"></input>                   
            </div>  
        </div> 
</div>
</form>