@model CCIA.Models.AdminSearchViewModel

<h3>Application Search</h3>
<form asp-action="Search" method="POST">
<input type="hidden" id="Search" name="Search" value="True">
<div class="container col-sm-8 text-center">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#SearchCollapse" aria-expanded="false" aria-controls="SearchCollapse">
    Hide Search
  </button> | <input type="submit" value="Search" class="btn btn-primary"></input> 
</div>
<div class="container col-sm-10 collapse show" id="SearchCollapse">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-6 col-xl-4">@* First column*@
            <div class="form-group row">
                <label asp-for="appId" class="col-sm-3 col-form-label"></label>
                <input asp-for="appId" class="col-sm-3 form-control">
            </div> 
            <div class="form-group row">
                <label asp-for="applicantName" class="col-sm-3 col-form-label"></label>
                <input asp-for="applicantName" class="col-sm-4 form-control">
                <div class="col-sm-4">
                    (partial name or Id)
                </div>        
            </div>  
            <div class="form-group row">
                <label asp-for="accepted" class="col-sm-3 col-form-label"></label>
                <select asp-for="accepted" class="col-sm-3 form-control" asp-items="Html.GetEnumSelectList<SearchOptions>()"></select>
            </div>
            <div class="form-group row">
                <label asp-for="certNumber" class="col-sm-3 col-form-label"></label>
                <input asp-for="certNumber" class="col-sm-3 form-control">
                <div class="col-sm-6">
                    (just the end, so 11CA-320-56698 => "56698")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="searchCrops" class="col-sm-3 col-form-label"></label>
                <select multiple="multiple" asp-for="searchCrops" class="col-sm-5 form-control multi-select" size="10" asp-items="@(new SelectList(Model.crops, nameof(Crops.CropId), nameof(Crops.CropsAndKind)))"></select>
                <div class="col-sm-2">
                    &dagger;
                </div>
            </div>            
            <div class="form-group row">
                <div class="form-check form-check-inline col-sm-12">
                    <label asp-for="includeMapOptions" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="includeMapOptions" class="col-sm-3 form-control">
                </div>
            </div>   
        </div>
        <div class="col-md-6 col-xl-4">@* 2nd column*@ 
            <div class="form-group row">
                <label asp-for="CertYear" class="col-sm-3 col-form-label">Cert Year</label>
                <input asp-for="CertYear" class="col-sm-3 form-control">
                <div class="col-sm-6">
                    (can be left blank)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="growerName" class="col-sm-3 col-form-label"></label>
                <input asp-for="growerName" class="col-sm-4 form-control">
                <div class="col-sm-4">
                    (partial name or Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="cancelled" class="col-sm-3 col-form-label"></label>
                <select asp-for="cancelled" class="col-sm-3 form-control" asp-items="Html.GetEnumSelectList<SearchOptions>()"></select>
            </div>
            <div class="form-group row">
                <label asp-for="plantedAfter" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6 input-group">
                    <input type="text" asp-for="plantedAfter" class="datepicker form-control"></input>
                    <div class="input-group-append" onclick="$('.datepicker').focus();">             
                        <i class="fa fa-calendar input-group-text"></i>
                    </div>                        
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="searchStatus" class="col-sm-3 col-form-label"></label>
                <select asp-for="searchStatus" class="col-sm-8 form-control" asp-items="@(new SelectList(Model.statusOptions))"></select>
                <div class="col-sm-1">
                   &dagger;
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="followUp" class="col-sm-3 col-form-label"></label>
                <select asp-for="followUp" class="col-sm-3 form-control" asp-items="Html.GetEnumSelectList<SearchOptions>()"></select>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">@* 3rd column*@ 
            <div class="form-group row">
                <label asp-for="appType" class="col-sm-3 col-form-label"></label>
                <select asp-for="appType" class="col-sm-3 form-control" asp-items="@(new SelectList(Model.appTypes, "Abbreviation", "AppTypeTrans"))"></select>
            </div>
            <div class="form-group row">
                <label asp-for="variety" class="col-sm-3 col-form-label"></label>
                <input asp-for="variety" class="col-sm-2 form-control">
            </div>
            <div class="form-group row">
                <label asp-for="veMap" class="col-sm-3 col-form-label"></label>
                <select asp-for="veMap" class="col-sm-3 form-control" asp-items="Html.GetEnumSelectList<SearchOptions>()"></select>
            </div>
             <div class="form-group row">
                <label asp-for="plantedBefore" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6 input-group">
                    <input type="text" asp-for="plantedBefore" class="datepicker form-control"></input>
                    <div class="input-group-append" onclick="$('.datepicker').focus();">             
                        <i class="fa fa-calendar input-group-text"></i>
                    </div>                        
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="searchCounties" class="col-sm-3 col-form-label"></label>
                <select multiple="multiple" asp-for="searchCounties" class="col-sm-6 form-control multi-select" size="10" asp-items="@(new SelectList(Model.counties, "CountyId", "Name"))"></select>
                <div class="col-sm-1">
                    &dagger;
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Search" class="btn btn-primary"></input> 
    </div>
    <div class="col-sm-12">
        <hr>
        &dagger; Leave blank to search all values. Click on first value, then hold "shift" on second to select range.  Press "ctrl"/"control" to select multiple items, or toggle any single item.
    </div>
</div>
<hr>
</form>
@if(Model.apps.Any())
{
    @await Html.PartialAsync("_ApplicationTable", @Model.apps)
}



@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script> 
    

    <script>
        var oTable;

        $(document).ready( function () {
            $('#MapForm').submit( function(e) {
                var sData = oTable.$('input').serialize(); 
                $('#MapForm').append('<input type="hidden" id="ids" name="ids" value="'+sData+'" />');                       
            } );
            
            oTable = $('#table').dataTable({
                 dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                bPaginate: false,
                order: [[ 1, "asc"]],
                columnDefs: [{ targets: 0, orderable: false}],
            });

            $(document).ready(function () {
                $('.datepicker').datepicker();
            });

            $("#SelectAllButton").click(function() {
                alert( "Only the visible Apps will be selected." );
                $(".mapCheckbox").prop( "checked", true );
            });
        } );
    </script>
}