@model CCIA.Models.ApplicationViewModel

@{
    ViewData["Title"] = "Heritage Grain Application";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<h2>Application for Heritage Grain Quality Assurance Program: @Model.Organization.OrgName</h2>

@Html.Partial("GrowerInfoTable")

<form action="/Application/CreateSeedApplication" method="post" id="seedApplication">

    <div class="form-group row">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <label>Crop</label>
            <div>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Potato</button>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-4 col-xs-4">
            @{
                ViewBag.name = "cropYear";
                ViewBag.startYearOffset = 1;
                ViewBag.endYearOffset = 1;
            }
            @Html.Partial("CropYearDropdown")
        </div> 

        <!-- todo -->
        <div class="col-lg-4 col-sm-4 col-xs-4">  
            <label for="germplasmEntity">Germplasm Entity<em class="required">*</em></label>
            <div class="dropdown" id="variety-dropdown">
                <div class="input-group col">
                    <input type="text" class="form-control" id="variety" name="variety" placeholder="Variety">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="variety-search"><i class="fas fa-search"></i></button>                    
                    </span>
                </div>
                <ul class="dropdown-menu scrollable-menu" id="variety-select">
                </ul>
            </div>
            @Html.ValidationMessage("Variety", "", new { @class = "text-danger" })
            <input type="hidden" readonly="readonly" class="form-control" id="variety-id" name="varietyId" placeholder="Variety ID">
        </div>
    </div>

    <div class="form-group">
        @{ViewBag.name = "classProduced";}
        <label>Class Planted</label><em class="required">*</em>
        @Html.Partial("ClassRadioButtons")
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="cert-lot-num">Lot # for Certification Number<em class="required">*</em></label><i> - Do not enter year or account number</i>
            <input type="text" class="form-control" id="cert-lot-num" name="certLotNum" placeholder="Lot # for Certification Number">
            @Html.ValidationMessage("CertLotNum", "", new { @class = "text-danger" })
        </div>
    </div>

    <section id="planting-stock" class="form-section">
        <h4>Planting Stock:</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cert-lot-num">Certification and Lot #<em class="required">*</em></label>
                <input type="text" class="form-control" id="cert-lot-num" name="certLotNum" placeholder="Certification and Lot #">
                @Html.ValidationMessage("CertLotNum", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{ ViewBag.name = "classPlanted"; }
            <label>Class Planted</label><em class="required">*</em>
            @Html.Partial("ClassRadioButtons")
        </div>

        <div class="form-group">
            <label>State/Country where Planting Stock Tag or breeder letter was issued</label><em class="required">*</em>
            @{ViewBag.name = "stateCountryTagIssued";}
            @Html.Partial("StateCountryDropdown")
        </div>

        <div class="form-group">
            <label>State/Country where Planting Stock was grown</label><em class="required">*</em>
            @{ViewBag.name = "stateCountryStockGrown";}
            @Html.Partial("StateCountryDropdown")
        </div>

        <div class="form-group">
            <label for="farm-grown">Farm name where Planting Stock was grown</label><em class="required">*</em>
            <input type="text" class="form-control" id="farm-grown" name="farmGrown" placeholder="Farm name where Planting Stock was grown">
        </div>

        <div class="form-group">
            <label class="form-check-label" for="winterTest">Winter test results are required for recertification</label><em class="required">*</em>
            <i> - If yes, documentation required</i>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="winterTestCompleted1">Yes</label>
                <input class="form-check-input" type="radio" name="winterTest" id="winterTestCompleted1">
                <label class="form-check-label" for="winterTestCompleted2">No</label>
                <input class="form-check-input" type="radio" name="winterTest" id="winterTestCompleted2">
            </div>
        </div>

        <div class="form-group">
            <label class="form-check-label" for="pvxTested">For prenuclear and nuclear class planted, was this lot PVX tested?</label><em class="required">*</em>
            <i> - If yes, documentation required</i>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="pvxTested1">Yes</label>
                <input class="form-check-input" type="radio" name="pvxTested" id="pvxTested1">
                <label class="form-check-label" for="winterTestCompleted2">No</label>
                <input class="form-check-input" type="radio" name="pvxTested" id="pvxTested2">
            </div>
        </div>
    </section>

    <section id="field-info" class="form-section">
        <h4>Field Information:</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name-num">Name/No.:</label><em class="required">*</em>
                <input type="text" class="form-control" id="name-num" name="nameOrNum" placeholder="Name/No.">
                @Html.ValidationMessage("NameOrNum", "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <label for="date-planted">Date Planted:</label><em class="required">*</em>
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control" id="date-planted" name="datePlanted" placeholder="MM/DD/YYYY">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessage("DatePlanted", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>County:</label><em class="required">*</em>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" name="county">County
                <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" id="county-select">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" value="County">County</a></li>
                    @foreach (var county in Model.Counties)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" value=@county.CountyId>@county.CountyName</a></li>
                    }
                </ul>
            </div>
            @Html.ValidationMessage("County", "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="acres-applied">Acres Applied:</label><em class="required">*</em>
            <input type="text" class="form-control" id="acres-applied" name="acresApplied" placeholder="Acres Applied">
            @Html.ValidationMessage("AcresApplied", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="comments">Additional Information/Comments:</label>
            <textarea class="form-control" id="comments" rows="5" name="additonalInfo" placeholder="Additional Information/Comments"></textarea>
        </div>

        @Html.Partial("HistoryPartial")
    </section>

    <button type="submit" class="btn btn-primary">Continue with Application</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>
}