@model CCIA.Models.ApplicationViewModel

@{
    ViewData["Title"] = "Application";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<style type="text/css">
    section {
        border-radius: .8em;
        background: #f1f1f1;
        padding: 2px 10px;
        margin-bottom:10px;
    }
    
    button {
        border: 1px solid #ccc !important;
        background: white;
    }
</style>

<h2>Application to Produce Certified Seed: @Model.Organization.OrgName</h2>

<h4>Applicant Information:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
        <tr>
            <td>@Model.Organization.OrgId</td>
            <td>@Model.Organization.OrgName</td>
            <td>@Model.Organization.Address.Address1</td>
            <td>@Model.Organization.Address.City</td>
            <td>@Model.OrgState</td>
        </tr>
    </tbody>
</table>

<form action="/Application/CreateSeedApplication" method="post" id="seedApplication">

    <div class="form-group row">
        <div class="col-lg-4 col-sm-4 col-xs-4">
            @{ViewBag.name = "crop";}
            @Html.Partial("CropDropdown")
        </div>
        
        <div class="col-lg-4 col-sm-4 col-xs-4">
            @{
                ViewBag.name = "cropYear";
                ViewBag.startYearOffset = 1;
                ViewBag.endYearOffset = 1;
            }
            @Html.Partial("CropYearDropdown")
        </div>
        
        <div class="col-lg-4 col-sm-4 col-xs-4">  
            <div class="col-md-6">
                <label for="variety">Variety</label>
                <input type="text" class="form-control" id="variety" name="variety" placeholder="Variety">
                @Html.ValidationMessage("Variety", "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @{
            ViewBag.name = "classProduced";
            ViewBag.label = "Class to be Produced";
        }
        @Html.Partial("ClassRadioButtons")
    </div>

    <section id="planting-stock">
        <h4>Planting Stock:</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cert-lot-num">Certification and Lot #</label>
                <input type="text" class="form-control" id="cert-lot-num" name="certLotNum" placeholder="Certification and Lot #">
                @Html.ValidationMessage("CertLotNum", "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <label for="pounds-planted">Pounds Planted:</label>
                <input type="text" class="form-control" id="pounds-planted" name="poundsPlanted" placeholder="Pounds Planted">
                @Html.ValidationMessage("PoundsPlanted", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                ViewBag.name = "classPlanted";
                ViewBag.label = "Class Planted";
            }
            @Html.Partial("ClassRadioButtons")
        </div>

        <div class="form-group">
            @{ViewBag.name = "stateCountryTagIssued";}
            @Html.Partial("StateCountryDropdown")
        </div>

        <div class="form-group">
            @{ViewBag.name = "stateCountryStockGrown";}
            @Html.Partial("StateCountryDropdown")
        </div>

        <div class="form-group">
            <label for="variety">Seed purchased/acquired from:</label><i> - Optional</i>
            <input type="text" class="form-control" id="seed-purchased-from" name="seedFrom" placeholder="Seed purchased/acquired from">
        </div>

        <h5>Enter both parent lines for hybrid production</h5>
        <div class="form-group">
            <label for="variety">Variety</label><i> - Optional</i>
            <input type="text" class="form-control" id="variety" name="variety2" placeholder="Variety">
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cert-lot-num">Certification and Lot #</label><i> - Optional</i>
                <input type="text" class="form-control" id="cert-lot-num" name="certLotNum2" placeholder="Certification and Lot #">
            </div>
            <div class="form-group col-md-6">
                <label for="pounds-planted">Pounds Planted:</label><i> - Optional</i>
                <input type="text" class="form-control" id="pounds-planted" name="poundsPlanted2" placeholder="Pounds Planted">
            </div>
        </div>

        <div class="form-group">
            @{
                ViewBag.name = "classPlanted2";
                ViewBag.label = "Class Planted";
            }
            @Html.Partial("ClassRadioButtons")
        </div>

        <div class="form-group">
            @{ViewBag.name = "stateCountryTagIssued2";}
            @Html.Partial("StateCountryDropdown")
        </div>

        <div class="form-group">
            @{ViewBag.name = "stateCountryStockGrown2";}
            @Html.Partial("StateCountryDropdown")
        </div>
    </section>

    <section id="field-info">
        <h4>Field Information:</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name-num">Name/No.:</label>
                <input type="text" class="form-control" id="name-num" name="nameOrNum" placeholder="Name/No.">
                @Html.ValidationMessage("ClassPlanted", "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <label for="date-planted">Date Planted:</label>
                <input type="text" class="form-control" id="date-planted" name="datePlanted" placeholder="Date planted">
                @Html.ValidationMessage("DatePlanted", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>County:</label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" name="county">County
                <span class="caret"></span></button>
                <ul class="dropdown-menu" id="county-select">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" value="County">County</a></li>
                    @foreach (var county in Model.Counties)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" value=@county.CountyId>@county.CountyName</a></li>
                    }
                </ul>
            </div>
            @Html.ValidationMessage("County", "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="acres-applied">Acres Applied:</label>
            <input type="text" class="form-control" id="acres-applied" name="acresApplied" placeholder="Acres Applied">
            @Html.ValidationMessage("AcresApplied", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="comments">Additional Information/Comments:</label><i> - Optional</i>
            <textarea class="form-control" id="comments" rows="5" name="additonalInfo" placeholder="Additional Information/Comments"></textarea>
        </div>

        <h5><strong>History:</strong><i> - All Optional</i></h5>
        <em>Application numbers and full crop history may be required for previous years as specified in crop standards.</em>
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-2">
                @{
                    ViewBag.name = "historyCropYear1";
                    ViewBag.startYearOffset = 0;
                    ViewBag.endYearOffset = 6;
                }
                @Html.Partial("CropYearDropdown")
            </div>
            
            <div class="col-lg-4 col-sm-4 col-xs-4">
                @{ViewBag.name = "historyCrop1";}
                @Html.Partial("CropDropdown")
            </div>
            <div class="form-group col-md-3">
                <label for="crop-not-in-list">Variety or Crop not in list:</label>
                <input type="text" class="form-control" id="crop-not-in-list" name="historyVarietyCrop1" placeholder="Variety or Crop not in list">
            </div>
            <div class="form-group col-md-3">
                <label for="app-num">Application #:</label>
                <input type="text" class="form-control" id="app-num" name="historyApplicationNum1" placeholder="Application #">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-2">
                @{
                    ViewBag.name = "historyCropYear2";
                    ViewBag.endYearOffset = 6;
                }
                @Html.Partial("CropYearDropdown")
            </div>
            
            <div class="col-lg-4 col-sm-4 col-xs-4">
                @{ViewBag.name = "historyCrop2";}
                @Html.Partial("CropDropdown")
            </div>
            <div class="form-group col-md-3">
                <label for="crop-not-in-list">Variety or Crop not in list:</label>
                <input type="text" class="form-control" id="crop-not-in-list" name="historyVarietyCrop2" placeholder="Variety or Crop not in list">
            </div>
            <div class="form-group col-md-3">
                <label for="app-num">Application #:</label>
                <input type="text" class="form-control" id="app-num" name="historyApplicationNum2" placeholder="Application #">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-2">
                @{
                    ViewBag.name = "historyCropYear3";
                    ViewBag.endYearOffset = 6;
                }
                @Html.Partial("CropYearDropdown")
            </div>
            
            <div class="col-lg-4 col-sm-4 col-xs-4">
                @{ViewBag.name = "historyCrop3";}
                @Html.Partial("CropDropdown")
            </div>
            <div class="form-group col-md-3">
                <label for="crop-not-in-list">Variety or Crop not in list:</label>
                <input type="text" class="form-control" id="crop-not-in-list" name="historyVarietyCrop3" placeholder="Variety or Crop not in list">
            </div>
            <div class="form-group col-md-3">
                <label for="app-num">Application #:</label>
                <input type="text" class="form-control" id="app-num" name="historyApplicationNum3" placeholder="Application #">
            </div>
        </div>
    </section>

    <button type="submit" class="btn btn-primary">Continue with Application</button>
</form>

@section Scripts {
    <script type="text/javascript">
        var form = document.getElementById("seedApplication")
        $('#seedApplication').submit (function(e) {
            // Antiforgery token
            var ajax_af_form = $("#__AjaxAntiForgeryForm");
            const antiforgery = $("input[name='__RequestVerificationToken']", ajax_af_form).val();
            insertHiddenInput('__RequestVerificationToken', antiforgery);
            const defaultButtonVals = ["Crop", "Crop Year", "State/Country", "County", "Continue with Application", "Select an option"];

            var dataToPost = {};
            var growerId = @Model.Organization.OrgId;
            insertHiddenInput("growerId", growerId);
            /* Process form data and assign to object to send to controller */
            for (var i = 0; i < form.length; i++) {
                var input = form[i];
                let name = input.name;
                let innerText = (input.innerText).trim();
                // Value from dropdown list (and not default value)
                if (input.type == "button" && !defaultButtonVals.includes(innerText)) {
                    // add button values to form
                    insertHiddenInput(name, input.value);
                }
            }
            return true;
        });

        /* Fills dropdown button with selected value */
        $('.dropdown-menu').on('click', 'a', function(e) {
            e.preventDefault();
            var text = $(this).html();
            var htmlText = text + ' <span class="caret"></span>';
            $(this).closest('.dropdown').find('.dropdown-toggle').html(htmlText);
            // Set value of button to be value from li
            $(this).closest('.dropdown').find('.dropdown-toggle').val($(this)[0].attributes.value.value);
        });

        function insertHiddenInput(name, insertVal) {
            var inputInsert = $("<input>")
                .attr("type", "hidden")
                .attr("name", name).val(insertVal);
            $("#seedApplication").append(inputInsert); 
        }
    </script>
}