@model CCIA.Models.Applications

<h2>Application Details</h2> 
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="AppId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.AppId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Status" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.Status)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ApplicantId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.ApplicantId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ApplicantOrganization.OrgName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.ApplicantOrganization.OrgName)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Crop.Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.Crop.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ClassProduced.ClassProducedTrans" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.ClassProduced.ClassProducedTrans)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MapVe" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.CheckBox("MapsVe", Model.MapVe ?? false, new {@disabled = true})
                    </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="CertYear" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.CertYear)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AppType" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.AppTypeTrans.AppTypeTrans)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="GrowerId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.GrowerId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="GrowerOrganization.OrgName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.GrowerOrganization.OrgName)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Variety.Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.Variety.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AcresApplied" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.AcresApplied)
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-1 row">
        <label class="col-form-label">Certificates/Tags</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Certificates)
                {
                    <tr>
                        <td>
                            Filedownload -
                            @row.Link
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
</div>
