@model CCIA.Models.IndexViewModels.BulkSalesCertificatesIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-1">
    <table id="table" class="table">
        <thead> 
        <th></th>        
        <th>Cert#</th>
        <th>ID</th>
        <th>Id Type</th>
        <th>Purchaser</th>
        <th>Weight</th>
        <th>Class</th>
        <th>Date</th>
        <th>Share*</th>
        <th>Shared With</th>
        <th>View</th>        
        </thead>
        <tbody>
        
            @foreach (var bsc in Model.bulkSalesCertificates)
            {
            <tr>
               <td><a asp-action="Details" asp-controller="BulkSalesCertificates" asp-route-id="@bsc.Id">Details</a></td>
                <td>@bsc.Id</td>
                <td>@bsc.LinkId</td>
                <td>@bsc.IdType</td>
                <td>@bsc.PurchaserName</td>               
                <td>@bsc.Pounds</td>
                <td>@bsc.Class.Class</td>
                <td>@bsc.Date</td>
                <td>Link to share page</td>
                <td> @Html.Encode(String.Join(", ", bsc.BulkSalesCertificatesShares.Select(s => s.ShareOrganizationId)))</td>
                <td><a asp-action="Details" asp-controller="BulkSalesCertificates" asp-route-id="@bsc.Id">Certificate</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
