@model CCIA.Models.BulkSalesCertificateShareViewModel.BulkSalesCertificateShareViewModel


@{
    ViewData["Title"] = "Share Bulk Sales Certificates";
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Blend Details</h2>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.Date" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.Date)
                </div>
            </div>    
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.IdType" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.IdType)
                </div>
            </div>           
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.LinkId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.LinkId)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.Program" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.Program)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.Pounds" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.Pounds)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.CropName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.CropName)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.VarietyName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.VarietyName)
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <h2>Purchaser</h2>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserName)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserAddressLine1" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserAddressLine1)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserCity" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserCity)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserState.StateProvinceName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserState.StateProvinceName)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserCountry.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserCountry.Name)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserZip" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserZip)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserPhone" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserPhone)
                </div>
            </div>
             <div class="form-group row">
                <label asp-for="BulkSalesCertificate.PurchaserEmail" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.BulkSalesCertificate.PurchaserEmail)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Currently Shared with:</h2>
                </div>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>Org Id</th>
                        <th>Name</th>
                    </tr>
                   @foreach (var share in Model.Shares)
                    {
                        <tr>
                            <td>@share.ShareOrganization.OrgId</td>
                            <td>@share.ShareOrganization.OrgName</td>
                        </tr>
                    } 
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Currently Shared with:</h2>
                </div>
            </div>
        </div>
    </div>
</div>