@model CCIA.Models.Applications
@using CCIA.Helpers;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
 
@{
    bool showPurchasedFrom = false;
    bool showPounds = false;
    bool showPlantsPerAcre = false;
    bool showTHC = false;
}

<h2>Application Details</h2> 
@if(Model.Submitable)
{
    <div class="row col-sm-12">
        <div class="col-sm-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        </div>
        <div class="col-sm-4">
            <form asp-action="Submit">
                <input type="hidden" asp-for="Id">
                <input type="submit" class="btn btn-danger" onclick="return confirm('Once submitted, you will no longer be able to edit application or add/change supporting material. Are you sure you want to submit this application?')" value="Submit Final Application">
            </form>
        </div>
        <div class="col-sm-4">
            <form asp-action="Cancel">
                <input type="hidden" asp-for="Id">
                <input type="submit" class="btn btn-dark" onclick="return confirm('Once cancelled, this app will no longer be available. Are you sure you want to cancel this field?')" value="Cancel Application">
            </form>
        </div>
    </div>    
}
@if(Model.Status == ApplicationStatus.ReturnedToClient.GetDisplayName())
{
    <div class="row col-sm-12">
        <div class="col-sm-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        </div>
        <div class="col-sm-4">
            <form asp-action="ReSubmit">
                <input type="hidden" asp-for="Id">
                <input type="submit" class="btn btn-danger" onclick="return confirm('Once submitted, you will no longer be able to edit application or add/change supporting material. Are you sure you want to submit this application?')" value="ReSubmit Application">
            </form>
        </div>
        <div class="col-sm-4">
            <form asp-action="Cancel">
                <input type="hidden" asp-for="Id">
                <input type="submit" class="btn btn-dark" onclick="return confirm('Once cancelled, this app will no longer be available. Are you sure you want to cancel this field?')" value="Cancel Application">
            </form>
        </div>
    </div>    
}
    <div class="row col-sm-12">
        <div class="col-sm-4">
            <a asp-action="Reuse" asp-route-id="@Model.Id" class="btn btn-info">New App based on this one</a>
        </div>
    @if(Model.CropId ==  (int) CropIdNames.Rice && Model.AppType == AppTypes.Seed.GetDisplayName() && Model.CertYear == CertYearFinder.CertYear - 1)
    {   
        <div class="col-sm-4">
            <a asp-action="Replant" asp-route-id="@Model.Id" class="btn btn-info">Replant this Field</a>
        </div>
    }
    @if(Model.Status == ApplicationStatus.FieldInspectionReportReady.GetDisplayName())
    {    
        <div class="col-sm-4">
            <a asp-action="FIR" asp-route-id="@Model.Id" class="btn btn-info">View FIR</a>
        </div>
    }
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.Id)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Status" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.Status)
                    </div>
                </div>
                @if(!string.IsNullOrWhiteSpace(Model.returnReason))
                {
                    <div class="form-group row">
                        <label asp-for="returnReason" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 form-control-plaintext">
                            @Html.DisplayFor(x => x.returnReason)
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label asp-for="ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Applicant</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.ApplicantOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Crop.Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.Crop.Name) 
                        @if(Model.Subspecies != null)
                        {
                            <span>(Subspecies: @Model.Subspecies.Name)</Span>
                        }
                </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ClassProduced.ClassProducedTrans" class="col-sm-3 col-form-label">Class</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.ClassProduced.ClassProducedTrans)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MapVe" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="MapVe" class="col-sm-3 form-control">   
                    @if(Model.MapVe)
                    {
                        <div>
                            <a class="btn btn-info" asp-action="FieldMap" asp-area="client" asp-controller="Application" asp-route-id="@Model.Id">View Map</a>
                        </div>  
                    }                 
                </div>
                 <div class="form-group row">
                    <a class="btn btn-warning" asp-action="NewMap" asp-area="client" asp-controller="Application" asp-route-id="@Model.Id">Update/Create Map</a> |
                    <a class="btn btn-warning" asp-action="LinkMap" asp-area="client" asp-controller="Application" asp-route-id="@Model.Id">Link to Isoloation Map</a>
                </div> 
                <div class="form-group row">
                    <label asp-for="FieldName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.FieldName)
                    </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="CertYear" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.CertYear)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AppType" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.AppTypeTrans.AppTypeTrans)
                    </div>
                </div>               
                <div class="form-group row">
                    <label asp-for="GrowerOrganization.NameAndId" class="col-sm-3 col-form-label">Grower</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.GrowerOrganization.NameAndId)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Variety.Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.Variety.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AcresApplied" class="col-sm-3 col-form-label">Acres</label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.AcresApplied) 
                        @if(Model.IsSquareFeet)
                        {
                            <span>Square feet</span>
                        } 
                        (Mapped: @Html.DisplayFor(x => x.AreaAcres) )
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="DatePlanted" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.DatePlanted)
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="County.Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 form-control-plaintext">
                        @Html.DisplayFor(x => x.County.Name)
                    </div>
                </div>                
                <div class="form-group row">
                    <label asp-for="NSG0StateProvinceIdCollected" class="col-sm-6 col-form-label"></label>
                    <div class="col-sm-6 form-control-plaintext">
                        @Html.DisplayFor(x => x.NSG0StateProvince.Name)
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-1 row">
         <h3>Certificates/Tags</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Certificates)
                    {
                        <tr>
                            <td>@row.Name</td>
                            <td>
                               <a asp-action=GetCertificateFile asp-route-id="@Model.Id" asp-route-link="@row.Link">@row.Link</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <hr />
        </div>
    <hr>
    <form enctype="multipart/form-data" method="post" asp-action="UploadCertificate">
    <h3>Upload new Certificate/Document</h3>
        <input type="hidden" name="id" id="id" value="@Model.Id">
         <div class="form-group row">
                <label class="col-sm-3 col-form-label">Certificate Name</label>
                <input id="certName" name="certName" class="col-form">
            </div>
        
        <input id="file" name="file" type="file">            
        <input class="btn btn-primary" type="submit" value="Upload" disabled />
        <br>Allowed files: @Configuration["AllowedFiles"]
    </form>
    @if(Model.AppType == AppTypes.Potato.GetDisplayName())
    {
        <div><h4>New Potato Document Requirements:</h4>
        <ol>
            <li>If out-of-state Planting Stock: <b>Cert Tag or Bulk Sales Certificate</b></li>
            <li><b>North American Seed Potato Health Certificate (NASPHC)</b> showing seed lot was tested and passed Post Harvest Test</li>
            <li><b>Shipping Point Inspection Report</b> indicating seed lot has less than 0.5% tuber necrosis (may not be available depending on origin state)</li>
        </ol>
        </div>
    }
    <hr>
    @if(Model.Sites.Any())
    {
         <div class="row">
            <label class="col-form-label">G0 Harvest Sites</label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Ownership/Size</th>                            
                        <th>Harvest Date</th>
                        <th>Lat</th>
                        <th>Long</th>                        
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Sites)
                    {
                        <tr>
                            <td>@row.SiteName</td>
                            <td>@row.OwnershipOrSize</td>
                            <td>@row.HarvestDate</td>
                            <td>@row.Lat</td>
                            <td>@row.Long</td>
                            <td>@row.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if(Model.PlantingStocks.Any())
    {
    <div class="row">
        <label class="col-form-label">Planting Stock Info</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Cert#</th>
                    <th>Variety</th>
                    @if(Model.PlantingStocks.First().PoundsPlanted != null || Model.PlantingStocks.Last().PoundsPlanted != null)
                    {
                        showPounds = true;
                        <th>Pounds Planted</th>
                    } 
                    @if(Model.PlantingStocks.First().PlantsPerAcre != null || Model.PlantingStocks.Last().PlantsPerAcre != null)
                    { 
                        showPlantsPerAcre = true;                       
                        <th>Plants/Acre</th>
                    }                 
                    <th>Class</th>
                    <th>Tag Issued</th>
                    <th>Grown</th>
                    @if(Model.PlantingStocks.First().SeedPurchasedFrom != null || Model.PlantingStocks.Last().SeedPurchasedFrom != null)
                    {
                        showPurchasedFrom = true;
                        <th>Purchased From</th>
                    } 
                    @if(Model.AppType == "PO")
                    {
                        <th>Winter test?</th>
                        <th>PVX test?</th>
                    }
                    @if(Model.PlantingStocks.First().ThcPercent != null || Model.PlantingStocks.Last().ThcPercent != null)
                    {
                        showTHC = true;
                        <th>THC%</th>
                    } 
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.PlantingStocks.OrderBy(p => p.PsId))
                {
                    <tr>
                        <td>
                            @row.PsCertNum
                        </td>
                        <td>@row.PsEnteredVariety</td>
                        @if(showPounds)
                        {
                            <td>@Html.DisplayFor(x => row.PoundsPlanted)</td>
                        }
                        @if(showPlantsPerAcre)
                        {
                            <td>@row.PlantsPerAcre</td>
                        }                        
                        <td>@if(row.PsClassNavigation != null)
                                {@row.PsClassNavigation.ClassProducedTrans
                                    @if(row.PsAccession != null){
                                        <span>- @row.PsAccession</span>
                                    }
                                }
                            </td>
                         @if(@row.TaggedStateProvince != null)
                        {
                            <td>@row.TaggedStateProvince.Name</td>
                        } else if(@row.TaggedCountry != null){
                            <td>@row.TaggedCountry.Name</td>
                        } else {
                            <td>???</td>
                        }
                        @if(@row.GrownStateProvince != null && @row.GrownStateProvince.Name != null)
                        {
                            <td>@row.GrownStateProvince.Name</td>
                        }  else if(@row.GrownCountry != null) 
                        {
                            <td>@row.GrownCountry.Name</td>
                        } else {
                            <td>???</td>
                        }                                                              
                        @if(showPurchasedFrom)
                        {
                            <td>@row.SeedPurchasedFrom</td>
                        }                        
                        @if(Model.AppType == "PO")
                        {
                            <td>@Html.DisplayFor(x => row.WinterTest)</td>
                            <td>@Html.DisplayFor(x => row.PvxTest)</td>
                        }
                        @if(showTHC)
                        {
                            <td>@row.ThcPercent</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    <div class="row">
        <hr />
    </div>  
    <div class="row">
        <label class="col-form-label">Field History</label>
        <table class="table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Crop</th>
                <th>Variety</th>
                <th>Application #</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.FieldHistories.OrderBy(h => h.Year))
            {
                <tr>                    
                    <td>@row.Year</td>
                    <td>@(@row.FHCrops == null ? "" : @row.FHCrops.Name)</td>
                    <td>@row.Variety</td>
                    <td>@row.AppNumber</td>
                </tr>
            }
            </tbody>
        </table>
    </div>  
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(
            function(){
                $('input:file').change(
                    function(){
                        if ($(this).val()) {
                            $('input:submit').removeAttr('disabled'); 
                        } 
                    }
                );
            $(":checkbox").on("click", false);
        });
    </script>
   
}