@model CCIA.Models.IndexViewModels.ApplicationIndexViewModel


@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_IndexHeaderPartial", @Model)

<div class="col-lg-12">
    <table id="table" class="table">
        <thead>
            <th></th>
            @if(Model.IsFIR)
            {
                <th>FIR</th>
            }
        <th>AppId</th>
        <th>Type</th>
        <th>Cert Year</th>
        <th>Grower</th>
        <th>Field Name</th>
        @if(Model.IsFIR)
        {
            <th>Cert#</th>
            <th>Fld Insp Comments</th>
            <th>Acres Approved</th>
            <th>Acres Rejected</th>
            <th>Acres Insp Only</th>
            <th>Acres Growout</th>
            <th>Acres No Crop</th>
        }
        @if(!Model.IsFIR)
        {
            <th>Acres</th>
        }        
        <th>County</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Class</th>
        @if(!Model.IsFIR)
        {
            <th>Map</th>
        }        
        <th>Status</th>
        </thead>
        <tbody>
        
            @foreach (var app in Model.applications)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="Application" asp-route-id="@app.Id" class="btn btn-info">Details</a></td>
                @if(Model.IsFIR)
                {
                    <td><a asp-action="FIR" asp-route-id="@app.Id" class="btn btn-info">FIR</a></td>
                }
                <td>@app.Id</td>
                <td>@app.AppType</td>
                <td>@app.CertYear</td>
                 @if (app.GrowerOrganization == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@app.GrowerOrganization.Name</td>
                }               
                <td>@app.FieldName</td>
                @if(Model.IsFIR)
                {
                    <td>@app.FullCert</td>
                    <td>@app.FieldInspectionReport.Comments</td>
                    <td>@app.FieldInspectionReport.AcresApproved</td>
                    <td>@app.FieldInspectionReport.AcresRejected</td>
                    <td>@app.FieldInspectionReport.AcresInspectionOnly</td>
                    <td>@app.FieldInspectionReport.AcresGrowout</td>
                    <td>@app.FieldInspectionReport.AcresNoCrop</td>
                }
                @if(!Model.IsFIR)
                {
                    <td>@app.AcresApplied
                        @if(app.IsSquareFeet)
                        {
                            <span>Square feet</span>
                        } 
                    </td>
                }
                
                <td>@app.County.Name</td>
                <td>@app.Crop.Name</td>
                @if (app.AppType == "PV" || app.SelectedVarietyId==null)
                {
                    <td></td>
                }
                else
                {
                    <td>@app.VarietyName</td>
                }
               @if (app.ClassProduced != null)
                {
                    <td>@app.ClassProduced.ClassProducedTrans</td>
                }
                else
                {
                    <td>@app.ClassProducedId</td>
                }
                @if(!Model.IsFIR)
                {
                    <td><input type="checkbox" asp-for="@app.MapVe" class="form-control"></td>
                }
                <td>@app.Status</td>
            </tr>
            }
        </tbody>
    </table>
</div>


<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $(":checkbox").on("click", false);
            $('#table').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                order: [[ 1, "asc"]],
                columnDefs: [{ targets: 0, orderable: false}],
                pageLength: 100,
            });
            
        } );
       
    </script>
}
