@using Microsoft.Extensions.Configuration
@using CCIA.Helpers
@inject IConfiguration Configuration
@model  CCIA.Models.SeedsViewModels.ClientSeedsViewModel


<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Seed Lot Details</h2>
                </div>
            </div>
            @if(Model.seed.Status == SeedsStatus.SIRReady.GetDisplayName())
            {
                 <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="SIR" asp-route-id="@Model.seed.Id" class="btn btn-info">View Seed Inspection Report</a> 
                    </div>
                </div>
            }
            @if((Model.seed.Submitted == false || Model.seed.Status == SeedsStatus.ReturnedToClient.GetDisplayName()) && (Model.seed.Status != SeedsStatus.CancelledByCCIA.GetDisplayName() && Model.seed.Status != SeedsStatus.CancelledByOrganization.GetDisplayName()))
            {               
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Edit" asp-route-id="@Model.seed.Id" class="btn btn-info">Edit Seed Lot</a> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form asp-action="Submit">
                            <input type="hidden" name="id" id="id" value="@Model.seed.Id">
                            <input type="submit" value="Submit for Certification" class="btn btn-primary" onclick="return confirm('Once submitted, you will no longer be able to edit lot information or add/change supporting material. \n\nAre you sure you want to submit this lot for certification?')">
                        </form>                        
                    </div>
                    <div class="col-sm-6">
                        <form asp-action="Cancel">
                            <input type="hidden" name="id" id="id" value="@Model.seed.Id">
                            <input type="submit" value="Cancel Lot" class="btn btn-dark" onclick="return confirm('Once cancelled, this lot will not be active or usable to make tags, blends, transfers, or bulk sales. \n\nAre you sure you want to cancel this lot?')">
                        </form>                        
                    </div>
                </div>
            }
            <div class="form-group row">
                <label asp-for="seed.Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.Id)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.CertProgram" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.AppTypeTrans.AppTypeTrans)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.CertYear" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.CertYear)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Conditioner</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ConditionerOrganization.NameAndId)
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ApplicantOrganization.NameAndId" class="col-sm-3 col-form-label">Applicant</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ApplicantOrganization.NameAndId)
                </div>
            </div>   
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Crop</label>
                <div class="col-sm-9 form-control-plaintext">
                   @Model.seed.GetCropName()
                </div>
            </div>   
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Variety</label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.seed.GetVarietyName()
                </div>
            </div>  
            <div class="form-group row">
                <label asp-for="seed.ClassProduced.CertClass" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.ClassProduced.CertClass)
                </div>
            </div>
            @if (Model.seed.OriginState != 102)
            {
                <div class="form-group row">
                        <label asp-for="seed.CertByOtherAgency" class="col-sm-8 col-form-label"></label>
                    <input type="checkbox" asp-for="seed.CertByOtherAgency" class="col-sm-1 form-control disabled">
                </div>
            }
            @if(Model.seed.GetCropId() == 74)
            {
                <div class="form-group row">
                    <label asp-for="seed.NotFinallyCertified" class="col-sm-8 col-form-label"></label>
                    <input type="checkbox" asp-for="seed.NotFinallyCertified" class="col-sm-1 form-control disabled">
                </div>
            }
            <div class="form-group row">
                <label asp-for="seed.CertNumber"  class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.seed.CertNumber
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seed.LotNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.LotNumber)
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="seed.PoundsLot" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.PoundsLot)
                </div>
            </div> 
                <div class="form-group row">
                <label asp-for="seed.Remarks" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.Remarks)
                </div>
            </div> 
                <div class="form-group row">
                <label asp-for="seed.Status" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.DisplayFor(x => x.seed.Status)
                </div>
            </div>  
            @if(!string.IsNullOrWhiteSpace(Model.seed.ReturnReason))
                {
                    <div class="form-group row">
                        <label asp-for="seed.ReturnReason" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 form-control-plaintext">
                            @Html.DisplayFor(x => x.seed.ReturnReason)
                        </div>
                    </div>
                }
            <div>
                @if(Model.seed.SeedsApplications.Count > 0)
                {
                    @:Apps in this lot:
                    <table class="table">
                        <tr>
                            <th>AppID</th>
                            <th>Grower</th>
                            <th>Acres</th>
                        </tr>
                        @foreach(var app in Model.seed.SeedsApplications)
                        {
                            <tr>
                                <td>@app.Application.Id</td>
                                <td>@app.Application.GrowerOrganization.Name</td>
                                <td>@app.Application.AcresApplied 
                                    @if(app.Application.IsSquareFeet)
                                    {
                                        <span>Square feet</span>
                                    } 
                                </td>
                            </tr>
                        }
                    </table>
                }           
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td class="align-middle"> 
                            @if(Model.Documents.Any())
                            {
                                <h3>Supporting Documents</h3>
                                <table class="table">
                                    <tr>
                                        <th>File</th>
                                        <th>Type</th>
                                    </tr>
                                    @foreach (var document in Model.Documents)
                                    {
                                        <tr>
                                            <td><a asp-action="GetSeedFile" asp-route-id="@document.Id">@document.Link</a></td>
                                            <td>@document.DocumentType.Name</td>
                                        </tr>                                
                                    }
                                </table>
                            }
                        </td>
                    </tr>
                    <tr><td><hr><br></td></tr>
                    @if (Model.seed.Status != SeedsStatus.CancelledByCCIA.GetDisplayName() && Model.seed.Status != SeedsStatus.CancelledByOrganization.GetDisplayName())
                    {
                        <tr>
                            <td>
                                <form enctype="multipart/form-data" method="post" asp-action="UploadSeedDocument">
                                    <h3>Upload new Document</h3>
                                    <input type="hidden" name="id" id="id" value="@Model.seed.Id">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">File Name</label>
                                        <input id="certName" name="certName" class="col-form col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Doc Type</label>
                                        <select name="doctype" id="docType" class="form-control col-sm-8" asp-items="@(new SelectList(Model.documentTypes, "Id","Name"))"></select>
                                    </div>
                                    <input id="file" name="file" type="file">            
                                    <input class="btn btn-primary" type="submit" value="Upload" disabled />
                                    <br>Allowed files: @Configuration["AllowedFiles"]
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div> 
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Lab Results</h2>
                </div>
            </div>
            @if ((Model.seed.Submitted == false || Model.seed.Status == SeedsStatus.ReturnedToClient.GetDisplayName()) && (Model.seed.Status != SeedsStatus.CancelledByCCIA.GetDisplayName() && Model.seed.Status != SeedsStatus.CancelledByOrganization.GetDisplayName()))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Edit" asp-controller="SampleLabResults" asp-route-id="@Model.seed.Id" class="btn btn-info">Edit Lab Results</a>
                    </div>
                </div>
            }
            @await Html.PartialAsync("../SampleLabResults/_SampleLabResultsDetails.cshtml", Model.LabsAndStandards)
                         
        </div>       
    </div>
</div>

@section Scripts {
    <script>        
        $(document).ready(
            function(){
                $('input:file').change(
                    function(){
                        if ($(this).val()) {
                            $('input:submit').removeAttr('disabled'); 
                        } 
                    }
                );
            $(":checkbox").on("click", false);
        });
    </script>
   
}

