@model CCIA.Models.AdminChargesSearchViewModel

<h3>Charges</h3>
<form asp-action="Charges" method="POST">
<div class="container col-sm-2">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#SearchCollapse" aria-expanded="false" aria-controls="SearchCollapse">
    Hide Search
  </button>
</div>
<div class="container col-sm-10 collapse show" id="SearchCollapse">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-6 col-xl-4">@* First column*@ 
            <div class="form-group row">
                <label asp-for="beginDate" class="col-sm-3 col-form-label">Begin Date</label>
                <input type="text" asp-for="beginDate" class="form-control col-sm-4 datepicker">
            </div>    
        </div>
        <div class="col-md-6 col-xl-4">@* Second column*@ 
            <div class="form-group row">
                <label asp-for="endDate" class="col-sm-3 col-form-label">Begin Date</label>
                <input type="text" asp-for="endDate" class="form-control col-sm-4 datepicker">
            </div>    
        </div>
        <div class="col-md-6 col-xl-4">@* Third column*@ 
            <div class="form-group row">
                <label asp-for="reportDate" class="col-sm-3 col-form-label">Begin Date</label>
                <input type="text" asp-for="reportDate" class="form-control col-sm-4 datepicker">
            </div>    
        </div>
    </div>
    <div>
        <input type="submit" value="Search" class="btn btn-primary"></input> 
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<hr>
</form>
@if(Model.charges.Any())
{
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

<table id="table" class="table datatables">
    <thead>
        <tr>
            <th>LinkId</th>
            <th>LinkType</th>
            <th>OrgId</th>
            <th>Org</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.charges)
        {
            <tr>
                <td>@row.LinkId</td>
                <td>@row.LinkType</td>
                <td>@row.OrgId</td>
                <td>@row.Organization.Name</td>
                <td>@row.ChargeCategory</td>
                <td>@row.ChargeAmount</td>
                <td>@row.Description</td>
                <td>@row.DateEntered</td>
            </tr>            
        }
    </tbody>
</table>



}

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script>
    

    <script>
        $(document).ready( function () {
            $('.datepicker').datepicker();
            $('#table').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                order: [[ 1, "asc"]],
                "pageLength": 50,
            });
        } );
    </script>
}