@model List<CCIA.Models.Charges>

<h3>Corrected Charges</h3>
<hr>
@if(Model.Count > 0)
{
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

<table id="table" class="table datatables">
    <thead>
        <tr>
            <th></th>
            <th>Charge ID</th>
            <th>Link ID</th>
            <th>LinkType</th>
            <th>OrgId</th>
            <th>Org</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Correction?</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>
                    @if(row.LinkType=="Applications")
                    {
                        <a asp-action="details" asp-controller="application" asp-route-id="@row.LinkId" class="btn btn-info" target="_blank">Details</a>
                    }
                    @if(row.LinkType=="Turfgrass Certificate")
                    {
                        <a asp-action="Certificate" asp-controller="Turfgrass" asp-route-id="@row.LinkId" class="btn btn-info" target="_blank">Details</a>                        
                    }
                    @if(row.LinkType=="Map")
                    {
                        <a href="https://ccia.ucdavis.edu/pinning-maps" class="btn btn-info" target="_blank">Maps</a>                        
                    }
                    @if(row.LinkType=="OECD")
                    {
                        <a asp-action="details" asp-controller="OECD" asp-route-id="@row.LinkId" class="btn btn-info" target="_blank">Details</a>                        
                    }
                    @if(row.LinkType=="Seeds")
                    {
                        <a asp-action="details" asp-controller="Seeds" asp-route-id="@row.LinkId" class="btn btn-info" target="_blank">Details</a>                        
                    }
                </td>
                <td>@row.ChgId</td>
                <td>@row.LinkId</td>
                <td>@row.LinkType</td>
                <td>@row.OrgId</td>
                <td>@row.Organization.Name</td>
                <td>@row.ChargeCategory</td>
                <td>@row.ChargeAmount</td>
                <td>@row.Description</td>
                <th><input type="checkbox" checked=@row.Correction class="form-control"></th>
                <td>@row.DateEntered</td>                
            </tr>            
        }
    </tbody>
</table>


<form asp-action="MarkCorrections" method="POST">
    <div class="col-sm-3">
            <input type="submit" name="submit" value="Mark Complete" class="btn btn-primary"></input>
        </div>
</form>



}

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script>    

    <script>
        $(document).ready( function () {
            $(":checkbox").on("click", false);            
            $('#table').DataTable({
                dom: 'lfrtip',                
                order: [[ 1, "asc"]],
                "pageLength": 1000,
                lengthMenu: [
                    [100, 500, 1000, -1],
                    [100, 500, 1000, 'All'],
                ],
            });
        } );
    </script>
}