<table class="table">
    <thead>
        <tr>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
        <tr>
            <td>@Model.Organization.OrgId</td>
            <td>@Model.Organization.OrgName</td>
            <td>@Model.Organization.Address.Address1</td>
            <td>@Model.Organization.Address.City</td>
            <td>@Model.Organization.Address.StateProvince.StateProvinceName</td>
        </tr>
    </tbody>
</table>